// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

$button-accent-color: nth($brand-accent-colors, 1);
$hover-darken: 15%;
$active-darken: 20%;

.button {
  border-radius: 5px;

  &:not(.button--disabled):not(.button--plain):not(.button--fill) {

    &:hover {
      box-shadow: 0px 0px 0px 2px $button-border-color;
    }

    &.button--primary {
      &:hover {
        box-shadow: 0px 0px 0px 2px $brand-color;
      }
    }

    &.button--secondary {
      &:hover {
        box-shadow: 0px 0px 0px 2px $button-secondary-color;
      }
    }

    &.button--accent {
      &:hover {
        box-shadow: 0px 0px 0px 2px $button-accent-color;
      }
    }

    #{$dark-background-context} & {

      &:hover {
        box-shadow: 0px 0px 0px 2px $button-colored-border-color;
      }

      &.button--primary {
        &:hover {
          box-shadow: 0px 0px 0px 2px $brand-color;
        }
      }

      &.button--secondary {
        &:hover {
          box-shadow: 0px 0px 0px 2px $button-colored-border-color;
        }
      }

      &.button--accent {
        &:hover {
          box-shadow: 0px 0px 0px 2px $button-accent-color;
        }
      }
    }
  }

  &--fill:not(.button--disabled):not(.button--plain) {
    &:hover {
      padding: ($button-vertical-padding - ($button-border-width))
        ($button-horizontal-padding - ($button-border-width));
      border-width: double($button-border-width);
    }

    @include media-query(lap-and-up) {
      transition: none;
    }
  }
}
