// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-edit {
  &__attributes > li.index-edit__attribute {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__attribute {
    &--placeholder {
      background-color: $sort-placeholder-background-color;
    }
  }

  &__drag-handle {
    position: relative;
    top: quarter($inuit-base-spacing-unit);
    height: $inuit-base-spacing-unit;
    cursor: move;
  }

  &__attribute-name {
    display: inline-block;
    width: $panel-width;
  }

  label.checkbox {
    display: inline-block;
  }
}
