// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-results {

  &__container {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    @include media-query(palm) {
      padding-bottom: double($inuit-base-spacing-unit);
    }
  }

  &__resources {
    -webkit-flex: 1;
    flex: 1;
    padding-top: $index-content-top;
    padding-left: quadruple($inuit-base-spacing-unit);
    padding-right: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit;
    overflow: auto;

    @include media-query(palm) {
      padding: 0px;
    }
  }

  &__aggregates {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-top: $index-content-top;
    text-align: center;

    @include media-query(palm) {
      display: none;
    }
  }

  &__more-down, &__more-up {
    color: $secondary-color;
    font-style: italic;
    margin: $inuit-base-spacing-unit;
  }

  ol.index__aggregates > li.index__aggregate {
    padding: 0px $inuit-base-spacing-unit;
  }

  &__edit {
    position: fixed;
    bottom: halve($inuit-base-spacing-unit);
    right: halve($inuit-base-spacing-unit);
  }
}

.index-aggregate {
  &__header {
    margin-top: 0px;
  }
}
