// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-resource {
  position: relative;

  &__close {
    position: absolute;
    z-index: 2;
    margin: $inuit-base-spacing-unit halve($inuit-base-spacing-unit);
    display: none;

    @include media-query(lap-and-up) {
      position: fixed;
      top: quadruple($inuit-base-spacing-unit);
    }

    svg {
      position: relative;
      top: 2px;
      width: $inuit-base-spacing-unit;
      height: $inuit-base-spacing-unit;
    }
  }

  &--active {
    .index-resource__close {
      display: block;
    }
  }

  &__previous-container, &__next-container {
    position: absolute;
    top: 50vh;
    left: $inuit-base-spacing-unit;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
  }

  &__previous-container {
    left: 0px;
  }

  &__next-container {
    left: auto;
    right: 0px;
  }

  &__previous, &__next {
    position: relative;
    top: auto;
    z-index: 2;

    @include media-query(lap-and-up) {
      position: fixed;
    }

    svg {
      position: relative;
      width: $inuit-base-spacing-unit;
      height: $inuit-base-spacing-unit;
    }
  }
}
