// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-header {
  position: relative;
  height: quadruple($inuit-base-spacing-unit);
  @include inuit-font-size($inuit-heading-size-2, quadruple($inuit-base-spacing-unit));
  padding: 0;
  padding-left: quadruple($inuit-base-spacing-unit);
  padding-right: $inuit-base-spacing-unit;
  display: -webkit-flex;
  display: flex;

  @include media-query(palm) {
    padding-left: $inuit-base-spacing-unit;
    padding-right: halve($inuit-base-spacing-unit);
  }

  &__title {
    -webkit-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;

    @include media-query(palm) {
      display: inline-block;
    }
  }

  &__filter-control {
    position: absolute;
    top: 0px;
    left: 0px;
    width: double($inuit-base-spacing-unit);
    height: quadruple($inuit-base-spacing-unit);

    @include media-query(palm) {
      position: relative;
    }
  }

  &__search {
    -webkit-flex: 1;
    flex: 1;

    @include media-query(palm) {
      display: none;
    }

    &--active {
      //margin: 0px halve($inuit-base-spacing-unit);

      @include media-query(lap-and-up) {
        min-width: $panel-width;
      }
    }
  }

  &__count {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    //min-width: quadruple($inuit-base-spacing-unit);
    padding: 0 $inuit-base-spacing-unit;
    color: $secondary-color;
    text-align: right;
    white-space: nowrap;

    @include media-query(palm) {
      padding: 0px halve($inuit-base-spacing-unit);
    }
  }

  &__count-out-of {
    margin-left: halve($inuit-base-spacing-unit);
    @include inuit-font-size($inuit-base-font-size);
    display: none;

    &--active {
      display: inline;

      @include media-query(palm) {
        margin-left: 0.5em;
      }
    }
  }

  &__add {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: $panel-width;
    margin: 0;
    padding: 0 $inuit-base-spacing-unit;
    margin-left: $inuit-base-spacing-unit;
    border-radius: $border-radius;
    text-align: center;
    text-decoration: none;

    &--active {
      &:hover {
        text-decoration: underline;
        //background-color: $hover-background-color;
      }
    }

    @include media-query(palm) {
      position: fixed;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
      margin: 0px;
      @include inuit-font-size($inuit-heading-size-3, double($inuit-base-spacing-unit));
      background-color: $background-color;
      border-top: 1px solid $border-color;

      &:hover {
        background-color: $background-color;
      }
    }
  }
}
