// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-table {
  position: relative;
  //display: inline-block;
  width: 100%;

  &__header-mirror {

    &-container {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: double($inuit-base-spacing-unit);
    }

    &-table {
      position: fixed;
      background-color: $header-background-color;
      margin-bottom: 0px;

      @include media-query(palm) {
        position: static;
      }
    }
  }

  &__table, &__header-mirror-table {
    width: 100%;
    text-align: left;

    thead {
      td, th {
        color: $secondary-text-color;
        font-weight: normal;
        border-bottom: 1px dashed $border-color;
        vertical-align: top;

        &:first-child {
          padding-left: $inuit-base-spacing-unit;
        }

        &:last-child {
          padding-right: $inuit-base-spacing-unit;
        }

        @include media-query(palm) {
          &:nth-child(n+3) {
            display: none;
          }
        }
      }
    }

    tbody tr {
      cursor: pointer;

      td {
        vertical-align: top;
        padding: 0px;

        &.index-table__cell--icon {
          svg {
            width: halve($inuit-base-spacing-unit);
            height: halve($inuit-base-spacing-unit);
          }
        }

        a {
          display: block;
          color: $text-color;
          padding: halve($inuit-base-spacing-unit);

          &:hover {
            text-decoration: none;
          }
        }

        &:first-child a {
          padding-left: $inuit-base-spacing-unit;
        }

        &:last-child a {
          padding-right: $inuit-base-spacing-unit;
        }

        @include media-query(palm) {
          &:first-child {
            a {
              padding-left: $inuit-base-spacing-unit;
            }
          }

          &:nth-child(n+3) {
            display: none;
          }
        }
      }

      &:hover {
        td {
          background-color: $hover-background-color;

          &:first-child {
            border-radius: $border-radius 0px 0px $border-radius;
          }

          &:last-child {
            position: relative;
          }
        }
      }
    }
  }

  &__table {
    thead {
      visibility: hidden; // the header mirror is what we show

      td, th {
        border-color: transparent;
      }
    }
  }

  &__header-icon {
    width: halve($inuit-base-spacing-unit);
    height: halve($inuit-base-spacing-unit);
  }

  table.table--cosy tbody td.index-table__cell--activity {
    padding: quarter($inuit-base-spacing-unit);

    > a {
      padding: 0px;
    }
  }

  &__cell--activity {

    .index-activity {
      position: relative;
      border: 1px solid $unknown;
      border-radius: $border-radius;
      margin-left: halve($inuit-base-spacing-unit);
      padding: quarter($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
      background-color: $background-color;

      &:before {
        content: '';
        position: absolute;
        top: 0px;
        left: - halve($inuit-base-spacing-unit);
        width: halve($inuit-base-spacing-unit);
        height: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
        border-width: (halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit))
          halve($inuit-base-spacing-unit)
          (halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit)) 0px;
        border-style: solid;
        border-color: transparent $unknown;
      }

      @each $status, $color in $brand-status-colors {
        &--#{$status} {
          border-color: $color;

          &:before {
            content: '';
            border-color: transparent $color;
          }
        }
      }

      &__name, &__progress {
        display: inline-block;
        margin-right: halve($inuit-base-spacing-unit);
      }

      &__progress {
        white-space: nowrap;
      }

      &__timestamp {
        max-width: $panel-width;
        text-align: right;
        color: $secondary-text-color;
        white-space: nowrap;
      }
    }
  }
}
