// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$header-gutter: quadruple($inuit-base-spacing-unit);
$filter-width: $panel-width + halve($panel-width);
$index-content-top: round($inuit-base-spacing-unit * 8);

.index {
  position: static;
  min-height: 100vh; // so we can scroll header off

  @include media-query(lap-and-up) {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-flex;
    display: flex;
  }

  &__filter {
    position: relative;
    overflow: auto;
    display: none;

    @include media-query(lap-and-up) {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
      width: 0px;
      //transition: width $base-animation-duration;
    }

    &--active {
      display: block;
      width: 100vw;

      @include media-query(lap-and-up) {
        width: $filter-width;
      }

      .index__filter-close-container {
        display: block;
      }
    }
  }

  &__content {
    position: relative;

    @include media-query(lap-and-up) {
      -webkit-flex: 1;
      flex: 1;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;

      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: round($inuit-base-spacing-unit * 5);
        bottom: $inuit-base-spacing-unit;
        border-right: 1px solid $border-color;
        z-index: 2;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0px;
        top: round($inuit-base-spacing-unit * 5);
        bottom: $inuit-base-spacing-unit;
        border-right: 1px solid $border-color;
        z-index: 1;
      }
    }
  }

  &__header {
    top: 0px;

    @include media-query(lap-and-up) {
      top: quadruple($inuit-base-spacing-unit);
    }
  }

  &__results {
    width: 100%;
    @include media-query(lap-and-up) {
      height: 100vh;
    }
  }

  &__resource {
    position: relative;
    width: 0px;
    overflow: auto;
    background-color: $background-color;
    //transition: width double($base-animation-duration);

    &--active {
      width: 100vw;
    }

    @include media-query(lap-and-up) {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;

      &--active {
        -webkit-flex: 2;
        flex: 2;
        width: auto;
      }
    }
  }

  &__edit {
    position: fixed;
    bottom: halve($inuit-base-spacing-unit);
    right: halve($inuit-base-spacing-unit);
  }

  &--shared {

    &__edit {
      display: none;
    }

    @include media-query(palm) {
      .index {
        &__content {
          display: none;
        }
      }
    }
  }
}

.index-aggregate {
  &__header {
    margin-top: 0px;
  }
}
