// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index-filter-control {
  position: relative;
  top: $inuit-base-spacing-unit;
  vertical-align: top;

  @include media-query(lap-and-up) {
    border: 1px solid $border-color;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.index-filter {
  overflow: hidden;

  @include media-query(palm) {
    @include inuit-font-size($inuit-heading-size-4);
    height: 0px;
  }

  &__header {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    height: quadruple($inuit-base-spacing-unit);
    @include inuit-font-size($inuit-heading-size-2, quadruple($inuit-base-spacing-unit));
    padding: 0;
    background-color: $header-background-color;
    z-index: 1;

    @include media-query(lap-and-up) {
      position: fixed;
      top: quadruple($inuit-base-spacing-unit);
      left: -$filter-width;
      width: $filter-width - 1;
    }
  }

  &--active {
    overflow: auto;

    @include media-query(palm) {
      min-height: 100vh;
    }

    .index-filter__header {
      left: 0px;
    }
  }

  &__title {
    position: relative;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: $inuit-base-spacing-unit;
  }

  &__close {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    margin: $inuit-base-spacing-unit halve($inuit-base-spacing-unit);
  }

  &__reset {
    -webkit-flex: 1;
    flex: 1;
    color: $link-color;
    text-align: right;
    //margin-right: quadruple($inuit-base-spacing-unit);
    cursor: pointer;
    visibility: hidden;

    &--active {
      visibility: visible;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__contents {
    padding-top: $index-content-top;

    @include media-query(palm) {
      padding-top: 0px;
    }
  }

  &__search {
    position: relative;
    padding: 0px $inuit-base-spacing-unit;

    @include media-query(palm) {
      @include inuit-font-size($inuit-heading-size-3);
    }
  }

  &__search-header {
    margin-bottom: quarter($inuit-base-spacing-unit);
  }

  .index-search { // TODO: make .index-search respond better itself
    &__clear {
      top: 0px;
      right: quarter($inuit-base-spacing-unit);
    }
  }
}
