// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

//for hpe theme, uncomment the following import
@import '~grommet/scss/hpe/hpe.defaults';

@import '~grommet/scss/grommet-core/index';
