// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

//
// Aruba Brand colors grabbed from www.arubanetworks.com and
// http://www.arubanetworks.com/assets/ds/DS_AW.pdf
//
$brand-font-family: 'Open Sans', Arial, sans-serif;

$brand-color: #222222; // so dark background context works
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#00C9FF, #64FF00, #D0011B, #FFED00);
$brand-accent-colors: (#FFED00, #00C9FF);
$brand-status-colors: (
  critical: #D0011B,
  error: #D0011B,
  warning: #FFED00,
  ok: #64FF00,
  unknown: #AAADAE,
  disabled: #AAADAE
);
$brand-link-color: $brand-color;
$brand-grey-colors: (#000001, #333333, #666666, #787878);
$brand-light-colors: (#ffffff, #D9D9D9, #AAADAE);
$brand-graph-colors: (#00C9FF, #64FF00, #D0011B, #FFED00);
$focus-border-color: #FFED00;
$hover-background-color: #D9D9D9;
$selected-background-color: #333333;
$colored-text-color: #FFFFFF;

@import '../grommet-core/settings';

// .#{$grommet-namespace}control-icon {
//   path,
//   line,
//   polyline,
//   circle,
//   rect,
//   polygon {
//     stroke-width: 2px;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//   }
// }

$border-radius: 0px;
