// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}button {

  &:not(.#{$grommet-namespace}button--disabled):not(.#{$grommet-namespace}button--plain):not(.#{$grommet-namespace}button--fill) {

    background-color: $brand-color;
    color: nth($brand-accent-colors, 1);
    font-weight: bold;

    &.#{$grommet-namespace}button--primary {
      background-color: nth($brand-accent-colors, 1);
      border-color: nth($brand-accent-colors, 1);
      color: $brand-color;
    }

    &.#{$grommet-namespace}button--secondary {
      background-color: $brand-color;
      color: nth($brand-accent-colors, 1);
    }

    &.#{$grommet-namespace}button--accent {
      background-color: transparent;
      color: $brand-color;
    }

    &.#{$grommet-namespace}button--critical {
      background-color: transparent;
      color: $brand-color;
    }

    #{$dark-background-context} {
      background-color: $background-color;
      color: $brand-color;
      font-weight: bold;

      &.#{$grommet-namespace}button--primary {
        background-color: nth($brand-accent-colors, 1);
        border-color: nth($brand-accent-colors, 1);
        color: $brand-color;
      }

      &.#{$grommet-namespace}button--secondary {
        background-color: $background-color;
        color: $brand-color;
      }
    }

    #{$light-background-context} {
      background-color: $brand-color;
      color: nth($brand-accent-colors, 1);
      font-weight: bold;

      &.#{$grommet-namespace}button--primary {
        background-color: nth($brand-accent-colors, 1);
        border-color: nth($brand-accent-colors, 1);
        color: $brand-color;
      }

      &.#{$grommet-namespace}button--secondary {
        background-color: $brand-color;
        color: nth($brand-accent-colors, 1);
      }
    }
  }
}
