@import 'dxc.defaults';
@import '../grommet-core/index';
@import 'objects.button-dxc';

.#{$grommet-namespace}list--selectable .#{$grommet-namespace}list-item--selected {
  color: $colored-text-color;

  #{$dark-background-context} {
    background-color: #333333;
    color: $active-colored-text-color;
  }

  #{$light-background-context} {
    background-color: $selected-background-color;
    color: $colored-text-color;
  }
}

.#{$grommet-namespace}tiles--selectable .#{$grommet-namespace}tile--selected {
  color: $colored-text-color;

  #{$dark-background-context} {
    background-color: #333333;
    color: $active-colored-text-color;
  }

  #{$light-background-context} {
    background-color: $selected-background-color;
    color: $colored-text-color;
  }
}

.#{$grommet-namespace}table--selectable tbody tr.#{$grommet-namespace}table-row--selected td {
  color: $colored-text-color;

  #{$dark-background-context} {
    background-color: #333333;
    color: $active-colored-text-color;
  }

  #{$light-background-context} {
    background-color: $selected-background-color;
    color: $colored-text-color;
  }
}
