{
  "plugins": ["styled-components"],
  "env": {
    "es6": {
      "presets": [ ["es2015", { "modules": false }], "stage-1", "react" ]
    },
    "default": {
      "presets": [ "es2015", "stage-1", "react" ]
    }
  }
}
