{
  "presets": [
    "./tools/grommet-babel-preset-es2015",
    "stage-1",
    "react"
  ],
  "plugins": [
    ["styled-components", { "useDisplayName": false }]
  ],
  "env": {
    "es6": {
      "plugins": [
        ["transform-imports", {
          "grommet-icons": {
             "transform": "grommet-icons/es6/icons/${member}",
             "preventFullImport": true
          }
        }]
      ]
    }
  }
}
