{
  "presets": [
    "./tools/grommet-babel-preset-es2015",
    "@babel/preset-react",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "useDisplayName": false
      }
    ],
    [
      "@babel/plugin-transform-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "es6": {
      "plugins": [
        [
          "transform-imports",
          {
            "grommet-icons$": {
              "transform": "grommet-icons/es6/icons/${member}",
              "preventFullImport": true,
              "skipDefaultConversion": true
            },
            "grommet-icons/themes": {
              "transform": "grommet-icons/es6/themes/${member}",
              "preventFullImport": true,
              "skipDefaultConversion": true
            }
          }
        ]
      ]
    }
  }
}
