{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "document": true,
    "test": true,
    "window": true,
    "fetch": true,
    "WebSocket": true,
    "alert": true,
    "URLSearchParams": true,
    "defaultProps": true,
    "childContextTypes": true,
    "contextTypes": true,
    "state": true,
    "Event": true,
    "fail": true,
    "afterEach": true,
    "beforeEach": true,
    "MouseEvent": true,
    "requestAnimationFrame": true
  },
  "rules": {
    "indent": "off",
    "indent-legacy": ["error", 2],
    "comma-dangle": ["error", "always-multiline"],
    "jsx-quotes": ["error", "prefer-single"],
    "no-console": 0,
    "quote-props": ["error", "consistent"],
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0
  },
  "overrides": [
    {
      "files": ["*.stories.js"],
      "rules": {
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "react/no-multi-comp": 0
      }
    }
  ]
}
