{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "it": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "document": true,
    "test": true,
    "window": true,
    "fetch": true,
    "WebSocket": true,
    "alert": true,
    "URLSearchParams": true,
    "defaultProps": true,
    "childContextTypes": true,
    "contextTypes": true,
    "state": true,
    "Event": true,
    "fail": true,
    "afterEach": true,
    "beforeEach": true,
    "afterAll": true,
    "MouseEvent": true,
    "requestAnimationFrame": true
  },
  "rules": {
    "indent": "off",
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 0,
    "react/jsx-filename-extension": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-wrap-multilines": 0,
    "no-useless-concat": 0,
    "react/jsx-indent": 0
  },
  "overrides": [
    {
      "files": ["*.stories.js", "**/stories/**"],
      "rules": {
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "react/no-multi-comp": 0
      }
    },
    {
      "files": ["anchor.stories.js"],
      "rules": {
        "react/jsx-one-expression-per-line": 0
      }
    }
  ]
}
