# dependencies
node_modules

#IDEA
.idea/**
.vscode
*.code-workspace

# testing
coverage

#lock files
package-lock.json

# production
dist
storybook-static

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-storybook.log
report*

#licenses 
grommet-*-licenses.json
grommet-*-src-with-dependecies.tgz

#yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# misc
.cache
.env
.tmp
.eslintcache
.DS_Store

