language: node_js
node_js:
- '6.9.1'
sudo: false
cache:
  directories:
  - node_modules
before_script:
- npm install -g codeclimate-test-reporter
- gulp generate-index-icons
- gulp preprocess
- gulp dist-css
script:
- |
  if [ "$TEST_TYPE" = build ]; then
    npm test
  else
    if [[ $TRAVIS_PULL_REQUEST == 'false' ]]; then gulp $TEST_TYPE; fi
  fi
after_success:
- |
  if [ "$TEST_TYPE" = build ]; then
    gulp coveralls
    codeclimate-test-reporter < coverage/lcov.info
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ] && [ "$TRAVIS_BRANCH" = "master" ]; then
      git config credential.helper "store --file=.git/credentials"
      echo "https://${GH_TOKEN}:@github.com" > .git/credentials
      git config --global user.name "Grommet Community Bot"
      git config --global user.email "asouza@hp.com"
      gulp dist
      gulp release:stable
    fi
  fi
env:
  matrix:
  - TEST_TYPE=build
  global:
  - secure: TIpFQ9neUyaM8wSydTnN00Tg1/iZH6gkbZsX45HYNugVA37NzSEzHB6n+dA6ZJzY8gaMFVf62MqNAngQLh9pdyqbt2NwQ0zmYqGIe77Xzxa7hvBzogL+Cvook+0kQh/OORj2VFxnfIXlC9On8Tpgv6f3gnbNDDxIxJHhux+8viD23XQMpYvyY2y14/8K9UrrdnbBchX0L+7BVASUUatvF7UuQ2R424WqoSp72XfUDpJ5uX+lKAMsaLGXQvK9h8RqE8ZtSaAD0pg1/bBgsxryZMNGH+0gUWZJDgLTyocLyS6oDamgyx0JR6rXqEtv+Z9kDQPspYwd0fsoMivcXLImPFp/lCLWosuGNCJG61Rzdjl44dxnjgYmEwg1+siwZbbhSzh4UdVqkjUPmFT7rezrU1I/PGEhS1jNcZSFu24shatJXWYDXNEFsqURICPrKyP13UaNOc4utRhxvOqzIQyBUPtJKwORFRsMwQS3x/Q3UvCpeGpF1swR2F/TWijre4H/tuoRw79qe1UDKrEmT88uAFXy3ggA+D3MDOUal3DqAx2dp7kB5f2wyo0hgp6nbTXEtZYkvfy2u6IQU1bukEsUpc+h03If4WxXyNe6nMzxdGvJC7qWhscHNDlP6Q9jatifUdLUL0UESWC7c/xwt6L3u2hJuq3Y09QpzMe4tkaOHBw=
  - secure: eYLgtPf9wTVJnDTxvJfXzlSgzUWvJbrIQUKqkJb8dVuwInunzM0YIQqnIhIGcm5tR5kukjlAWkHzSMzpRkgVTI5xpQ2DFJrNcppyL1l/B0/hmzpm0z6ed/hV8YeGsfpQDT4aiJOAAfYToSOBSAcxmGh0kwOxJe7i09E5zRVGKdwcTkWwNVsjRdnDFTb8oG/sZbMwJQgSOx4mK4x4KGmlqF07HuVo4zvMjJN9OEQevZyaLI5jfjDN5hb11IDDM7Sr1B8geZ8yaPSwG9SbYEwpqNKl5bYiSKYr6GxICgT2Xt2VTfNyoOCLxR9XEV6DU3OaQXnwQmd810uMLSilP9pkK7ZUt93gwwyd5eRIws0aWHt2omFk4ry8UaBt1b4hie2SJVlE9QCbXvB8j6mU3I3Ti/R18gi8AQwzzV1gSXofp72jiQuV4AZ58HCrGHSwmSWxBy7xbBUThFkoMpu8FeGdi1oMfOmo+1Cl0sYikAM/9iD2fiG7KeyDAwnrUVfdAYQwIUBSZPy1EmgDRKMdoImSV2hnoC/U/KJgIqPOMcfsHUGWovS+nqk0siruXPN5uEUBLtQYAiVamI1iu8Rrr8yRipAuKzxHmT7cbG8ttan9JzKkFmr3Y8uk1H5i203H6ATkVTK9B5GSkXD11g7IinNGkd/tEZ1Oow431w6X3zgNFEU=
  - secure: EzFYWFK5Ixo1R7/5ymAETdtmXaj6hWv+ol07K5pbEdqZxX9xa1bqzHi+gdLll+nzJO/YkIG3oacmHO1EQu4+mn+WwnuxwhWjv7B+d9fQV6e3cIRWK9NmoT+V27MPs6OH8+mElnIGaz34uT8XV5fTo76DSzaKQQNvKwgEmCrviiRxpGQSywPkeiR5B4TciuZOli4DHVi0JWCtl8D3gdZ2HDRveHuBXw6uIzijZ7Lt2P1xiM4J6dX7KC3hFZ/7s8ggE7SaeRaQ1ReNjW1pG/lsVippcIA6z552J4C1zXbmsKjwi7M4M2ue6vZmkoA1ucDhp7YdRM6wgjO1khfGgn8F0JlR89whYQKK65pNZEOO3Lhe6Fm53lURYFeAUHkr/BICFveZYYz+2bjFGtLy/x5eRrngxCkCP6uBKEEPk4iN/vYQI1rqR9MNPnuxTSs8BTjk0FqwYYBs6CTC1cRsExDE4FVmgOCNw+/qJGhSA7sl05RjOuwOIM6Y23wu0u3wyAZloAwdjQI/kUzSHxIod1wPaFbni7LVSYXb2wVPGosRZaKwPK2YIbvFq8j4qQkOS6k9D1cFJOy5MHTeJiH/W45EvVlFTAqm3/D6bbQUiA3RhYQ2/y2uH0Gj2Pjissuh7d2gVrFztv7lfJVQn0ggBi3l7Eaiu4uaESqx77JIFmwmwgE=
  - secure: SygmZp43MXsbHM8syg4eCBuGkub4rS7I7KHro3gWdstuQuWy5o/yLpE2dqtrmbWHGnpjkXbb8SbD9ApHM982ZvkRxelhJWNDH7ssdWliZ5gHiALLz3Ry75U8Yy4q2ynY5Q2esDR93MghlrFd+73o8dAqCm6eFgAGhIAwbS2MgBhIYSOTwZeqrp/LEgIBCiLKtkedtptBamnUUF79InlktcSodq1CxnFYRoxaD+8/dAbN4SMzFR5ay4vGE39OTw7YZvbq3u09RLzc5AYVk08nJb4Q88eiOu2augbuBtRNRHsiejZhCGmFUDntfRS1FCByb8WQM8OH7lDlUmNqD9an611aeYJ1T+VdXFVKkwRE9sDqqHV3rvPlQ+n0hifb+nljl6JmX+JXjR9cu8/bZ82m+PGYzADveDa1VPbJYHmylP5IETbwKXVg5JqgDB3Cf4eP5I/iHJHc/1Tqi4m6BqH8ROW1LAiqzCUYeTXpzzqzrrARhj+pBbNDMuKhKaY5njhJrEO7+jW0+nNposOgtmZxA6tzl5cP3B73tqbscVIaDpxvchNX9dH5Ff67GJP2d5USWzkGb5dc/F1ANsSodc7QG0n7YxmO37My3n32T9ou1c20yI9OO/A91VPAyk7dAd93kdi0Q3OpNtzBLpFfJqIQ2n+SMK7zSONYJFBiJUiDmoU=
  - secure: RrDDlTPoQVMqrcGrOjfOhWkjtrhOqUzTTMkujHnhBmNLUIufVPDWi2/M706b77c6dtmiSJ2AQo8hTItkfpLdwE4F4VmX9Q2V4s+sjSeIlu8E35lDnl4c/m+JNqxrUVSwN6NiXHXztlkAlylCSqRqcJoB/OdLMsd4tqRQuRP7u8bHsp6S0YYDASSCv8nWQXrXbUWAaZ3/wzK9L4GbXci6tKGypqkBHED8LNJYPXc5tNQR88IrQbb53Cj7k5dhIabQmDd1bI0c4g0+HB8PJo1PpS+3+yv4sgvaQ/Okh0y63mY3gMlRycnIko1gO0lT/GGJYcCt/r7tYWzeu4SDmRXtwb4bh440L+pJQnMEuCAlU55RBDvCJk4U6HjIjL7zrFRLcV4iTTCF4NqpX8zbucSEWVERRihseL6PuFBsgqhKUsct1J5iXVgWu0IKaOWNAyUO4CXnZZfmLCvuEjuXe6kh8+qUq5hxdhljJ6jzuDV6vqMMHRF46ONjpYquTXTWIZEYG/oUqbfpI0zWlDa1/MY51QLhjV0dhoeVZaleG0dS7/AMtJXHM1xM02n4pwAk5jMo9h8Awq2XCbFCU3MfZHx2PmlZvLxnROWqJmV/tzrUByTPqJu5rev+MNt6kriw7W86r3Ns0fY0vatyRqNAFawS5Nu92omqqg8STnPtvpOAKFE=
notifications:
  slack:
    secure: KO4NG+slaqtFbK5T2FpkR8vgUPfZA5nf+oGDhOCFQXwfcEje/auWKdbSEzCMJ8RMl039wYjtz5iyN6bumD5FYuZFXAddeRiCtaIVqr/r6A536ldneQFTiieyeOYKJkh42hahjstcAKCv0mWr1GZGFc2cyNaoSZvE8/LNcOZy3Rne3ZPAgNMVKF3xkYFUzQOQLJsMEq7sW8LX+Z9zO+OAGjV3uEbiEYlS+N/0VW+ziz+TL+/gNf0rvzAjRd5v/VRudNxuVqx/frpYJzxGS6EHy1vVWFo6NomqBXHQvaEY+W+oorND6Jg0VNhJLCXOk2xxx0JZul2GurkQGex9b3UoARLTWarwOC9Vm/IhZ9Tc57H0U8B7Qxyb0KFacXJPeMqb2tPgNC0/wSIX8uLqlyUJnPqiRgII3W2V1YG3bWJssHNqg5F8WbD+kIphr4ghrW//8EZvcgVK/QS/yIXGLqKYygOYajXoHeb+dR0eCvE2b1wGG/EoZlZcaH2q9lE+1hmyli7MAW3aCmpCEoDUFPq5a8fcdDnYiGV5s1TPbPGvOsd2kYmeFnh71po+GgO07c+1QPLAXiW0YO8hzENi6HMcAdqcKMFXFWYD0fMNPSES/HwIFlAW/c1UBdh7KYCpZ4zljLrHyj1CAM8jXWJ7MTbJYsYHFNHA4eWNZotNLYvQgvs=
matrix:
  fast_finish: true
