{
  "presets": [["@babel/preset-env", { "loose": true }], "@babel/preset-react"],
  "plugins": [
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-logical-assignment-operators",
    ["@babel/plugin-transform-optional-chaining", { "loose": false }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["@babel/plugin-transform-nullish-coalescing-operator", { "loose": false }],
    "@babel/plugin-proposal-do-expressions",
    ["styled-components", { "useDisplayName": false }],
    [
      "transform-imports",
      {
        "grommet-icons/contexts": {
          "transform": "grommet-icons/es6/contexts/${member}",
          "preventFullImport": true,
          "skipDefaultConversion": true
        }
      }
    ]
  ]
}
