<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Grommet - User Experience for the Enterprise</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" type="image/png" href="img/shortcut-icon.png" />
  <link rel="apple-touch-icon" sizes="196x196" type="image/png" href="img/mobile-app-icon.png">
  <%- styleContent %>
</head>
<body class="loading">
  <div id="content">
    <%- appBody %>
  </div>
  <script src="index.js"></script>
</body>
</html>
