// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$button-accent-color: #ff8d6d;

.button {
  letter-spacing: 0.04167em;

  &:not(.button--disabled) {

    &:hover {
      -webkit-box-shadow: 0px 0px 0px 2px $button-border-color;
      box-shadow: 0px 0px 0px 2px $button-border-color;
    }

    &.button--primary {
      &:hover {
        -webkit-box-shadow: 0px 0px 0px 2px $brand-color;
        box-shadow: 0px 0px 0px 2px $brand-color;
      }
    }

    &.button--secondary {
      &:hover {
        -webkit-box-shadow: 0px 0px 0px 2px $button-secondary-color;
        box-shadow: 0px 0px 0px 2px $button-secondary-color;
      }
    }

    &.button--accent {
      &:hover {
        -webkit-box-shadow: 0px 0px 0px 2px $button-accent-color;
        box-shadow: 0px 0px 0px 2px $button-accent-color;
      }
    }

    [class*="background-color-index-"] & {

      &:hover {
        -webkit-box-shadow: 0px 0px 0px 2px $colored-border-color;
        box-shadow: 0px 0px 0px 2px $colored-border-color;
      }

      &.button--primary {
        &:hover {
          -webkit-box-shadow: 0px 0px 0px 2px $brand-color;
          box-shadow: 0px 0px 0px 2px $brand-color;
        }
      }

      &.button--secondary {
        &:hover {
          -webkit-box-shadow: 0px 0px 0px 2px $colored-border-color;
          box-shadow: 0px 0px 0px 2px $colored-border-color;
        }
      }

      &.button--accent {
        &:hover {
          -webkit-box-shadow: 0px 0px 0px 2px $button-accent-color;
          box-shadow: 0px 0px 0px 2px $button-accent-color;
        }
      }
    }
  }
}
