$downloads-section-color: #ff5039;

.downloads {

  padding-top: $header-height;

  @include section-layout($downloads-section-color, 0);

  section {
  	> * {
      @include media-query(lap) {
        padding-left: double($inuit-base-spacing-unit);
      }
    }

    h2 {
    	&:after {
    		@include media-query(lap) {
	          left: double($inuit-base-spacing-unit);
	          right: double($inuit-base-spacing-unit);
	        }
    	}
    }	
  }
}

