$docs-section-color: #06f;

.docs {

  @include media-query(palm) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }  

  position: relative;
  padding-top: $header-height;

  @include section-layout($docs-section-color, $contents-width - ($inuit-base-spacing-unit * 2));

  section {
   
    h2 {
      &:after {
        @include media-query(lap) {
            right: double($inuit-base-spacing-unit);
          }
      }
    } 

  }

  @include nav-style($header-height + $inuit-base-spacing-unit);
  
  .nav {

    @include media-query(palm) {
      position: static;
      -webkit-order: 0;
      order: 0;
      margin: $inuit-base-spacing-unit;
    }
  }

  pre {
    padding-right: $inuit-base-spacing-unit;

    code {
      background-color: #bfece1;  
    }
    
    .hljs {
      @include inuit-font-size($inuit-heading-size-5);

    }
  }

  &__code-header {

    padding-right: $inuit-base-spacing-unit;
    
    &--label {
      padding: 7px;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      background-color: #40c6a5;
    }
  }
}

