// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$scale-background-color: nth($brand-accent-colors, 2);
$scale-background-color-top: rgba($scale-background-color, 0.85);

.home {

  &__logo {
    height: 140px;
    margin-bottom: double($inuit-base-spacing-unit);

    @include media-query(palm) {
      height: 96px;
    }
  }

  &__title {

    @include media-query(lap-and-up) {
      @include inuit-font-size(72px);
      font-weight: 600;
    }
  }

  h3 {
    max-width: none;
    margin-bottom: double($inuit-base-spacing-unit);
  }

  h4 {
    max-width: round($inuit-base-spacing-unit * 32);
  }

  .section {
    @include media-query(lap-and-up) {
      padding-top: round($inuit-base-spacing-unit * 4);
      padding-bottom: round($inuit-base-spacing-unit * 4);
    }
  }

  &__introduction.section {
    background-image: radial-gradient(circle, #fff, #fff 65%, #eee);

    h3 {
      margin-bottom: 0px;
    }

    a {
      color: $text-color;
      font-weight: 600;
    }

    .right-arrow {
      height: $inuit-base-spacing-unit;
    }

    @include media-query(palm) {
      .menu {
        display: none;
      }
    }
  }

  a.home__request-access {
    position: relative;
    top: round($inuit-base-spacing-unit * 2);
    display: block;
    color: $colored-text-color;

    @include media-query(lap-and-up) {
      display: none;
    }
  }

  &__hpe.section {

    img {
      height: 200px;
      width: 408px;
    }

    @include media-query(lap-and-up) {
      padding-top: round($inuit-base-spacing-unit * 2);
      padding-bottom: round($inuit-base-spacing-unit * 2);
      background-image: radial-gradient(circle at 70% 50%,
        nth($brand-grey-colors, 1),
        nth($brand-grey-colors, 1) 35%,
        nth($brand-grey-colors, 2) 35%,
        nth($brand-grey-colors, 2) 55%,
        nth($brand-grey-colors, 3) 55%,
        nth($brand-grey-colors, 3) 85%,
        nth($brand-grey-colors, 1) 85%);

      .home__hpe-text {
        margin: round($inuit-base-spacing-unit * 2) double($inuit-base-spacing-unit);
        color: darken($colored-text-color, 20%);

        h4 {
          color: nth($brand-accent-colors, 1);
          font-weight: 400;
        }
      }
    }
  }

  &__scale.section {
    padding-bottom: round($inuit-base-spacing-unit * 6);
    background-color: inherit;
    background-image: linear-gradient($scale-background-color-top,
      $scale-background-color);

    a.button {
      @include inuit-font-size($inuit-heading-size-3);
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      color: $colored-text-color;
    }

    @include media-query(palm) {
      .menu {
        text-align: center;

        a.button {
          width: 100%;
          margin-bottom: $inuit-base-spacing-unit;
          margin-left: 0px;
        }
      }
    }
  }

  &__scale-graphic {
    width: 80vw;
    max-width: 320px;
    margin-bottom: $inuit-base-spacing-unit;
  }

  &__process.section {
    padding-top: 0px;
    padding-bottom: round($inuit-base-spacing-unit * 2);
  }

  &__process-graphic {
    position: relative;
    top: - round($inuit-base-spacing-unit * 2);
  }

  &__features.section {
    padding-top: round($inuit-base-spacing-unit * 2);

    svg,
    img {
      height: 96px;
      margin-bottom: $inuit-base-spacing-unit;
    }

    .tiles {
      margin-bottom: round($inuit-base-spacing-unit * 2);
    }
  }

  &__designer.section {
    padding-top: round($inuit-base-spacing-unit * 2);
    padding-bottom: round($inuit-base-spacing-unit * 2);

    svg,
    img {
      display: inline;
      max-height: 96px;
      margin-bottom: $inuit-base-spacing-unit;
    }
  }

  &__commands {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: $inuit-base-spacing-unit;
    overflow: hidden;
  }

  &__developer.section {
    padding-top: round($inuit-base-spacing-unit * 2);
    padding-bottom: round($inuit-base-spacing-unit * 2);

    svg,
    img {
      max-height: 72px;
      margin-bottom: $inuit-base-spacing-unit;
    }
  }
}

.docs {
  a.docs__header-request-access {
    @include media-query(palm) {
      display: none;
    }
  }

  &__footer {
    h3 {
      @include inuit-font-size(24px);
      font-weight: 100;
    }
  }

  div.docs__code-heading {
  	text-align: right;
  	padding-right: 5px;
  }

}
