// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.swatch {
  position: relative;
  display: inline-block;
  width: round($inuit-base-spacing-unit * 4);
  height: round($inuit-base-spacing-unit * 3);
  margin-right: $inuit-base-spacing-unit;
  margin-bottom: double($inuit-base-spacing-unit);

  &:after {
    content: '';
    position: absolute;
    top: round($inuit-base-spacing-unit * 3);
    left: 0px;
    text-transform: uppercase;
  }

  &.brand {
    background-color: $brand-color;

    &:after {
      content: "#{$brand-color}";
    }
  }

  @for $i from 1 through length($brand-accent-colors) {
    &.accent-#{$i} {
      background-color: nth($brand-accent-colors, $i);

      &:after {
        content: "#{nth($brand-accent-colors, $i)}";
      }
    }
  }

  @for $i from 1 through length($brand-neutral-colors) {
    &.neutral-#{$i} {
      background-color: nth($brand-neutral-colors, $i);

      &:after {
        content: "#{nth($brand-neutral-colors, $i)}";
      }
    }
  }

  @each $status, $color in $brand-status-colors {
    &.status-#{$status} {
      background-color: $color;

      &:after {
        content: "#{$color}";
      }
    }
  }

  @for $i from 1 through length($brand-graph-colors) {
    &.graph-#{$i} {
      background-color: nth($brand-graph-colors, $i);

      &:after {
        content: "#{nth($brand-graph-colors, $i)}";
      }
    }
  }
}

.icon-tile {
  display: inline-block;
  margin-right: double($inuit-base-spacing-unit);
  margin-bottom: double($inuit-base-spacing-unit);
  vertical-align: top;
  text-align: center;

  .status-icon {
    margin-right: $inuit-base-spacing-unit;
  }

  label {
    display: block;
    margin-top: halve($inuit-base-spacing-unit);

    span {
      display: block;
    }
  }
}
