// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$step-duration: 0.7s;

.process-animation {
  width: 720px;
  height: 480px;

  &__paper {
    background-image: linear-gradient(#ffffff, #f6f6f6);
    display: block;
    margin: 0px auto;
    width: 720px;
    height: 480px;
    @include animation('fold-paper 1s ease-in-out forwards');
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
  }

  &__grid {
    &-columns path {
      stroke-dasharray: 480px 480px;
      stroke-dashoffset: 480px;
      opacity: 0;
    }

    &-column-1 {
      @include animation('draw-column #{$step-duration} ease-in-out forwards');
    }

    @for $i from 2 through 13 {
      &-column-#{$i} {
        @include animation('draw-column #{$step-duration} 1.#{$i}s ease-in-out forwards');
      }
    }

    &-rows path {
      stroke-dasharray: 720px 720px;
      stroke-dashoffset: 720px;
      opacity: 0;
    }

    @for $i from 1 through 9 {
      &-row-#{$i} {
        @include animation('draw-row #{$step-duration * 2} 2.#{$i}s ease-in-out forwards');
      }
    }
  }

  &__rough {
    &-header {
      @include animation('draw-header #{$step-duration * 2} 4.1s ease-in-out forwards');
      opacity: 0;
    }

    &-left-pane {
      @include animation('draw-left-pane #{$step-duration * 2} 5.1s ease-in-out forwards');
      opacity: 0;
    }

    &-right-pane {
      @include animation('draw-right-pane #{$step-duration * 2} 6.1s ease-in-out forwards');
      opacity: 0;
    }

    &-title {
      stroke-dasharray: 240px 240px;
      stroke-dashoffset: 240px;
      @include animation('draw-title #{$step-duration} 7.1s ease-in-out forwards');
    }

    &-avatar {
      stroke-dasharray: 152px 152px;
      stroke-dashoffset: 152px;
      @include animation('draw-avatar #{$step-duration} 8.1s ease-in-out forwards');
    }

    &-donut {
      stroke-dasharray: 830px 830px;
      stroke-dashoffset: 830px;
      @include animation('draw-donut #{$step-duration} 9.1s ease-in-out forwards');
    }

    &-text {
      path {
        stroke-dasharray: 264px 264px;
        stroke-dashoffset: 264px;
      }

      @for $i from 1 through 6 {
        &-#{$i} {
          @include animation('draw-text #{$step-duration} 10.#{$i}s ease-in-out forwards');
        }
      }
    }
  }
}

@include keyframes(fold-paper) {
  0% {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@include keyframes(draw-column) {
  0% {
    stroke-dashoffset: 480px; opacity: 1;
  }
  95% {
    stroke-dashoffset: 0px; opacity: 1;
  }
  100% {
    stroke-dashoffset: 0px; opacity: 0.6;
  }
}

@include keyframes(draw-row) {
  0% {
    stroke-dashoffset: 720px; opacity: 1;
  }
  95% {
    stroke-dashoffset: 0px; opacity: 1;
  }
  100% {
    stroke-dashoffset: 0px; opacity: 0.6;
  }
}

@include keyframes(draw-header) {
  0% {
    -webkit-transform: translate(24px, 24px) scale(0);
    transform: translate(24px, 24px) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(24px, 24px) scale(1);
    transform: translate(24px, 24px) scale(1);
    opacity: 1;
  }
}

@include keyframes(draw-left-pane) {
  0% {
    -webkit-transform: translate(24px, 144px) scale(0);
    transform: translate(24px, 144px) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(24px, 144px) scale(1);
    transform: translate(24px, 144px) scale(1);
    opacity: 1;
  }
}

@include keyframes(draw-right-pane) {
  0% {
    -webkit-transform: translate(384px, 144px) scale(0);
    transform: translate(384px, 144px) scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(384px, 144px) scale(1);
    transform: translate(384px, 144px) scale(1);
    opacity: 1;
  }
}

@include keyframes(draw-title) {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@include keyframes(draw-avatar) {
  0% {
    stroke-dashoffset: 152px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@include keyframes(draw-donut) {
  0% {
    stroke-dashoffset: 830px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@include keyframes(draw-text) {
  0% {
    stroke-dashoffset: 264px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
