$docs-section-color: #06f;

.docs {

  @include media-query(palm) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }  

  position: relative;
  padding-top: $header-height;

  @include section-layout($docs-section-color, $contents-width - ($inuit-base-spacing-unit * 2));

  section {
   
    h2 {
      &:after {
        @include media-query(lap) {
            right: double($inuit-base-spacing-unit);
          }
      }
    } 

    .code-fragment {
      overflow: auto;
      position: relative;
      display: block;
      padding-right: $inuit-base-spacing-unit;

      .leading {
        padding: 7px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        background-color: #40c6a5;
      }

      pre {
        padding: halve($inuit-base-spacing-unit);
        background-color: #bfece1;
        border: none;

        code {
          
          @include inuit-font-size($inuit-heading-size-5);

          .break {
            display: block;
          }

          .cp {
            color: #FF7850;
          }

          .nt {
            color: #3CAFDC;
          }

          .na {
            color: #617d78;
          }

          .s {
            color: #60798d;
          }

          .c {
            color: #614767;
          }
        }
      }
    }
  }

  @include nav-style($header-height + $inuit-base-spacing-unit);
  
  .nav {

    @include media-query(palm) {
      position: static;
      -webkit-order: 0;
      order: 0;
      margin: $inuit-base-spacing-unit;
    }
  }

}

