// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@import '../../../src/scss/grommet-core/index';
@import 'objects.home';
@import 'objects.swatch';
@import 'objects.process-animation';

.hpe-branding {
  display: none;
}

a.reference {
  display: block;
  visibility: hidden;
}

svg rect[fill="#00B388"] {
  fill: $brand-color;
}

.request-access fieldset:first-of-type {
  padding-top: 0;
}

article .example {
  margin-bottom: $inuit-base-spacing-unit;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.font-sample {
  margin-left: double($inuit-base-spacing-unit);
  margin-bottom: double($inuit-base-spacing-unit);

  &.primary {
    font-family: 'Open Sans', Arial, sans-serif;
    @include inuit-font-size($inuit-heading-size-1);
  }

  &.base {
    font-family: Arial, sans-serif;
    @include inuit-font-size($inuit-heading-size-3);
  }
}
