// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color: #00B388;
$brand-neutral-colors: (#60798D, #617D78, #877B75);
$brand-accent-colors: (#2AD2C9, #614767);
$brand-status-colors: (
  error: #FF454F,
  warning: #F3B237,
  ok: #00B388,
  unknown: #848484,
  disabled: #848484
);
$brand-link-color: #2883d7;
$brand-grey-colors: (#333333, #3B3B3B, #434343, #666666);
$brand-graph-colors: (#FF8D6D, #877B75, #2AD2C9, #614767, #617D78);

@font-face {
  font-family: "Metric";
  src: url("~grommet/scss/hpe/font/MetricWeb-Regular.woff") format('woff');
}

html,
.brand-font {
  font-family: 'Metric', Arial, sans-serif;
}

$border-radius: 0px;
