// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-font-family: 'Metric', Arial, sans-serif;
$brand-large-number-font-family: 'Simple', 'Metric', Arial, sans-serif;
$brand-color: #01a982;
$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%);
$brand-neutral-colors: (#425563, #5F7A76, #80746E);
$brand-accent-colors: (#2AD2C9, #614767);
$brand-status-colors: (
  error: #F04953,
  warning: #FFD144,
  ok: $brand-color,
  unknown: #CCCCCC,
  disabled: #EDEDED
);
$brand-link-color: inherit;
$link-hover-color: #000;
$brand-link-text-decoration: underline;
$brand-grey-colors: (#333333, #3B3B3B, #434343, #666666);
$brand-graph-colors: (lighten(#425563, 15%), lighten(#5F7A76, 20%), lighten(#80746E, 10%), lighten(#614767, 15%));

$hpe-fonts-path: "https://hpefonts.s3.amazonaws.com" !default;

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricWeb-Regular.woff") format('woff');
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricWeb-Bold.woff") format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricWeb-Semibold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Metric";
  src: url("#{$hpe-fonts-path}/MetricWeb-Light.woff") format('woff');
  font-weight: 100;
}

@font-face {
  font-family: "Simple";
  src: url("#{$hpe-fonts-path}/SimRg.otf") format("opentype");
}

$button-accent-color: #ff8d6d;
$control-brand-color: #049371;
$border-radius: 0px;
