// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}button {
  letter-spacing: 0.04167em;

  &:not(.#{$grommet-namespace}button--disabled):not(.#{$grommet-namespace}button--plain):not(.#{$grommet-namespace}button--fill) {

    &:hover {
      box-shadow: 0px 0px 0px 2px $button-border-color;
    }

    &.#{$grommet-namespace}button--primary {
      &:hover {
        box-shadow: 0px 0px 0px 2px $brand-color;
      }
    }

    &.#{$grommet-namespace}button--secondary {
      &:hover {
        box-shadow: 0px 0px 0px 2px $button-secondary-color;
      }
    }

    &.#{$grommet-namespace}button--accent {
      &:hover {
        box-shadow: 0px 0px 0px 2px $button-accent-color;
      }
    }

    &.#{$grommet-namespace}button--critical {
      &:hover {
        box-shadow: 0px 0px 0px 2px $button-critical-color;
      }
    }

    #{$dark-background-context} {

      &:hover {
        box-shadow: 0px 0px 0px 2px $button-colored-border-color;
      }

      &.#{$grommet-namespace}button--primary {
        &:hover {
          box-shadow: 0px 0px 0px 2px $brand-color;
        }
      }

      &.#{$grommet-namespace}button--secondary {
        border-color: $colored-text-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px $colored-text-color;
        }
      }

      &.#{$grommet-namespace}button--accent {
        &:hover {
          box-shadow: 0px 0px 0px 2px $button-accent-color;
        }
      }

      &.#{$grommet-namespace}button--critical {
        border-color: $button-critical-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px $button-critical-color;
        }
      }
    }

    #{$light-background-context} {
      &.#{$grommet-namespace}button--secondary {
        border-color: $button-secondary-color;

        &:hover {
          box-shadow: 0px 0px 0px 2px $button-secondary-color;
        }
      }
    }
  }

  &--fill:not(.#{$grommet-namespace}button--disabled):not(.#{$grommet-namespace}button--plain) {
    &:hover {
      padding: ($button-vertical-padding - ($button-border-width))
        ($button-horizontal-padding - ($button-border-width));
      border-width: double($button-border-width);
    }

    @include media-query(lap-and-up) {
      transition: none;
    }
  }
}
