// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// turn off webkit elastic scrolling
html,
body {
  @include media-query(lap-and-up) {
    height: 100%;
    width: 100%;
    overflow: visible;
  }
}
