// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

html,
body {
  @include inuit-font-size($content-font-size, $inuit-base-spacing-unit);
}

p,
dd,
li {
  max-width: $readable-text-width;
}

p {
  margin-top: $inuit-base-spacing-unit;
  margin-bottom: $inuit-base-spacing-unit;
}

code.hljs {
  border: 1px solid $border-color;
}

.large-number-font {
  font-family: $brand-large-number-font-family;
}
