// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

$brand-color-lighter: lighten($brand-color, 23%) !default;
$brand-color-darker: darken($brand-color, 9%) !default;

$text-color: #333 !default;
$secondary-text-color: #777 !default;
$hover-text-color: #000 !default;
$placeholder-text-color: #aaa;
$colored-text-color: rgba(255, 255, 255, 0.85); //#dbdbdb;
$active-colored-text-color: #fff;
$inactive-colored-text-color: rgba(255, 255, 255, 0.7);
$link-color: $brand-link-color !default;
$link-hover-color: $brand-color-darker !default;
// 63 was empirically determined based on HPE critical and warning colors
$colored-text-color-lightness-threshold: 63 !default;

$background-color: #fff;
$secondary-background-color: #f5f5f5;
$hover-background-color: #eee;
$colored-active-background-color: rgba(0, 0, 0, 0.2);
$selected-background-color: $brand-color-lighter !default;
$selected-text-color: $text-color !default;
$selected-primary-background-color: $brand-color !default;
$selected-primary-text-color: $colored-text-color !default;

$border-color: rgba(0, 0, 0, 0.4);
$strong-border-color: #000;
$colored-border-color: rgba(255, 255, 255, 0.5) !default;

// Control Icons

$icon-color: #999;
$active-icon-color: #000;
$disabled-icon-color: #ccc;
$colored-icon-color: rgba(255, 255, 255, 0.85); //#dbdbdb;
$active-colored-icon-color: #fff;
$icon-badge-background-color: nth($brand-accent-colors, 1);
$icon-badge-text-color: $text-color;

$unset-color: #ddd !default;

$meter-color: $brand-color !default;
$meter-background-color: rgba($text-color, 0.2) !default;
$colored-meter-background-color: rgba(#fff, 0.1) !default;
$threshold-color: rgba($text-color, 0.2) !default;
$cursor-color: $text-color !default;

// Controls

$focus-border-color: nth($brand-accent-colors, 1) !default;
$control-brand-color: $brand-color !default;

$button-border-color: $brand-color !default;
$button-text-color: $text-color !default;
$button-secondary-color: rgba(#333, 0.6) !default;
$button-accent-color: nth($brand-accent-colors, 1) !default;
$button-drop-shadow-color: rgba(170, 170, 170, 0.5) !default;
$button-colored-border-color: rgba(255, 255, 255, 0.7) !default;

$hover-background-color: rgba(0, 0, 0, 0.1);
$layer-overlay-background-color: rgba(0, 0, 0, 0.5);
$layer-background-color: #fff !default; // rgba($background-color, 0.95); ///inherit; //rgba(255, 255, 255, 0.95);
$layer-border: none !default; // 1px solid $brand-color;
$layer-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !default;
$drop-border: none !default; // 1px solid $brand-color;
$drop-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3) !default;
$form-field-background-color: #fff !default;
$drop-background-color: rgba(255, 255, 255, 0.9);
$header-background-color: rgba(255, 255, 255, 0.9);
$active-background-color: rgba(255, 255, 255, 0.8);
$sort-placeholder-background-color: rgba(0, 0, 255, 0.1); // TODO: recolor

$inverse-background-color: nth($brand-neutral-colors, 1);
$inverse-color: #fff;
