// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

@mixin centered-content {
  width: 100%;
  max-width: $center-column-width;
  margin-left: auto;
  margin-right: auto;
}

.grommet.app {

  @include media-query(lap-and-up) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
  }
}

.grommet.app--inline {
  position: relative;
}

.grommet.app--centered {
  > .split {
    @include centered-content();
  }
}
