// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.tiles {
  width: 100%;
  padding: halve($inuit-base-spacing-unit);

  @include media-query(lap-and-up) {
    &.box--direction-row {

      > .tile {
        flex: 0 0 $tile-size;
        // don't count padding for flex basis
        // this makes it easier to align tiles with graphic components
        ////box-sizing: content-box;

        > * {
          // reset box sizing on tile's children
          box-sizing: border-box;
        }

        &--wide {
          box-sizing: border-box;
        }
      }

      &:not(.tiles--flush) > .tile {
        margin: halve($inuit-base-spacing-unit);

        &--wide {
          flex-basis: calc(100% - #{$inuit-base-spacing-unit});
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .tiles__left,
    .tiles__right {
      flex: 0 0 auto;
    }

    .tiles {
      flex: 1;
      margin: 0px;

      &.box--direction-row {
        width: 100%;
        overflow: hidden;
      }
    }
  }

  &--fill.box--wrap {
    justify-content: space-around;

    > .tile {
      flex-grow: 1;
    }
  }

  &--flush {
    padding: 0px;

    > .tile {
      margin: 0px;

      &--wide {
        flex-basis: 100%;
      }
    }
  }

  &--moreable {
    position: relative;
    padding-bottom: double($inuit-base-spacing-unit);

    .tiles__more {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &--selectable {
    .tile {
      cursor: pointer;
      transition: background-color 0.2s;

      &--selected {
        background-color: $selected-background-color;
        color: $selected-text-color;
      }

      &:hover:not(.tile--selected) {
        background-color: $hover-background-color;
        color: $hover-text-color;
      }
    }
  }

  &--small {
    > .tile {
      flex-basis: $tile-small-size;
    }
  }

  &--large {
    > .tile {

      @include media-query(lap-and-up) {
        flex-basis: $tile-large-size;
      }

      @include media-query(palm) {
        flex-basis: 100%;
      }
    }
  }

  &:focus {
    outline: $focus-border-color solid 1px;
    outline-offset: halve(halve($inuit-base-spacing-unit));
  }
}

.tile {
  overflow: hidden;

  .status-icon {
    margin-right: quarter($inuit-base-spacing-unit);

    html.rtl & {
      margin-right: 0;
      margin-left: quarter($inuit-base-spacing-unit);
    }
  }

  > .chart {
    width: 100%;
  }

  &--selectable {
    cursor: pointer;
    transition: background-color 0.2s;

    &.tile--selected {
      background-color: $selected-background-color;
      color: $selected-text-color;
    }

    &:hover:not(.tile--selected) {
      background-color: $hover-background-color;
      color: $hover-text-color;
    }
  }

  &--eclipsed {
    opacity: 0.2;
  }
}
