// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.split {

  @include media-query(lap-and-up) {
    display: -webkit-flex;
    display: flex;

    > * {
      -webkit-flex: 1 0;
      flex: 1 0;
      position: relative;
      height: 100vh;
      overflow: auto;
    }

    &--flex-right {
      > *:first-child:not(:last-child) {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    }

    &--flex-left {
      > *:last-child:not(:first-child) {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    }
  }
}
