// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.article {
  position: relative;

  &--scroll-step {
    text-align: center;
    height: 100vh;
    width: 100vw;

    > .article__controls {
      position: fixed;
      z-index: 10;
    }

    &.box--direction-column {
      overflow-x: hidden;
      overflow-y: auto;

      > *:not(.article__controls) {
        overflow-x: auto;
      }

      > .article__controls {
        top: 50%;
        left: $inuit-base-spacing-unit;
        transform: translateY(-50%);
      }
    }

    &.box--direction-row {
      overflow-x: audo;
      overflow-y: hidden;

      > *:not(.article__controls) {
        overflow-y: auto;
      }

      > .article__controls {
        top: $inuit-base-spacing-unit;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  > * {
    flex: 0 0 auto;
  }
}

article:not(.article) {
  width: 100%;
}
