// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.headline {
  @include inuit-font-size(48px);
  font-weight: 100;
  margin-bottom: $inuit-base-spacing-unit;
  max-width: 100%;

  &--large {
    @include inuit-font-size(60px);
  }

  &--small {
    @include inuit-font-size(30px);
  }

  &--strong {
    font-weight: 600;
  }
}
