// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.tiles {
  padding: halve($inuit-base-spacing-unit);

  //@include media-query(lap-and-up) {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  > .tile {
    -webkit-flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex-grow: 1;

    &--wide {
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
    }
  }
  //}

  &--moreable {
    position: relative;
    padding-bottom: double($inuit-base-spacing-unit);

    .tiles__more {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &--flush {
    //@include media-query(lap-and-up) {
    margin: - $inuit-base-spacing-unit;

    > .tile {
      -webkit-flex: 0 0 round($inuit-base-spacing-unit * 7);
      flex: 0 0 round($inuit-base-spacing-unit * 7);
      flex-grow: 1;
    }
    //}
  }

  &--small {
    //@include media-query(lap-and-up) {
    > .tile {
      -webkit-flex-basis: round($inuit-base-spacing-unit * 4);
      flex-basis: round($inuit-base-spacing-unit * 4);
    }
    //}
  }

  &--fill {
    //@include media-query(lap-and-up) {
    //-webkit-align-items: stretch;
    //align-items: stretch;
    //-webkit-align-content: stretch;
    //align-content: stretch;
    -webkit-justify-content: space-around;
    justify-content: space-around;

    //> .tile {
      //-webkit-flex-grow: 1;
      //flex-grow: 1;
    //}
    //}
  }
}

.tile {
  padding: halve($inuit-base-spacing-unit);
  overflow: hidden;

  @include media-query(palm) {
    margin: 0px;
    border-radius: 0px;
    text-align: center;
  }

  @include media-query(lap-and-up) {
    -webkit-flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex-grow: 1;
  }

  .status-icon {
    margin-right: quarter($inuit-base-spacing-unit);
  }

  > .header {
    margin-bottom: $inuit-base-spacing-unit;

    .header__content {
      border-bottom: none;
    }
  }

  &--selectable {
    cursor: pointer;
    transition: background-color 0.2s;

    &.tile--selected {
      background-color: $selected-background-color;
    }

    &:hover:not(.tile--selected) {
      background-color: $hover-background-color;
    }
  }
}
