// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@include keyframes(carousel-reveal) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(carousel-reveal-1) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(carousel-hide) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@include keyframes(carousel-hide-1) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.carousel {
  position: relative;
  max-width: 100%;

  @include media-query(lap-and-up) {
    &--toggle-0 {
      .carousel__active {
        @include animation('carousel-reveal 1s');
      }

      .carousel__prior {
        @include animation('carousel-hide 1s');
      }
    }

    &--toggle-1 {
      .carousel__active {
        @include animation('carousel-reveal-1 1s');
      }

      .carousel__prior {
        @include animation('carousel-hide-1 1s');
      }
    }
  }

  &__active {
    position: relative;
    z-index: 1;
    opacity: 1;
  }

  &__prior {
    position: absolute;
    opacity: 0;
  }

  &__controls {
    width: 100%;
    margin-top: halve($inuit-base-spacing-unit);
    text-align: center;
  }

  &__control {
    display: inline-block;
    width: round($inuit-base-spacing-unit * 1.5);
    height: round($inuit-base-spacing-unit * 1.5);
    stroke: $icon-color;
    fill: transparent;
    cursor: pointer;

    &:hover {
      stroke: $active-icon-color;
    }

    &--active {
      stroke: $brand-color;
      fill: $brand-color;
    }
  }
}
