// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@include keyframes(reveal-chart) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chart {
  position: relative;
  display: block;

  &__grid {
    stroke: $border-color;
  }

  &__graphic {
    width: 100%;
    height: $graphic-height;
    max-height: calc(100vh - #{double($header-height)});
  }

  &__values {

    @include media-query(lap-and-up) {
      g {
        @include animation('reveal-chart 1.5s');
      }
    }

    &-line {
      stroke-width: 3px;
      @include graph-stroke-color();
    }

    //&-bar {
    //  @include graph-fill-color-translucent(0.7);

    //  &--active {
    //    @include graph-fill-color();
    //  }
    //}

    &--loading {
      stroke-width: $inuit-base-spacing-unit;
      @include graph-stroke-color();
    }
  }

  &__threshold {
    stroke-width: 1px;
    stroke: $threshold-color;
  }

  &__xaxis {
    &-index {
      text {
        fill: $secondary-text-color;
      }

      &--active {
        text {
          fill: $text-color;
        }
      }
    }
  }

  &__front {
    &-xband {
      &-background {
        fill: rgba(0, 0, 0, 0);
      }
    }
  }

  &__cursor {
    stroke: $focus-border-color;
    stroke-width: 3;
    pointer-events: none;
  }

  &__legend {
    padding: halve($inuit-base-spacing-unit);
    pointer-events: none;

    @include media-query(palm) {
      margin: 0px auto;
    }

    @include media-query(lap-and-up) {
      position: absolute;
      left: 0px;
      margin: 0px;
      background-color: $active-background-color;
    }
  }

  &--area,
  &--bar {
    .chart__gradient {
      @include graph-fill-color-gradient();
    }
  }

  &--small {
    .chart__graphic {
      height: $small-graphic-height;
    }
  }

  &--large {
    .chart__graphic {
      height: $large-graphic-height;
    }
  }
}
