// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$button-vertical-padding: round($inuit-base-spacing-unit / 3) - $button-border-width;
$button-horizontal-padding: round($inuit-base-spacing-unit) - $button-border-width;

@mixin basic-button {
  padding: $button-vertical-padding $button-horizontal-padding;
  background-color: transparent;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: $button-font-weight;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: $button-min-width;
  max-width: $button-max-width;

  &:focus:not(.button--disabled) {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  @include media-query(lap-and-up) {
    transition: 0.1s ease-in-out;
  }
}

.grommet {
  input[type="button"],
  input[type="submit"],
  button:not(.button) {
    @include basic-button();
  }

  a.button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.button {
  @include basic-button();
}

.button__icon {
  display: inline-block;
  padding: halve($inuit-base-spacing-unit);
}

.button--primary {
  border-color: $brand-color;
  background-color: $brand-color;
  color: $active-colored-text-color;

  &:hover:not(.button--disabled) {
    color: $active-colored-text-color;

   .button__icon .control-icon {
      fill: $active-colored-icon-color;
      stroke: $active-colored-icon-color;
    }
  }
}

.button--secondary {
  border-color: $button-secondary-color;
}

.button--accent {
  border-color: $button-accent-color;
}

.button--plain {
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  min-width: 0;
  max-width: none;
  font-weight: inherit;

  &.button--primary {
    background-color: $brand-color;
  }

  > span:not(.button__icon) {

    &:first-child {
      margin-left: halve($inuit-base-spacing-unit);
    }

    &:last-child {
      margin-right: halve($inuit-base-spacing-unit);
    }
  }

  #{$dark-background-context} & {
    color: $colored-text-color;

    .control-icon {
      fill: $colored-icon-color;
      stroke: $colored-icon-color;
    }

    &:hover {
      color: $active-colored-text-color;

     .control-icon {
        fill: $active-colored-icon-color;
        stroke: $active-colored-icon-color;
      }
    }
  }
}

#{$dark-background-context} .button:not(.button--primary) {
  border-color: $button-colored-border-color;
  color: $colored-text-color;

  &.button--accent {
    border-color: $button-accent-color;
  }
}

.button--disabled {
  opacity: 0.3;
  cursor: default;
}

.button--icon {
  flex: 0 0 auto;
}

.button--fill {
  width: 100%;
  max-width: none;
  //used to add full height for button inside a flex container
  flex-grow: 1;
}
