// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.section {
  padding-top: double($inuit-base-spacing-unit);
  padding-bottom: double($inuit-base-spacing-unit);

  &__content {
    > h2,
    > h3,
    > h4 {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }
  }

  &--right {
    .section__content {
      display: -webkit-flex;
      display: flex;

      @include flexible();

      @include media-query(lap-and-up) {
        > * {
          margin-right: double($inuit-base-spacing-unit);

          &:last-child {
            margin-right: 0px;
          }
        }

        > .menu:first-child {
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
          width: $nav-width;
        }
      }

      @include media-query(palm) {
        -webkit-flex-direction: column;
        flex-direction: column;

        > * {
          margin-bottom: double($inuit-base-spacing-unit);
          padding-bottom: double($inuit-base-spacing-unit);
          //border-bottom: 1px solid $border-color;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &--compact {
    padding-top: 0px;
    padding-bottom: 0px;

    .section__content {
      padding-top: halve($inuit-base-spacing-unit);
      padding-bottom: halve($inuit-base-spacing-unit);
    }
  }

  &--centered {
    text-align: center;

    .section__content > * {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &--flush {
    .section__content {
      > h2,
      > h3,
      > h4 {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}
