// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

$form-horizontal-padding: $inuit-base-spacing-unit; //round($inuit-base-spacing-unit * 0.75);
$form-vertical-padding: quarter($inuit-base-spacing-unit);

.form-field {
  position: relative;
  padding: $form-vertical-padding $form-horizontal-padding;
  border: $input-border-width solid $border-color;
  margin-bottom: - $input-border-width; // so borders overlap
  background-color: $form-field-background-color;
  opacity: 1; // for --hidden

  @include media-query(lap-and-up) {
    max-width: $form-width;
    width: 100%;
    max-height: 100vh;
    transition: all 0.4s, padding-top 0.3s 0.1s, padding-bottom 0.3s 0.1s;

    .form--compact & {
      width: $compact-form-width;
    }
  }

  @include media-query(palm) {
    display: block;
  }

  .form--fill & {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &__label {
    display: block;
    @include inuit-font-size($label-font-size, $inuit-base-spacing-unit);
    color: $secondary-text-color;
  }

  &__contents {
    display: block;
    margin-left: - $form-horizontal-padding;
    margin-right: - $form-horizontal-padding;

    > input[type=text],
    > input[type=range],
    > input[type=email],
    > input[type=password],
    > input[type=number],
    > select,
    > .search-input input,
    > .calendar input,
    > textarea {
      display: block;
      width: 100%;
      border: none;
      padding: 0px;
      padding-left: $form-horizontal-padding;
      padding-right: $form-horizontal-padding;
      border-radius: 0px;
      @include inuit-font-size($content-font-size);

      &:focus {
        border: none;
      }
    }

    > input[type=range] {
      width: calc(100% - #{double($form-horizontal-padding)});
      margin-left: $form-horizontal-padding;
      margin-right: $form-horizontal-padding;
      padding-left: 0px;
      padding-right: 0px;
    }

    > select {
      display: block;
      background-position: center right #{$form-horizontal-padding - quarter($inuit-base-spacing-unit)};
      // This seems to be correct for only some browsers.
      // Extra whitespace is added (by different amounts) by each browser's rendering engine
      padding-left: #{$form-horizontal-padding - 2};
    }

    // For dotted firefox outline
    > select:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    // Disable IE's clear icon
    ::-ms-clear {
      display: none;
    }

    // Disable IE's select arrow
    > select::-ms-expand {
      display: none;
    }

    // Disable IE's background select
    > select::-ms-value {
      background: none;
      color: inherit;
    }

    // Prevent textarea from adding extra bottom margin
    > textarea {
      vertical-align: top;
      height: auto;
      // Note that resize does nothing in IE/Edge
      resize: vertical;
    }

    > .check-box,
    > .radio-button {
      display: block;
      @include inuit-font-size($content-font-size);
      margin-top: double($form-vertical-padding);
      margin-bottom: double($form-vertical-padding);
      margin-left: $form-horizontal-padding;
      margin-right: $form-horizontal-padding;
    }

    > .search-input,
    > .calendar {
      display: block;

      input {
        margin-left: 0px;
        margin-right: 0px;
      }

      .search-input__control,
      .calendar__control {
        right: quarter($inuit-base-spacing-unit);
        bottom: - $form-vertical-padding;
      }
    }

    > .table--selectable {
      @include inuit-font-size($content-font-size);

      table {
        margin-bottom: 0px;

        td:first-child,
        th:first-child {
          padding-left: $form-horizontal-padding;
        }
      }
    }

    > .form-field {
      width: auto;
      margin-top: halve($inuit-base-spacing-unit);
      border: none;

      > .form-field__label {
        border-top: 1px solid $border-color;
        padding-top: $form-vertical-padding;
      }

      &--hidden {
        margin-top: 0px;
      }
    }
  }

  &__help {
    display: block;
    @include inuit-font-size($label-font-size - 1);
    color: $secondary-text-color;
  }

  &__error {
    display: block;
    float: right;
    color: map-get($brand-status-colors, error);
    line-height: $inuit-base-spacing-unit;
  }

  &--text {
    cursor: pointer;

    .form-field__label {
      cursor: pointer;
    }
  }

  &--hidden {

    @include media-query(palm) {
      display: none;
    }

    @include media-query(lap-and-up) {
      border: none;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      opacity: 0;
      overflow: hidden;
      max-height: 0px;
      transition: max-height 0.2s, all 0.4s;
    }
  }

  &--error {
    z-index: 1;
    border-color: map-get($brand-status-colors, error);
  }

  &--focus {
    z-index: 2;
    border-color: $focus-border-color;
  }
}
