// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@include keyframes(draw-stroke) {
  0% { stroke-dashoffset: quadruple($panel-width); }
  100% { stroke-dashoffset: 0; }
}

.donut {

  @include media-query(palm) {
    width: $panel-width;
    margin: 0px auto;
  }

  &.series-pre {
    path {
      stroke-dashoffset: quadruple($panel-width);
    }
  }

  &__graphic-container {
    position: relative;
    width: $panel-width;
    height: $panel-width;
  }

  svg.donut__graphic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  &__slice {
    stroke-width: $inuit-base-spacing-unit;
    stroke-linecap: butt;
    stroke-dasharray: quadruple($panel-width) quadruple($panel-width);
    stroke-dashoffset: 0;
    fill: none;
    cursor: pointer;
    stroke: $meter-background-color;

    @include graph-stroke-color();

    @include media-query(lap-and-up) {
      @include animation('draw-stroke 3s');
    }

    &-indicator {
      @include graph-fill-color;
    }

    &--active {
      stroke-width: $inuit-base-spacing-unit;
    }
  }

  &__active {
    position: absolute;
    width: 100%;
    margin-top: round($inuit-base-spacing-unit * 3);
    text-align: center;
    white-space: normal;
    pointer-events: none;

    &-value {
      @include inuit-font-size($large-number-font-size, $inuit-heading-size-1 + 2);
      font-weight: bold;
    }

    &-units {
      @include inuit-font-size($inuit-heading-size-3, inherit);
      margin-left: quarter($inuit-base-spacing-unit);
      color: $secondary-text-color;
      font-weight: normal;
    }

    &-label {
      width: 50%;
      margin: 0px auto;
      @include inuit-font-size($label-font-size, $label-font-size + 2);
    }
  }

  &__min-label,
  &__max-label {
    position: absolute;
    bottom: 0px;
    color: $secondary-text-color;
    @include inuit-font-size($label-font-size);
  }

  &__min-label {
    left: halve($inuit-base-spacing-unit);
  }

  &__max-label {
    right: halve($inuit-base-spacing-unit);
  }

  &__legend {
    margin: $inuit-base-spacing-unit 0 0;
  }

  &--landscape {
    @include media-query(lap-and-up) {
      white-space: nowrap;

      .donut {
        &__graphic-container,
        &__legend {
          display: inline-block;
          vertical-align: middle;
        }

        &__legend {
          margin: 0 0 0 $inuit-base-spacing-unit;
        }
      }
    }
  }

  &--portrait {

    .donut {
      &__graphic-container {
        display: block;
      }

      &__legend {
        margin: $inuit-base-spacing-unit 0 0;
      }
    }
  }

  &--partial {
    .donut__graphic-container {
      height: round($panel-width - $inuit-base-spacing-unit);
    }
  }

  &--small {

    .donut {
      &__graphic-container {
        width: $small-panel-width;
        height: $small-panel-width;
      }

      &__active {
        margin-top: round($inuit-base-spacing-unit * 2);
      }
    }

    // always display the legend on phones
    @include media-query(lap-and-up) {
      .donut__legend {
        display: none;
      }
    }
  }
}

