// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.center-column {
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;

  .center-column__content {
    width: 100%;
    max-width: $center-column-width;
    margin-left: auto;
    margin-right: auto;
  }
}
