// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.article {
  position: relative;

  &--scroll-step {
    text-align: center;
  }

  > * {
    flex: 0 0 auto;
  }

  // put padding on contents
  &.box--pad-horizontal {

    &-small {
      padding-left: 0px;
      padding-right: 0px;

      > * {
        padding-left: halve($inuit-base-spacing-unit);
        padding-right: halve($inuit-base-spacing-unit);
      }
    }

    &-medium {
      padding-left: 0px;
      padding-right: 0px;

      > * {
        padding-left: $inuit-base-spacing-unit;
        padding-right: $inuit-base-spacing-unit;
      }
    }

    &-large {
      padding-left: 0px;
      padding-right: 0px;

      > * {
        padding-left: double($inuit-base-spacing-unit);
        padding-right: double($inuit-base-spacing-unit);
      }
    }
  }
}

article:not(.article) {
  width: 100%;
}
