// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.title {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  white-space: nowrap;
  @include inuit-font-size(24px, inherit);

  @include media-query(lap-and-up) {
    font-weight: 600;
  }

  > *:not(:last-child) {
    margin-right: halve($inuit-base-spacing-unit);
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    [class*="background-color-index-"] & {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg,
  img {
    max-width: $image-width;

    &:not(:last-child) {
      margin-right: halve($inuit-base-spacing-unit);
    }
  }

  &--interactive {

    cursor: pointer;

    @include media-query(lap-and-up) {
      transition: color $base-animation-duration ease-in-out;
    }

    &:hover {
      color: $brand-color;
      cursor: pointer;
    }

    [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
      &:hover {
        color: $active-colored-text-color;
      }
    }
  }

  &--responsive {
    @include media-query(palm) {
      svg,
      img {
        margin-right: 0px;
      }

      > *:not(:first-child) {
        display: none;
      }
    }
  }
}
