// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.check-box {
  margin-right: halve($inuit-base-spacing-unit);
  cursor: pointer;

  &:hover {
    .check-box {
      &__control {
        border-color: $active-icon-color;
      }
    }
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:checked + .check-box__control {
      .check-box__control-check {
        display: block;
      }
    }

    &:focus + .check-box__control {
      border-color: $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
    }
  }

  &__control {
    position: relative;
    top: -1px;
  	display: inline-block;
    width: $control-size;
    height: $control-size;
    margin-right: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    background-color: inherit;
    border: $control-border-width solid $icon-color;
    border-radius: $border-radius;

    &-check {
      position: absolute;
      top: -2px;
      left: -2px;
      display: none;
      width: $control-size;
      height: $control-size;
      stroke-width: round($control-border-width * 2);
      stroke: $brand-color;
    }
  }

  &--small {
    .check-box {
      &__control {
        width: $control-small-size;
        height: $control-small-size;

        &-check {
          top: -1.5px;
          left: -1px;
          width: $control-small-size - 1;
          height: $control-small-size - 1;
        }
      }
    }
  }

  &--toggle {

    &:hover {
      .check-box__control:after {
        border-color: $active-icon-color;
      }
    }

    .check-box__control {
      width: double($control-size);
      height: $control-size;
      border-radius: $control-size;
      background-color: $meter-background-color;
      border: none;
      transition: background-color 0.3s;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: $control-size;
        height: $control-size;
        background-color: #fff;
        border: $control-border-width solid $icon-color;
        border-radius: $control-size;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: margin-left 0.3s;
      }
    }

    .check-box__input {

      &:checked + .check-box__control {
        background-color: $brand-color;
      }

      &:checked + .check-box__control:after {
        top: 0px;
        left: 0px;
        width: $control-size;
        height: $control-size;
        background-color: #fff;
        margin-left: $control-size;
      }
    }
  }
}
