// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}login-form {
  position: relative;
  padding: $inuit-base-spacing-unit;
  background-color: $layer-background-color;
  z-index: 1;
  @include fade-in();

  @include media-query(palm) {
    width: 100%;
  }

  &__header {
    text-align: center;
  }

  fieldset {
    margin-bottom: 0;
  }

  &__submit {
    width: 100%;
    max-width: none;
  }

  &--align {
    &-start {
      .#{$grommet-namespace}login-form {
        &__header {
          text-align: left;

          html.rtl & {
            text-align: right;
          }
        }

        &__submit {
          width: auto;
        }
      }
    }

    &-end {
      .#{$grommet-namespace}login-form {
        &__header {
          text-align: right;

          html.rtl & {
            text-align: left;
          }
        }

        &__submit {
          width: auto;
        }
      }
    }
  }
}
