// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form {
  position: relative;

  @include media-query(lap-and-up) {
    width: $form-width;
    max-width: 100%;
  }

  @include pad();

  > .header .header__wrapper { // TODO: clean up
    background-color: inherit;
  }

  fieldset {
    border: none;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: $inuit-base-spacing-unit;

    &:first-child {
      margin-top: 0px;
    }

    &:last-child {
      margin-bottom: 0px;
    }

    > legend {
      @include inuit-font-size(24px);
      font-weight: 600;
      margin-bottom: halve($inuit-base-spacing-unit);
    }

    > *:not(.form-field) + .form-field {
      margin-top: halve($inuit-base-spacing-unit);
    }

    > .form-field + *:not(.form-field) {
      margin-top: $inuit-base-spacing-unit;
    }
  }

  .layer & {

    @include media-query(lap-and-up) {
      max-height: 100vh;
      max-width: 100%;
      overflow: auto;
      padding: round($inuit-base-spacing-unit * 0.75) double($inuit-base-spacing-unit) double($inuit-base-spacing-unit);
    }

    @include media-query(palm) {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
      //width: 100%;

      > .form-fields {
        margin-top: $inuit-base-spacing-unit;
      }

      > .form-fields > fieldset > .form-field,
      > .form-fields > .form-field {
        margin-left: - $inuit-base-spacing-unit;
        margin-right: - $inuit-base-spacing-unit;
      }
    }

    &--sticky {
      display: flex;
      flex-direction: column;

      > .header,
      > .footer {
        flex: 0 0 auto;
      }
    }
  }

  &--fill {
    min-width: 0px;
  }

  &--compact {
    max-width: $compact-form-width;
  }
}
