// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.distribution {
  position: relative;
  display: block;

  &__graphic {
    width: 100%;
    height: $graphic-height;
    max-height: calc(100vh - #{double($header-height)});
  }

  &__box {
    @include graph-fill-color();

    &-label {
      fill: $active-background-color;
    }
  }

  &__loading-indicator {
    stroke-width: $inuit-base-spacing-unit;
    @include graph-stroke-color();
  }

  &--small {
    .distribution__graphic {
      height: $small-graphic-height;
    }
  }

  &--large {
    .distribution__graphic {
      height: $large-graphic-height;
    }
  }
}
