// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form {
  position: relative;

  @include media-query(lap-and-up) {
    max-width: $form-width;
  }

  > .header .header__wrapper { // TODO: clean up
    background-color: inherit;
  }

  fieldset {
    border: none;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: $inuit-base-spacing-unit;
    margin-left: $inuit-base-spacing-unit;
    margin-right: $inuit-base-spacing-unit;

    legend {
      @include inuit-font-size(36px);
      font-weight: 600;
      margin-bottom: halve($inuit-base-spacing-unit);
      color: $secondary-text-color;
    }
  }

  .layer & {
    padding: $inuit-base-spacing-unit quadruple($inuit-base-spacing-unit);
    max-height: 100vh;
    max-width: 100vw;
    overflow: auto;

    &--sticky {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;

      > .header,
      > .footer {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    }

    > .form-fields {
      overflow: auto;
    }

    @include media-query(palm) {
      > .form-fields {
        margin-left: - $inuit-base-spacing-unit;
        margin-right: - $inuit-base-spacing-unit;

        > fieldset > *:not(.form-field) {
          margin-left: $inuit-base-spacing-unit;
          margin-right: $inuit-base-spacing-unit;
        }
      }
    }
  }

  &--fill {
    min-width: 0px;
  }

  &--flush {
    fieldset {
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &--compact {
    max-width: $compact-form-width;
  }
}
