// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@include keyframes(reveal-chart) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chart {
  position: relative;
  display: block;

  &__grid {
    stroke: $border-color;
  }

  &__graphic {
    width: 100%;
    height: $graphic-size;
    max-height: calc(100vh - #{double($header-height)});
  }

  &__values {

    @include media-query(lap-and-up) {
      g {
        @include animation('reveal-chart 1.5s');
      }
    }

    &-line {
      stroke-width: 3px;
      @include graph-stroke-color();
    }

    &-bar,
    &-area {
      @include graph-fill-color-translucent(0.7);

      &--active {
        @include graph-fill-color;
      }
    }

    &-point {
      stroke-width: 3px;
      @include graph-stroke-color();
      fill: $background-color;
    }

    &--loading {
      stroke-width: $inuit-base-spacing-unit;
      @include graph-stroke-color();
    }
  }

  &__threshold {
    stroke-width: 2px;
    stroke: $threshold-color;
    pointer-events: none;
  }

  &__yaxis .chart__bar {
    @include graph-fill-color-translucent(0.5);
  }

  &__xaxis {
    &-index {
      text {
        fill: $secondary-text-color;
      }

      &--eclipse {
        text {
          fill: transparent;
        }
      }

      &--active {
        text {
          fill: $text-color;
        }
      }
    }
  }

  &__front {
    &-xband {
      &-background {
        fill: rgba(0, 0, 0, 0);
      }
    }
  }

  &__cursor {
    stroke: $cursor-color;
    stroke-width: 2;
    pointer-events: none;

    &-point {
      stroke-width: 2;
      @include graph-fill-color();
    }
  }

  &__legend {

    &--overlay {
      padding: halve($inuit-base-spacing-unit);
      pointer-events: none;

      @include media-query(palm) {
        margin: 0px auto;
      }

      @include media-query(lap-and-up) {
        position: absolute;
        left: 0px;
        margin: 0px;
        background-color: $active-background-color;
      }
    }
  }

  &--area,
  &--bar {
    .chart__gradient {
      @include graph-fill-color-gradient();
    }
  }

  &--small {
    .chart__graphic {
      height: $graphic-small-size;
    }
  }

  &--large {
    .chart__graphic {
      height: $graphic-large-size;
    }
  }

  &--sparkline {
    display: inline-block;
    margin-right: quarter($inuit-base-spacing-unit);

    .chart__graphic {
      width: auto;
      height: $sparkline-height;
    }

    .chart__values {
      &-bar,
      &-area {
        @include graph-fill-color();
      }
    }
  }
}
