// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.document {
  width: 100%;
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;

  &--no-contents {
    .document__content {
      padding-left: 0px;
    }
  }

  &--flush {
    padding-left: 0px;
    padding-right: 0px;
  }

}
