// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.title {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-right: halve($inuit-base-spacing-unit);
  white-space: nowrap;
  @include inuit-font-size(24px, inherit);

  @include media-query(lap-and-up) {
    font-weight: 700;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    [class*="background-color-index-"] & {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg,
  img {
    margin-right: halve($inuit-base-spacing-unit);
    max-height: 100%;
  }

  &--interactive {

    cursor: pointer;

    &:hover {
      color: $brand-color;
      cursor: pointer;

      @include media-query(lap-and-up) {
        transition: color 0.3s;
      }
    }
  }

  &--responsive {
    @include media-query(palm) {
      svg,
      img {
        margin-right: 0px;
      }

      > *:not(:first-child) {
        display: none;
      }
    }
  }
}
