// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}radio-button {
  margin-right: $inuit-base-spacing-unit;
  white-space: nowrap;

  &:not(.#{$grommet-namespace}radio-button--disabled) {
    cursor: pointer;
  }

  &:hover:not(.#{$grommet-namespace}radio-button--disabled) {
    .#{$grommet-namespace}radio-button {
      &__control {
        border-color: $active-icon-color;

        #{$dark-background-context} & {
          border-color: $active-colored-icon-color;
        }
      }

      &__input:checked + .#{$grommet-namespace}radio-button__control {
        border-color: $active-icon-color;

        #{$dark-background-context} & {
          border-color: $active-colored-icon-color;
        }
      }

      &__label {
        color: $hover-text-color;

        #{$dark-background-context} & {
          color: $active-colored-text-color;
        }
      }
    }
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:checked + .#{$grommet-namespace}radio-button__control {
      border-color: $brand-color;

      #{$dark-background-context} & {
        border-color: $active-colored-icon-color;
      }

      + .#{$grommet-namespace}radio-button__label {
        color: $text-color;

        #{$dark-background-context} & {
          color: $active-colored-text-color;
        }
      }
    }

    &:checked + .#{$grommet-namespace}radio-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: quarter($control-size) - 1;
      left: quarter($control-size) - 1;
      width: halve($control-size) - 2;
      height: halve($control-size) - 2;
      background-color: $brand-color;
      border-radius: halve($control-size);

      #{$dark-background-context} & {
        background-color: $active-colored-icon-color;
      }
    }

    &:focus + .#{$grommet-namespace}radio-button__control {
      content: "";
      border-color: $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
    }
  }

  &__control {
    position: relative;
    display: inline-block;
    width: $control-size;
    height: $control-size;
    margin-right: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    background-color: inherit;
    color: $brand-color-darker;
    border: $control-border-width solid $icon-color;
    border-radius: $control-size;

    html.rtl & {
      margin-right: 0;
      margin-left: halve($inuit-base-spacing-unit);
    }

    #{$dark-background-context} & {
      border-color: $colored-icon-color;
    }
  }

  &__label {
    color: $secondary-text-color;

    #{$dark-background-context} & {
      color: $colored-text-color;
    }
  }

  &--disabled {
    .#{$grommet-namespace}radio-button__control {
      opacity: 0.5;
    }
  }
}
