.#{$grommet-namespace}quote {
  border-width: $inuit-base-spacing-unit;
  border-style: solid;
  max-width: 100%;
}

.#{$grommet-namespace}quote--small {
  border-width: halve($inuit-base-spacing-unit);
}
