// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.grommet.drop {
  position: fixed;
  z-index: 20;
  background-color: rgba($background-color, 0.9);
  border: $drop-border;
  border-radius: $border-radius;
  box-shadow: $drop-box-shadow;
  overflow: auto;
}
