// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$meter-bar-length: round($inuit-base-spacing-unit * 8);

@include keyframes(draw-meter) {
  0% {
    stroke-dashoffset: $meter-bar-length;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.meter {
  display: inline-block;
  position: relative;

  &__threshold {
    stroke: $threshold-color;
  }

  &__active-graphic {
    position: relative;
  }

  &__labeled-graphic {
    white-space: normal;
  }

  &__labels-container {
    display: block;
  }

  &__labels {
    display: -webkit-flex;
    display: flex;
    color: $secondary-text-color;
    @include inuit-font-size($label-font-size);
  }

  &__label-min,
  &__label-max {
    -webkit-flex: 1;
    flex: 1;
  }

  &__label-max {
    text-align: right;
  }

  &--bar {
    .meter {

      &__labeled-graphic {
        display: inline-block;
      }

      &__graphic {
        width: $meter-bar-length;
        height: $inuit-base-spacing-unit;
      }

      &__bar {
        stroke-linecap: butt;
        stroke-dasharray: quadruple($panel-width) quadruple($panel-width);
        stroke-dashoffset: 0;
      }

      &__values .meter__bar {
        stroke-width: $inuit-base-spacing-unit;
        @include graph-stroke-color();

        @include media-query(lap-and-up) {
          @include animation('draw-meter 1.5s');
        }
      }

      &__thresholds .meter__bar {
        stroke-width: halve($inuit-base-spacing-unit);
        @include graph-stroke-color-translucent(0.5);
      }

      &__threshold {
        stroke-width: 1;
      }

      &__active {
        display: inline-block;
        vertical-align: top;
        margin-left: halve($inuit-base-spacing-unit);
        @include inuit-font-size($inuit-heading-size-3);

        &-units {
          color: $secondary-text-color;
          margin-left: 0.5em;
        }
      }

      &__labels-container {
        width: $meter-bar-length;
      }
    }
  }

  &--circle,
  &--arc {
    @include media-query(palm) {
      width: $panel-width;
      margin: 0px auto;
    }

    svg.meter__graphic {
      display: block;
      width: $panel-width;
      height: $panel-width;
    }

    .meter {

      &.series-pre {
        path {
          stroke-dashoffset: quadruple($panel-width);
        }
      }

      &__slice {
        stroke-linecap: butt;
        stroke-dasharray: quadruple($panel-width) quadruple($panel-width);
        stroke-dashoffset: 0;
        fill: none;
        cursor: pointer;
        stroke: $meter-background-color;

        &-indicator {
          stroke-linecap: round;
          stroke-width: 3;
          @include graph-stroke-color;
        }

        &--active {
          stroke-width: $inuit-base-spacing-unit;
        }
      }

      &__values .meter__slice {
        stroke-width: $inuit-base-spacing-unit;
        @include graph-stroke-color();

        @include media-query(lap-and-up) {
          @include animation('draw-stroke 3s');
        }
      }

      &__thresholds .meter__slice {
        stroke-width: halve($inuit-base-spacing-unit);
        @include graph-stroke-color-translucent(0.5);
      }

      &__threshold {
        stroke-width: $inuit-base-spacing-unit;
        stroke-linecap: butt;
      }

      &__active {
        position: absolute;
        top: 0px;
        left: 0px;
        width: $panel-width;
        margin-top: round($inuit-base-spacing-unit * 3);
        text-align: center;
        white-space: normal;
        pointer-events: none;

        &-value {
          @include inuit-font-size($large-number-font-size, $inuit-heading-size-1 + 2);
          font-weight: bold;
        }

        &-units {
          @include inuit-font-size($inuit-heading-size-3, inherit);
          margin-left: quarter($inuit-base-spacing-unit);
          color: $secondary-text-color;
          font-weight: normal;
        }

        &-label {
          width: 50%;
          margin: 0px auto;
          @include inuit-font-size($label-font-size, $label-font-size + 2);
        }
      }

      &__labels-container {
        width: $panel-width;
      }

      &__legend {
        margin: $inuit-base-spacing-unit 0 0;
      }
    }
  }

  &--arc {
    svg.meter__graphic {
      height: $panel-width - double($inuit-base-spacing-unit);
    }

    .meter__labels-container {
      padding-left: halve($inuit-base-spacing-unit);
      padding-right: halve($inuit-base-spacing-unit);
    }
  }

  &--circle {
    svg.meter__graphic {
      height: $panel-width;
    }
  }

  &--vertical {
    display: -webkit-flex;
    display: flex;

    .meter {
      &__labels {
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }

      &__label-min,
      &__label-max {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        text-align: left;
      }

      &__label-min {
        -webkit-order: 1;
        order: 1;
      }

      &__label-max {
        -webkit-order: 0;
        order: 0;
      }
    }

    &.meter--bar {
      white-space: nowrap;

      svg.meter__graphic {
        width: $inuit-base-spacing-unit;
        height: $meter-bar-length;
      }

      .meter__active {
        margin-top: round($inuit-base-spacing-unit * 3);
        margin-left: halve($inuit-base-spacing-unit);

        &-value {
          @include inuit-font-size($large-number-font-size, $inuit-heading-size-1 + 2);
          font-weight: bold;
        }

        &-units {
          @include inuit-font-size($inuit-heading-size-3, inherit);
          margin-left: quarter($inuit-base-spacing-unit);
          color: $secondary-text-color;
          font-weight: normal;
        }
      }

      .meter__labels-container {
        position: absolute;
        top: 0px;
        left: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
        width: auto;
        height: $meter-bar-length;
      }

      .meter__labels {
        height: $meter-bar-length;
      }

      .meter__legend {
        margin-left: $inuit-base-spacing-unit;
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        display: inline;
        width: $panel-width - double($inuit-base-spacing-unit);
        height: $panel-width;
      }

      .meter__labels-container {
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: $panel-width;
        padding-top: halve($inuit-base-spacing-unit);
        padding-bottom: halve($inuit-base-spacing-unit);
      }

      .meter__labels {
        height: $panel-width - $inuit-base-spacing-unit;
      }
    }
  }

  &--small {
    &.meter--bar {
      svg.meter__graphic {
        width: $small-panel-width;
      }

      .meter__active {
        @include inuit-font-size($inuit-base-font-size);
      }
    }

    &.meter--arc,
    &.meter--circle {
      svg.meter__graphic {
        width: $small-panel-width;
        height: $small-panel-width;
      }

      .meter__active {
        width: $small-panel-width;
        margin-top: round($inuit-base-spacing-unit * 2);

        &-value {
          @include inuit-font-size($small-large-number-font-size, inherit);
        }
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        height: $small-panel-width - $inuit-base-spacing-unit;
      }
    }

    // always display the legend on phones
    @include media-query(lap-and-up) {
      .meter__legend {
        display: none;
      }
    }
  }

  &--large {
    &.meter--bar {
      svg.meter__graphic {
        width: $large-panel-width;
        height: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
      }

      .meter__active {
        @include inuit-font-size($small-large-number-font-size, inherit);
      }
    }

    &.meter--arc,
    &.meter--circle {
      svg.meter__graphic {
        width: $large-panel-width;
        height: $large-panel-width;
      }

      .meter__active {
        width: $large-panel-width;
        margin-top: round($inuit-base-spacing-unit * 4);

        &-value {
          @include inuit-font-size($large-large-number-font-size, inherit);
        }
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        height: $large-panel-width - $inuit-base-spacing-unit;
      }
    }
  }

  &--legend {
    &-right {
      white-space: nowrap;

      .meter__labels-container {
        width: auto;
      }

      .meter__legend {
        vertical-align: top;
      }
    }
  }

  &--loading {
    .meter__thresholds {
      display: none;
    }
  }
}
