// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.notification {

  &__status {
    margin-right: halve($inuit-base-spacing-unit);
  }

  &__message {
    margin-bottom: $inuit-base-spacing-unit;
    vertical-align: middle;
  }

  @each $status, $color in $brand-status-colors {
    &--#{$status} {
      background-color: $color;
      @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);

      // 63 was empircally determined based on HPE critical and warning colors
      @if lightness($color) < 63 {
        color: $colored-text-color;

        .notification__status .status-icon__base {
          fill: $colored-text-color;
        }
      } @else {
        .notification__status .status-icon__base {
          fill: $text-color;
        }
      }
    }
  }
}
