// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.split {

  @include media-query(lap-and-up) {
    display: -webkit-flex;
    display: flex;

    > * {
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      position: relative;
      height: 100vh;
      overflow: auto;
    }

    &--flex-right {
      > *:first-child:not(:last-child) {
        -webkit-flex-grow: 0;
        flex-grow: 0;
      }
    }

    &--flex-left {
      > *:last-child:not(:first-child),
      > .object {
        -webkit-flex-grow: 0;
        flex-grow: 0;
      }
    }
  }
}
