// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}attribute {
  margin-bottom: halve($inuit-base-spacing-unit);

  @include media-query(lap-and-up) {
    //width: $form-width;
    //max-width: 100%;

    //.form--compact & {
      //width: $compact-form-width;
    //}
  }

  @include media-query(palm) {
    width: 100%;
  }

  &__label {
    display: block;
    text-align: left;
    @include inuit-font-size($label-font-size, $inuit-base-spacing-unit);
    color: $secondary-text-color;
  }
}
