// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$meter-bar-length: round($inuit-base-spacing-unit * 8);
$meter-width: round($inuit-base-spacing-unit * 0.75);
$meter-inactive-width: round($inuit-base-spacing-unit * 0.25);
$meter-threshold-width: round($inuit-base-spacing-unit * 0.25);
$meter-circle-size: $panel-width;
$meter-arc-size: $panel-width - double($inuit-base-spacing-unit);
$meter-label-width: double($inuit-base-spacing-unit);
$meter-small-circle-size: $small-panel-width;
$meter-large-circle-size: $large-panel-width;

@include keyframes(draw-meter) {
  0% {
    stroke-dashoffset: $meter-bar-length;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.meter {
  display: inline-block;
  position: relative;

  &__threshold {
    stroke: $threshold-color;
  }

  &__active-graphic {
    position: relative;
  }

  &__labeled-graphic {
    white-space: normal;
  }

  &__labels-container {
    display: block;
  }

  &__labels {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: $secondary-text-color;
    @include inuit-font-size($label-font-size);
  }

  &__label-min,
  &__label-max {
    -webkit-flex: 0 0 $meter-label-width;
    flex: 0 0 $meter-label-width;
  }

  &__label-max {
    text-align: right;
  }

  &--bar {
    .meter {

      &__labeled-graphic {
        display: inline-block;
      }

      &__graphic {
        width: $meter-bar-length;
        height: $inuit-base-spacing-unit;
      }

      &__bar {
        stroke-linecap: butt;
        stroke-dasharray: quadruple($meter-bar-length) quadruple($meter-bar-length);
        stroke-dashoffset: 0;
      }

      &__values .meter__bar {
        stroke-width: $meter-width;
        @include graph-stroke-color();
        cursor: pointer;

        @include media-query(lap-and-up) {
          transition: stroke-width 0.2s;
          @include animation('draw-meter 1.5s');
        }
      }

      &__thresholds .meter__bar {
        stroke-width: $meter-threshold-width;
        @include graph-stroke-color-translucent(0.5);
      }

      &__active {
        display: inline-block;
        vertical-align: top;
        margin-left: halve($inuit-base-spacing-unit);
        @include inuit-font-size($inuit-heading-size-3);

        &-units {
          color: $secondary-text-color;
          margin-left: 0.5em;
        }

        &-label {
          width: 50%;
          margin: 0px auto;
          @include inuit-font-size($label-font-size, $label-font-size + 2);
        }
      }

      &__labels-container {
        width: $meter-bar-length;
      }
    }

    &.meter--active {
      .meter {
        &__values .meter__bar {
          stroke-width: $meter-threshold-width;

          &--active {
            stroke-width: $meter-width;
          }
        }
      }
    }
  }

  &--circle,
  &--arc {
    @include media-query(palm) {
      width: $meter-circle-size;
      margin: 0px auto;
    }

    svg.meter__graphic {
      display: block;
      width: $meter-circle-size;
      height: $meter-circle-size;
    }

    .meter {

      &.series-pre {
        path {
          stroke-dashoffset: quadruple($meter-circle-size);
        }
      }

      &__slice {
        stroke-linecap: butt;
        stroke-dasharray: quadruple($meter-circle-size) quadruple($meter-circle-size);
        stroke-dashoffset: 0;
        fill: none;
        cursor: pointer;
        stroke: $meter-background-color;

        &-indicator {
          stroke-linecap: round;
          stroke-width: 3;
          stroke: #000;
          //@include graph-stroke-color;
        }
      }

      &__values .meter__slice {
        stroke-width: $meter-width;
        @include graph-stroke-color();

        @include media-query(lap-and-up) {
          transition: stroke-width 0.2s;
          @include animation('draw-stroke 3s');
        }
      }

      &__thresholds .meter__slice {
        stroke-width: $meter-threshold-width;
        @include graph-stroke-color-translucent(0.5);
      }

      &__threshold {
        //stroke-width: $inuit-base-spacing-unit;
        stroke-linecap: butt;
      }

      &__active {
        position: absolute;
        left: $meter-label-width;
        // leave room for labels on either side
        width: $meter-circle-size - double($meter-label-width);
        text-align: center;
        white-space: normal;
        pointer-events: none;

        &-value {
          @include inuit-font-size($large-number-font-size, $inuit-heading-size-1 + 2);
          font-weight: bold;
        }

        &-units {
          @include inuit-font-size($inuit-heading-size-3, inherit);
          margin-left: quarter($inuit-base-spacing-unit);
          color: $secondary-text-color;
          font-weight: normal;
        }

        &-label {
          display: block;
          text-align: center;
          @include inuit-font-size($label-font-size, $label-font-size + 2);
        }
      }

      &__labels-container {
        width: $meter-circle-size;
      }

      &__legend {
        margin: $inuit-base-spacing-unit 0 0;
      }
    }

    &.meter--active {
      .meter {
        &__values .meter__slice {
          stroke-width: $meter-threshold-width;

          &--active {
            stroke-width: $meter-width;
          }
        }
      }
    }
  }

  &--arc {
    svg.meter__graphic {
      height: $meter-arc-size;
    }

    .meter {
      &__active {
        bottom: 0px;
      }
    }
  }

  &--circle {
    svg.meter__graphic {
      height: $meter-circle-size;
    }

    .meter {
      &__active {
        top: round($inuit-base-spacing-unit * 3);
      }
    }
  }

  &--vertical {
    .meter {
      &__active-graphic {
        display: inline-block;
        vertical-align: middle;
      }

      &__labeled-graphic {
        white-space: nowrap;
      }

      &__labels {
        -webkit-flex-direction: column;
        flex-direction: column;
      }

      &__label-min,
      &__label-max {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        text-align: left;
      }

      &__label-min {
        -webkit-order: 1;
        order: 1;
      }

      &__label-max {
        -webkit-order: 0;
        order: 0;
      }

      &__legend {
        @include media-query(lap-and-up) {
          vertical-align: middle;
          margin: 0px 0px 0px 24px;
        }
      }

      &__active {
        &-label {
          display: block;
        }
      }
    }

    &.meter--bar {
      white-space: nowrap;

      svg.meter__graphic {
        width: $inuit-base-spacing-unit;
        height: $meter-bar-length;
      }

      .meter__active {
        margin-top: round($inuit-base-spacing-unit * 3);
        margin-left: halve($inuit-base-spacing-unit);

        &-value {
          @include inuit-font-size($large-number-font-size, $inuit-heading-size-1 + 2);
          font-weight: bold;
        }

        &-units {
          @include inuit-font-size($inuit-heading-size-3, inherit);
          margin-left: quarter($inuit-base-spacing-unit);
          color: $secondary-text-color;
          font-weight: normal;
        }
      }

      .meter__labels-container {
        position: absolute;
        top: 0px;
        left: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
        width: auto;
        height: $meter-bar-length;
      }

      .meter__labels {
        height: $meter-bar-length;
      }

      .meter__legend {
        margin-left: $inuit-base-spacing-unit;
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        display: inline;
        width: $meter-arc-size;
        height: $meter-circle-size;
      }

      .meter {

        &__active {
          top: round($inuit-base-spacing-unit * 3);
          width: halve($meter-arc-size);
          text-align: right;
        }

        &__labels-container {
          display: inline-block;
          vertical-align: top;
          width: auto;
          height: $panel-width;
          min-width: halve($meter-label-width);
          padding-top: halve($inuit-base-spacing-unit);
          padding-bottom: halve($inuit-base-spacing-unit);
        }

        &__labels {
          height: $panel-width - $inuit-base-spacing-unit;
        }
      }

      &.meter--single {
        .meter__active {
          left: auto;
          right: 0px;
        }
      }
    }
  }

  &--small {
    &.meter--bar {

      .meter__labels-container {
        width: $meter-small-circle-size;
      }

      svg.meter__graphic {
        width: $meter-small-circle-size;
      }

      .meter__active {
        @include inuit-font-size($inuit-base-font-size);
      }
    }

    &.meter--arc,
    &.meter--circle {
      svg.meter__graphic {
        width: $meter-small-circle-size;
        height: $meter-small-circle-size;
      }

      .meter__active {
        // leave room for labels on either side
        width: $meter-small-circle-size - double($meter-label-width);

        &-value {
          @include inuit-font-size($small-large-number-font-size, inherit);
        }
      }
    }

    &.meter--circle {
      .meter__active {
        top: round($inuit-base-spacing-unit * 2);
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        height: $small-panel-width - $inuit-base-spacing-unit;
      }
    }

    // always display the legend on phones
    @include media-query(lap-and-up) {
      .meter__legend {
        display: none;
      }
    }
  }

  &--large {
    &.meter--bar {
      svg.meter__graphic {
        width: $meter-large-circle-size;
        height: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
      }

      .meter__active {
        @include inuit-font-size($small-large-number-font-size, inherit);
      }
    }

    &.meter--arc,
    &.meter--circle {
      svg.meter__graphic {
        width: $meter-large-circle-size;
        height: $meter-large-circle-size;
      }

      .meter__active {
        width: $meter-large-circle-size - double($meter-label-width);

        &-value {
          @include inuit-font-size($large-large-number-font-size, inherit);
        }
      }
    }

    &.meter--circle {
      .meter__active {
        top: round($inuit-base-spacing-unit * 4);
      }
    }

    &.meter--arc {
      svg.meter__graphic {
        height: $large-panel-width - $inuit-base-spacing-unit;
      }
    }
  }

  &--legend {
    &-right {
      white-space: nowrap;

      .meter__labels-container {
        width: auto;
      }

      .meter__legend {
        vertical-align: top;
      }
    }
  }

  &--loading {
    .meter__thresholds,
    .meter__active {
      display: none;
    }
  }
}
