// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.sidebar {
  min-height: 100vh;

  @include media-query(palm) {
    max-width: 100%;
    width: 100vw;
  }

  @include media-query(lap-and-up) {
    width: $sidebar-width;
  }

  &--fixed {
    display: flex;
    flex-direction: column;

    > * {
      flex: 1;
      overflow: auto;

      &.header,
      &.footer {
        flex: 0 0 auto;
      }
    }
  }

  &--primary {
    background-color: $secondary-background-color;
  }

  &--small {
    @include media-query(lap-and-up) {
      width: $sidebar-small-width;
    }
  }

  &--large {
    @include media-query(lap-and-up) {
      width: $sidebar-large-width;
    }
  }
}
