// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

$button-vertical-padding: round($inuit-base-spacing-unit / 3) - $button-border-width;
$button-horizontal-padding: round($inuit-base-spacing-unit) - $button-border-width;

@mixin basic-button {
  padding: $button-vertical-padding $button-horizontal-padding;
  background-color: transparent;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: $button-font-weight;
  cursor: pointer;
  text-align: center;
  outline: none;
  min-width: $button-min-width;
  max-width: $button-max-width;

  @include media-query(lap-and-up) {
    transition: 0.1s ease-in-out;
  }
}

input[type="button"],
input[type="submit"],
button:not(.button) {
  @include basic-button();
}

.button {
  @include basic-button();

  &:focus:not(.button--disabled) {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--primary {
    border-color: $brand-color;
    background-color: $brand-color;
    color: $colored-text-color;
  }

  &--secondary {
    border-color: $button-secondary-color;
  }

  &--accent {
    border-color: $button-accent-color;
  }

  &--icon {
    border: none;
    padding: 0;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
  }

  [class*="background-color-index-"] &:not(.button--primary) {
    border-color: $colored-border-color;
    color: $colored-text-color;

    &.button--accent {
      border-color: $button-accent-color;
    }
  }

  &--disabled {
    opacity: 0.3;
    cursor: default;
  }
}
