// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.distribution {
  position: relative;
  display: block;

  &__graphic {
    width: 100%;
    height: $graphic-size;
    max-height: calc(100vh - #{double($header-height)});
  }

  &__item {
    &--clickable {
      cursor: pointer;
    }

    &-box {
      @include graph-fill-color();
    }

    &-icons {
      @include graph-stroke-color();
    }

  }

  &__label {
    position: absolute;
    padding: $inuit-base-spacing-unit;
    font-family: $brand-large-number-font-family;
    color: $colored-text-color;
    overflow: hidden;
    text-align: left;
    pointer-events: none;

    &-value {
      display: block;
      @include inuit-font-size($large-number-font-size);
      font-weight: bold;
    }

    &-units {
      @include inuit-font-size($inuit-heading-size-3, inherit);
      margin-left: quarter($inuit-base-spacing-unit);
      font-weight: normal;
    }

    &-label {
      display: block;
    }

    &--active {
      color: $text-color;
    }

    &--thin {
      .distribution__label-value,
      .distribution__label-label {
        display: inline-block;
      }
    }

    &--icons {
      background-color: $active-background-color;
      color: $text-color;

      .label {

        &-units {
          color: $secondary-text-color;
        }

        &-label {
          display: block;
        }
      }
    }
  }

  &__loading-indicator {
    stroke-width: $inuit-base-spacing-unit;
    @include graph-stroke-color();
  }

  &--icons {
    .distribution {
      &__label {
        padding: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;

        &-value {
          line-height: 1;
        }
      }
    }
  }

  &--small-label {
    .distribution {
      &__label {
        padding-top: 0px;
        padding-left: halve(halve($inuit-base-spacing-unit));

        &-value {
          @include inuit-font-size($small-large-number-font-size);
        }
      }
    }
  }

  &--small {
    .distribution__graphic {
      height: $graphic-small-size;
    }
  }

  &--large {
    .distribution__graphic {
      height: $graphic-large-size;
    }
  }
}
