// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// Unbranded Grommet purple
// http://paletton.com/#uid=14m0u0kon++cB+MiX+Yub+WLPZB

$brand-color: #8C50FF !default;
$brand-neutral-colors: (#5d0cfb, #7026ff, #767676) !default;
$brand-accent-colors: (#c3a4fe, #a577ff) !default;
$brand-link-color: #8C50FF !default;
$brand-status-colors: (
  error: #FF856B,
  warning: #FFB86B,
  ok: #4EB976,
  unknown: #a8a8a8,
  disabled: #EDEDED
) !default;
$brand-grey-colors: (#333333, #444444, #555555, #666666) !default;
@if not variable-exists(brand-graph-colors) {
  $brand-graph-colors: ();
  $brand-graph-colors: join($brand-graph-colors, $brand-accent-colors);
  $brand-graph-colors: join($brand-graph-colors, $brand-neutral-colors);
};
$brand-light-colors: (#f5f5f5) !default;
$brand-text-decoration: none !default;
