<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <table class="welcome-body" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="center" class="logo" colspan="2">
            <img src="http://grommet.usa.hp.com/assets/0.1.1/grommet-logo.png" />
          </td>
        </tr>
        <tr>
          <td align="center" class="title" colspan="2">
            Grommet
          </td>
        </tr>
        <tr>
          <td align="center" colspan="2">
            <table class="welcome-text">
              <tr class="header">
                <td>
                  <h1>Welcome to Grommet <%= name %>!</h1>
                </td>
              </tr>
              <tr>
                <td>
                  The most advanced UI framework for enterprise applications.
                </td>
              </tr>
              <tr>
                <td>
                  Grommet easily and efficiently scales your team's project with one code base, from phones to desktops, and everything in between.
                </td>
              </tr>
              <tr>
                <td>
                  Now that you&#39;re signed up we&#39;ll keep you in the loop with updates and helpful information about Grommet. We welcome your feedback, ideas, and suggestions. Feel free to send us an email at grommet@hp.com.
                </td>
              </tr>
              <tr>
                <td>
                  We&#39;re working on your access to Grommet and you should hear from us shortly.
                </td>
              </tr>
              <tr>
                <td>
                  Thanks!<br/>
                  Team Grommet
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td align="left" class="left">
            Grommet
          </td>
          <td align="right" class="right">
            &#169; 2015 Hewlett Packard Enterprise Company, L.P.
          </td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>

