// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color-lighter: desaturate(lighten($brand-color, 55%), 40%) !default;
$brand-color-darker: darken($brand-color, 9%) !default;

$background-color: #fff;
$hover-background-color: #eee;
$colored-active-background-color: rgba(0, 0, 0, 0.2);
$selected-background-color: $brand-color-lighter !default;

$border-color: #ddd;

$text-color: #333;
$secondary-text-color: #999;
$hover-text-color: #000;
$colored-text-color: #fff;
$inactive-colored-text-color: rgba(255, 255, 255, 0.7);
$link-color: $brand-link-color !default;

// Control Icons

$icon-color: #999;
$active-icon-color: #000;
$disabled-icon-color: #ccc;

$meter-color: nth($brand-accent-colors, 1) !default;

// Controls

$focus-border-color: $brand-color !default;
$button-background-color: #e2e2e2 !default;
$button-hover-background-color: #ccc !default;
$button-primary-background-color: $brand-color-darker !default;

$hover-background-color: rgba(0, 0, 0, 0.1);
$modal-overlay-background-color: rgba(0, 0, 0, 0.6);
$drop-background-color: rgba(255, 255, 255, 0.9);
$header-background-color: rgba(255, 255, 255, 0.9);
$sort-placeholder-background-color: rgba(0, 0, 255, 0.1); // TODO: recolor
$badge-background-color: nth($brand-neutral-colors, 1);

$inverse-background-color: nth($brand-neutral-colors, 1);
$inverse-color: #fff;
