// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

input,
select,
textarea {
  padding: quarter($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
  border: 1px solid $border-color;
  outline: none;
  margin-right: halve($inuit-base-spacing-unit);

  &:focus {
    border: 1px solid $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }
}

input[type="button"],
input[type="submit"],
button {
  padding: 5px 10px;
  border: none;
  border-radius: $border-radius;
  border-color: $border-color;

  &.primary {
    background-color: $button-primary-background-color;
    color: $colored-text-color;
  }
}

button,
a {
  &.call-to-action {
    @include inuit-font-size($inuit-heading-size-4);
    text-decoration: none;
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    border-radius: $border-radius;
    color: $colored-text-color;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: quarter($inuit-base-spacing-unit);
}

select {
  border-color: $border-color;
  border-radius: 0px;
  padding-right: $inuit-base-spacing-unit;
  -webkit-appearance: none;
  background: url("/img/drop-caret.svg") no-repeat center right quarter($inuit-base-spacing-unit);
  background-size: halve($inuit-base-spacing-unit) quarter($inuit-base-spacing-unit);

  &.plain {
    border: none;
  }
}

textarea {
  border-color: $border-color;
}
