// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $link-color;
  }
}
