// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {

  &__wrapper {
    background-color: $header-background-color;
    border-bottom: 1px solid $border-color;
    padding: $inuit-base-spacing-unit;
  }

  &__content {
    display: -webkit-flex;
    display: flex;
  }

  &--primary {
    height: $primary-header-height;
    line-height: $primary-header-height;

    .header__wrapper {
      padding: 0px $inuit-base-spacing-unit;
    }

    .header__content {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      white-space: nowrap;

      > * {
        &:last-child {
          text-align: right;
        }
      }
    }

    @include media-query(lap-and-up) {
      .header__wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 1;
      }
    }
  }

  @for $i from 1 through length($brand-colors) {
    &.header--accent-#{$i} {
      .header__wrapper {
        background-color: nth($brand-colors, $i);
        color: $accent-text-color;

        a {
          color: $accent-text-color;
        }
      }
    }
  }
}
