// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.menu {
  @include inuit-font-size($inuit-heading-size-3, inherit);

  &--controlled {
    display: inline-block;
    cursor: pointer;
  }

  &__control {
    cursor: pointer;

    &-drop-icon {
      width: halve($inuit-base-spacing-unit);
      margin-left: halve($inuit-base-spacing-unit);
      stroke: $icon-color;
    }

    &--labelled {
      @include media-query(palm) {
        .menu__control-label,
        .menu__control-drop-icon {
          display: none;
        }
      }

      @include media-query(lap-and-up) {
        .menu__control-icon {
          display: none;
        }
      }
    }
  }

  &__layer {
    position: fixed;
    z-index: 2;
    @include inuit-font-size($inuit-heading-size-3, inherit);
    background-color: $background-color;
    border: 1px solid $border-color;

    

    .menu__control {
      &-label {
        padding-left: $inuit-base-spacing-unit;
      }

      &-drop-icon {
        display: none;
      }
    }

    a {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;

      &:hover {
        text-decoration: none;
        background-color: $hover-background-color;
      }
    }
  }

  &--inline {
    &.menu {
      &--left {
        > * {
          margin-left: $inuit-base-spacing-unit;

          &:first-child {
            margin-left: 0px;
          }
        }
      }

      &--right {
        > * {
          margin-right: $inuit-base-spacing-unit;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &--accent.menu--down {
        a {
          padding: halve($inuit-base-spacing-unit);
          border: 1px solid transparent;
          text-decoration: none;

          &:hover:not(.active) {
            border-color: $accent-active-background-color;
            color: inherit;
          }

          &.active {
            background-color: $accent-active-background-color;
          }
        }
      }
    }
  }
}

.menu--inline.menu,
.menu__layer {

  &--left {
    text-align: right;

    > * {
      display: inline-block;
    }
  }

  &--right {
    > * {
      display: inline-block;
    }
  }

  &--down,
  &--up {
    > * {
      display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
      padding: halve($inuit-base-spacing-unit) 0px;
      margin-top: $inuit-base-spacing-unit;
      border-top: 1px solid $border-color;
      min-width: $nav-width;

      &:first-child {
        margin-top: 0px;
      }
    }

    &[class^="accent-text-"] {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      dt {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
