// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.menu {
  @include inuit-font-size($inuit-heading-size-4, inherit);

  a {
    color: lighten($text-color, 30%);

    &:hover {
      color: $text-color;
    }

    &.active {
      color: $brand-color-darker;
    }
  }

  &--small {
    @include inuit-font-size($inuit-base-font-size);

    .menu__control {
      
      &-drop-icon {
        margin-left: halve(halve($inuit-base-spacing-unit));
      }
      
      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
          height: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
        }
      }
    }
  }

  &:focus {
    outline: none;
    margin: -1px;
    border: 1px solid $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--controlled {
    display: inline-block;
    cursor: pointer;
  }

  &__control {
    cursor: pointer;

    &-drop-icon {
      width: halve($inuit-base-spacing-unit);
      margin-left: halve($inuit-base-spacing-unit);
      stroke: $icon-color;
    }

    &--labelled {
      @include media-query(palm) {
        .menu__control-label,
        .menu__control-drop-icon {
          display: none;
        }
      }

      @include media-query(lap-and-up) {
        .menu__control-icon {
          display: none;
        }
      }
    }

    &--fixed-label {
      .menu__control-icon {
        display: none;
      }
    }
  }

  &__layer {
    position: fixed;
    z-index: 2;
    @include inuit-font-size($inuit-heading-size-3, inherit);
    background-color: $background-color;
    border: 1px solid $border-color;

    .menu__control {
      &-label {
        padding-left: $inuit-base-spacing-unit;
      }

      &-drop-icon {
        display: none;
      }
    }

    a {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;

      &:hover {
        text-decoration: none;
        background-color: $hover-background-color;
      }
    }
  }

  &--inline {
    &.menu {
      &--left {
        > * {
          margin-left: $inuit-base-spacing-unit;

          &:first-child {
            margin-left: 0px;
          }
        }
      }

      &--right {
        > * {
          margin-right: $inuit-base-spacing-unit;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &--colored.menu--down {
        a {
          padding: halve($inuit-base-spacing-unit);
          border: 1px solid transparent;
          text-decoration: none;
          color: inherit;

          &:hover:not(.active) {
            border-color: $colored-active-background-color;
            color: inherit;
          }

          &.active {
            background-color: $colored-active-background-color;
          }
        }
      }
    }
  }
}

.menu--inline.menu,
.menu__layer {

  &--left {

    > * {
      display: inline-block;
    }
  }

  &--right {

    text-align: right;

    > * {
      display: inline-block;
    }
  }

  &--small {
    font-size: 1em;

    .menu__control {

      &-label {
        padding: halve($inuit-base-spacing-unit);
      }

      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
          height: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
        }
      }
    }

    a {
      padding: halve(halve($inuit-base-spacing-unit)) halve($inuit-base-spacing-unit);
    }
  }

  &--down,
  &--up {
    > * {
      display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
      padding: halve($inuit-base-spacing-unit) 0px;
      margin-top: $inuit-base-spacing-unit;
      border-top: 1px solid $border-color;
      min-width: $nav-width;

      &:first-child {
        margin-top: 0px;
      }
    }

    &[class^="header-colored-index-"] {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      dt {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
