// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.layout {

  &__content {
    display: -webkit-flex;
    display: flex;
    padding-top: $inuit-base-spacing-unit;
    padding-bottom: $inuit-base-spacing-unit;

    &.center-column__content { // TODO: formalize this better
      > .menu:first-child {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: $nav-width;

        @include media-query(palm) {
          width: 100%;
        }
      }
    }

    @for $i from 1 through 4 {
      > .flex-#{$i} {
        -webkit-flex: $i;
        flex: $i;
      }
    }

    > * {
      margin-right: double($inuit-base-spacing-unit);

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  @include media-query(palm) {
    &__content {
      -webkit-flex-direction: column;
      flex-direction: column;

      > * {
        &:not(:empty) {
          width: 100%;
          margin-bottom: double($inuit-base-spacing-unit);
          padding-bottom: double($inuit-base-spacing-unit);
          border-bottom: 1px solid $border-color;

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &--compact {
    padding-top: 0px;
    padding-bottom: 0px;

    .layout__content {
      padding-top: halve($inuit-base-spacing-unit);
      padding-bottom: halve($inuit-base-spacing-unit);
    }
  }
}
