// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.tbd {
  text-align: center;
  margin: 20vh auto;
  padding: double($inuit-base-spacing-unit);
  @include inuit-font-size(quadruple($inuit-base-spacing-unit));
  font-style: italic;
  background-color: #ccc;
  color: #fff;
}
