// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {
  position: fixed;
  top: - quadruple($inuit-base-spacing-unit);
  left: 0px;
  right: 0px;
  height: quadruple($inuit-base-spacing-unit);
  pointer-events: none;
  z-index: 1;
  transition: top $base-animation-duration;

  @include media-query(palm) {
    position: absolute;
    top: - double($inuit-base-spacing-unit);
    height: round($inuit-base-spacing-unit * 3);
  }

  &--active {
    top: 0px;
    pointer-events: auto;
    transition: top double($base-animation-duration);
  }

  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: $header-background-color;
  }

  &__controls {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: $inuit-base-spacing-unit;
    text-align: right;

    @include media-query(palm) {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    }

    > li {
      text-align: left;
      margin-left: halve($inuit-base-spacing-unit);
      vertical-align: top;
    }
  }
}

.fixed-header {
  position: fixed;
  background-color: $header-background-color;
  z-index: 1;

  &__container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  @include media-query(palm) {
    position: relative;

    &__container {
      position: static;
    }
  }
}
