// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.nav {
  @include inuit-font-size($inuit-heading-size-3, inherit);

  > * {
    margin-right: $inuit-base-spacing-unit;
  }

  a {
    color: $secondary-text-color;

    &.active {
      color: $text-color;
    }

    &:hover {
      color: $hover-text-color;
    }
  }

  &--right {
    > * {
      margin-right: 0px;
      margin-left: $inuit-base-spacing-unit;
    }
  }

  &--vertical {
    width: $nav-width;

    > * {
      display: block;
      margin-left: 0px;
      margin-right: double($inuit-base-spacing-unit);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
      padding: halve($inuit-base-spacing-unit) 0px;
      margin-top: $inuit-base-spacing-unit;
      border-top: 1px solid $border-color;

      &:first-child {
        margin-top: 0px;
      }
    }

    &.nav--accent {

      a {
        padding: halve($inuit-base-spacing-unit);
        border: 1px solid transparent;
        text-decoration: none;

        &:hover:not(.active) {
          border-color: $accent-active-background-color;
          color: $accent-text-color;
        }

        &.active {
          background-color: $accent-active-background-color;
        }
      }
    }
  }

  &--accent {

    a {
      color: $inactive-accent-text-color;

      &.active {
        color: $accent-text-color;
      }
    }
  }

  &[class^="accent-text-"] {
    h1,
    h2,
    h3,
    h4,
    dt {
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}
