// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

input[type="button"],
input[type="submit"],
button {
  padding: 5px 10px;
  border: none;
  border-radius: $border-radius;
  border-color: $border-color;

  &.primary {
    background-color: $button-primary-background-color;
    color: $colored-text-color;
  }
}

textarea {
  border-color: $border-color;
}
