// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.footer {
  height: $footer-height;
  border-top: 1px solid $border-color;

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    line-height: $footer-height;

    @include flexible();

    > * {
      margin-right: double($inuit-base-spacing-unit);

      &:last-child {
        margin-right: 0px;
      }
    }

    button,
    input[type="submit"] {
      @include inuit-font-size($inuit-heading-size-3, inherit);
      min-width: round($inuit-base-spacing-unit * 4);
      border-radius: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      background-color: inherit;
      border-left: 1px solid $border-color;
    }
  }

  &--primary {
    height: auto;
    padding: $inuit-base-spacing-unit;

    .footer {
      &__content {
        position: relative;
        padding: $inuit-base-spacing-unit 0px;
        color: $secondary-text-color;

        img {
          margin: $inuit-base-spacing-unit 0px;
        }

        p {
          padding-top: halve($inuit-base-spacing-unit);
          margin: 0;
          max-width: none;
          text-align: right;
          line-height: $inuit-base-spacing-unit; 
        }

        @include media-query(palm) {
          display: block;
          line-height: $inuit-base-spacing-unit;

          p {
            text-align: left;
          }
        }

        @include media-query(lap) {
          display: block;

          p {
            text-align: left;
          }
        }  
      }

      &__top {
        position: absolute;
        top: $inuit-base-spacing-unit - quarter($inuit-base-spacing-unit);
        right: 0px;
      }
    }
  }
}
