// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form-field {
  margin-bottom: halve($inuit-base-spacing-unit);

  &:last-child {
    margin-bottom: 0px;
  }

  > * {
    display: inline-block;
  }

  > label:first-child {
    display: inline-block;
    width: double(quadruple($inuit-base-spacing-unit));
    text-align: right;
    margin-right: $inuit-base-spacing-unit;
    vertical-align: top;
    padding-top: quarter($inuit-base-spacing-unit);

    @include media-query(palm) {
      text-align: left;
    }
  }

  > input[type=text],
  > input[type=range],
  > select,
  > textarea {
    width: round($inuit-base-spacing-unit * 10);
  }

  // Prevent textarea from adding extra bottom margin
  > textarea {
    vertical-align: top;
  }

  label.radio,
  label.checkbox {
    margin-right: $inuit-base-spacing-unit;
  }

  > table {
    margin-bottom: 0px;
  }

  > span {
    vertical-align: top;
    padding-top: quarter($inuit-base-spacing-unit);
  }
}
