// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form {

  fieldset {
    border: none;
  }

  /*
  &__header {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    top: $inuit-base-spacing-unit;
    left: $inuit-base-spacing-unit;
    right: $inuit-base-spacing-unit;
    height: double($inuit-base-spacing-unit);
    //padding: 0 $inuit-base-spacing-unit;
    line-height: double($inuit-base-spacing-unit);
    border-color: $border-color;
    border-width: 1px;
    border-style: solid none;
    background-color: $header-background-color;
    z-index: 1;
  }

  &__title {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: $inuit-base-spacing-unit;

    &-action {
      margin-right: quarter($inuit-base-spacing-unit);
    }
  }

  &__footer {
    position: fixed;
    bottom: $inuit-base-spacing-unit;
    left: $inuit-base-spacing-unit;
    right: $inuit-base-spacing-unit;
    height: double($inuit-base-spacing-unit);
    border-color: $border-color;
    border-width: 1px;
    border-style: solid none none;
    background-color: $header-background-color;
    text-align: right;
    z-index: 1;

    button,
    input[type="submit"] {
      line-height: normal;
      background-color: inherit;
      border: none;
      border-radius: 0px;
      padding: quarter($inuit-base-spacing-unit) + 2 $inuit-base-spacing-unit;
      border-left: 1px solid $border-color;

      &:hover {
        background-color: $hover-background-color;
      }

      &.primary {
        color: $link-color;
      }
    }
  }

  &__content {
    padding-bottom: double($inuit-base-spacing-unit);
    text-align: left;

    fieldset {
      border: none;
    }
  }
  */
}
