// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$border-radius: 4px;
$panel-width: round($inuit-base-spacing-unit * 8);

$inuit-enable-layout--center: true;
$inuit-enable-box--small: true;
$inuit-enable-table--cosy: true;
$inuit-enable-list-block--small: true;
$inuit-enable-list-block--tiny: true;
$inuit-enable-list-inline--delimited: true;
