// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-font-family: 'HPSimplified', Arial, sans-serif;
$brand-color: #0096D6;
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#545454, #767676, #989898);
$brand-accent-colors: (#008424, #822980);
$brand-status-colors: (
  error: #DC442F,
  warning: #F4B51E,
  ok: #42A425,
  unknown: #848484,
  disabled: #848484
);
$brand-link-color: #2883d7;
$brand-grey-colors: (#545454, #767676, #989898);
$brand-graph-colors: (#0096D6, #C094bf, #99d5ef, #87898b, #b9b8bb);
$focus-border-color: #99d5ef;

@font-face {
  font-family: "HPSimplified";
  src: url("~grommet/scss/hpinc/font/hps-me-w27-regular-woff.woff") format('woff');
}

.control-icon {
  path,
  line,
  polyline,
  circle,
  rect,
  polygon {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

$border-radius: 0px 5px 0px 5px;
