// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

$button-accent-color: nth($brand-accent-colors, 1);
$hover-darken: 15%;
$active-darken: 20%;

.button {

  &--accent {
    background-color: $button-accent-color;
    color: $colored-text-color;
  }

  &:not(.button--disabled) {

    &:hover {
      border-color: darken($brand-color, $hover-darken);
    }

    &:active {
      border-color: darken($brand-color, $active-darken);
    }

    &.button--primary {

      &:hover {
        border-color: darken($brand-color, $hover-darken);
        background-color: darken($brand-color, $hover-darken);
      }

      &:active {
        border-color: darken($brand-color, $active-darken);
        background-color: darken($brand-color, $active-darken);
      }
    }

    &.button--secondary {

      &:hover {
        border-color: darken($button-secondary-color, $hover-darken);
      }

      &:active {
        border-color: darken($button-secondary-color, $active-darken);
      }
    }

    &.button--accent {

      &:hover {
        border-color: darken($button-accent-color, $hover-darken);
        background-color: darken($button-accent-color, $hover-darken);
      }

      &:active {
        border-color: darken($button-accent-color, $active-darken);
        background-color: darken($button-accent-color, $active-darken);
      }
    }

    [class*="background-color-index-"] & {

      &:hover {
        border-color: darken($colored-border-color, $hover-darken);
      }

      &.button--primary {
        &:hover {
          border-color: darken($brand-color, $hover-darken);
          background-color: darken($brand-color, $hover-darken);
        }
      }

      &.button--accent {
        &:hover {
          border-color: darken($button-accent-color, $hover-darken);
        }
      }
    }
  }
}
