// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color: #FF856B !default;
$brand-neutral-colors: (#2E738E, #E29643, #767676) !default;
$brand-accent-colors: (#70ABC1, #FFCA90) !default;
$brand-link-color: #FF8706 !default;
$brand-status-colors: (
  error: #FF856B,
  warning: #FFB86B,
  ok: #4EB976,
  unknown: #a8a8a8,
  disabled: #EDEDED
) !default;
$brand-grey-colors: (#333333, #3B3B3B, #434343, #666666) !default;
@if not variable-exists(brand-graph-colors) {
  $brand-graph-colors: ();
  $brand-graph-colors: join($brand-graph-colors, $brand-accent-colors);
  $brand-graph-colors: join($brand-graph-colors, $brand-neutral-colors);
};
