// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

//for hpe theme, uncomment the following import
@import 'hpe/hpe.defaults';

@import 'grommet-core/index';

.logo {
  position: absolute;
  bottom: - $inuit-base-spacing-unit;
}

#map {
  width: 100%;
  height: 50vh;

  .leaflet-popup-content-wrapper {
    border-radius: $border-radius;
  }
}
