// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

//
// Aruba Brand colors grabbed from www.arubanetworks.com and
// http://www.arubanetworks.com/assets/ds/DS_AW.pdf
//
$brand-font-family: 'Open Sans', Arial, sans-serif;

$brand-color: #ED6F00;
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#646569, #004876, #004876);
$brand-accent-colors: (#9fd4c9, #d5d848);
$brand-status-colors: (
  critical: #dd3000,
  error: #dd3000,
  warning: #f0c954,
  ok: #008375,
  unknown: #C3C5C8,
  disabled: #C3C5C8
);
$brand-link-color: $brand-color;
$brand-grey-colors: (#000001, #646569, #C3C5C8, #F6F6F7);
$brand-graph-colors: (#2E7CBE, #99DAF8, #F1F9F7, #F9F9EC);
$focus-border-color: #2E7CBE;

@import '../grommet-core/settings';

.#{$grommet-namespace}control-icon {
  path,
  line,
  polyline,
  circle,
  rect,
  polygon {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

$border-radius: 4px;
