// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

//
// Aruba Brand colors grabbed from www.arubanetworks.com and
// http://www.arubanetworks.com/assets/ds/DS_AW.pdf
//
$brand-font-family: 'Open Sans', Arial, sans-serif;

$brand-color: #ff8300;
$brand-color-lighter: desaturate(lighten($brand-color, 50%), 20%);
$brand-neutral-colors: (#545454, #767676, #989898);
$brand-accent-colors: (#9fd4c9, #d5d848);
$brand-status-colors: (
  critical: #c8200d,
  error: #c8200d,
  warning: #e57118,
  ok: #2aac24,
  unknown: #999999,
  disabled: #999999
);
$brand-link-color: $brand-color;
$brand-grey-colors: (#2d3034, #52555a, #999999);
$brand-graph-colors: (#ec9b58, #0049a0, #886f9c, #5fbcdd, #7fba44);
$focus-border-color: #ff4c00;

@import '../grommet-core/settings';

.#{$grommet-namespace}control-icon {
  path,
  line,
  polyline,
  circle,
  rect,
  polygon {
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

$border-radius: 4px;
