// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color: #00B388;
$brand-neutral-colors: (#60798D, #617D78, #877B75, #C6C9CA);
$brand-accent-colors: (#FF8D6D, #2AD2C9, #614767);
$brand-colors: (#00B388, #60798D, #617D78, #877B75, #614767);

$link-color: #60798D;

@font-face {
  font-family: "Metric";
  src: url("/font/MetricWeb-Regular.woff") format('woff');
}
