// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color: #00B388;
$brand-neutral-colors: (#60798D, #617D78, #877B75);
$brand-accent-colors: (#2AD2C9, #614767);
$brand-status-colors: (
  error: #FF2300,
  warning: #FFC200,
  ok: #00B388,
  unknown: #848484,
  disabled: #848484
);
$brand-link-color: #00B388;
$brand-graph-colors: ();
$brand-graph-colors: join($brand-graph-colors, $brand-accent-colors);
$brand-graph-colors: join($brand-graph-colors, $brand-neutral-colors);

@font-face {
  font-family: "Metric";
  src: local('Metric'),
    url("/font/MetricWeb-Regular.woff") format('woff');
}
