// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$attribute-name-width: round($inuit-base-spacing-unit * 8);
$attribute-value-width: round($inuit-base-spacing-unit * 16);

.resource {
  position: relative;

  &__header {
    @include media-query(lap-and-up) {
      top: quadruple($inuit-base-spacing-unit);
    }
  }

  &__content {
    padding-top: 0px;
    padding-bottom: $inuit-base-spacing-unit;
    margin-left: $inuit-base-spacing-unit;
    margin-right: $inuit-base-spacing-unit;
    opacity: 1;
    transition: opacity $base-animation-duration $base-animation-duration;

    @include media-query(lap-and-up) {
      padding-top: $index-content-top;
      margin-left: quadruple($inuit-base-spacing-unit);
      margin-right: double($inuit-base-spacing-unit);
    }
  }

  &__attributes {
    margin-bottom: $inuit-base-spacing-unit;
  }

  &--loading {
    .resource__content, 
    .resource__header {
      opacity: 0.1;
      transition: opacity 0s;
    }
  }
}

.resource-activity {

  li.resource-activity__item {
    padding-left: 0px;
  }

  &__item {
    position: relative;
    padding-right: double(quadruple($inuit-base-spacing-unit));
    border: 1px solid map-get($brand-status-colors, unknown);
    border-radius: $border-radius;

    @each $status, $color in $brand-status-colors {
      &--#{$status} {
        border-color: $color;
      }
    }
  }

  &__status {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: halve($inuit-base-spacing-unit) - 4px;
    margin-right: $inuit-base-spacing-unit - quarter($inuit-base-spacing-unit) + 1px;

    > svg {
      position: absolute;
      top: 0px;
    }
  }

  &__throbber {
    position: relative;
    top: quarter($inuit-base-spacing-unit);
    display: inline-block;
    width: $inuit-base-spacing-unit;
    height: $inuit-base-spacing-unit;
    margin-right: halve($inuit-base-spacing-unit);
  }

  &__name {
    margin-right: $inuit-base-spacing-unit;
  }

  &__progress {
    margin-right: $inuit-base-spacing-unit;

    svg {
      position: relative;
    }
  }

  &__state {
    margin-right: $inuit-base-spacing-unit;
    color: $secondary-text-color;
  }

  &__timestamp {
    position: absolute;
    right: $inuit-base-spacing-unit;
    max-width: quadruple($inuit-base-spacing-unit) + double($inuit-base-spacing-unit);
    margin-left: halve($inuit-base-spacing-unit);
    text-align: right;
    color: $secondary-text-color;
  }
}

.resource-map {

  &__category {
    position: relative;
    margin-bottom: halve($inuit-base-spacing-unit);
    padding-right: $panel-width;

    &-name {
      position: absolute;
      top: quarter($inuit-base-spacing-unit);
      right: 0px;
      max-width: $panel-width;
    }
  }

  &__node {
    border: 1px solid $border-color;
    width: $panel-width;
    margin-right: halve($inuit-base-spacing-unit);
    margin-bottom: halve($inuit-base-spacing-unit);
    padding: quarter($inuit-base-spacing-unit);

    &-status {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: quarter($inuit-base-spacing-unit);

      > svg {
        position: relative;
        top: -8px;
      }
    }

    &-name {
      display: inline-block;
    }

    &-count {
      display: inline-block;
      margin-right: halve($inuit-base-spacing-unit);
    }
  }
}
