// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.
$input-border-width: 1px !default;
$button-border-width: 2px !default;

input,
select,
textarea {
  @include inuit-font-size($inuit-base-font-size);
  // Align overall height with regular text line height, reduce
  // top and bottom padding by an extra 2px.
  padding: (quarter($inuit-base-spacing-unit) - $input-border-width) halve($inuit-base-spacing-unit);
  border: $input-border-width solid $border-color;
  border-radius: $border-radius;
  outline: none;
  margin-right: halve($inuit-base-spacing-unit);

  &:focus {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &::-moz-focus-inner {
    border: none;
    outline: none;
  }
}

input[type="button"],
input[type="submit"],
button,
a.button {
  display: inline-block;
  @include inuit-font-size($inuit-base-font-size);
  // Align overall height with regular text line height, reduce
  // top and bottom padding by an extra 2px.
  padding: (quarter($inuit-base-spacing-unit) - $button-border-width) halve($inuit-base-spacing-unit);
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  background-color: $button-background-color;
  color: $button-text-color;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;

  &:hover {
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
  }

  &.primary {
    background-color: $button-primary-background-color;
    border-color: $button-primary-border-color;
    color: $button-primary-text-color;

    &:hover {
      background-color: $brand-color;
    }
  }

  &.call-to-action {
    @include inuit-font-size($inuit-heading-size-4);
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
  }

  &:focus {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: quarter($inuit-base-spacing-unit);
}

$small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAALNJREFUKBVjYBj6gHH69Olb////L8rIyJiemZl5HpuXgGoMgWpmAtW8ZgIyuIEMU6DCk0CJioaGBiaYJhAbJAaSA6kBqwUKcoiJiXUBBXKAEoxAwcM/f/6MA2liZ2dfBBS3BTKBwv+nvHr1qowRJAECU6dOdQNKzgdiKaDkNyANEuYCsp8BcWJ2dvYukADcepDAjx8/dIFia4CKuUCKQWyQGEwxkI8dTJs2rRLqduwKaCoKAOClUKEWEZS1AAAAAElFTkSuQmCC);

select {
  border-color: $border-color;
  padding-right: $inuit-base-spacing-unit;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $small-drop-caret no-repeat center right quarter($inuit-base-spacing-unit);
  cursor: pointer;

  &:hover {
    background-color: $button-hover-background-color;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &.plain {
    border: none;
  }
}

input[type=checkbox],
input[type=radio] {
  opacity: 0;
  position: absolute;
}

label.checkbox,
label.radio {
  position: relative;
	display: inline-block;
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:before {
    content: "";
    display: inline-block;
    width: $inuit-base-spacing-unit;
    height: $inuit-base-spacing-unit;
    margin-right: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    background-color: $background-color;
    color: $brand-color-darker;
    border: $input-border-width solid $border-color;
    text-align: center;
  }
}

label.checkbox {
  &:before {
    content: "";
    border-radius: $border-radius;
  }
}

label.radio {
  &:before {
    content: "";
    border-radius: $inuit-base-spacing-unit;
  }
}

input[type=checkbox]:checked + label.checkbox:after {
  content: "";
  position: absolute;
  top: quarter($inuit-base-spacing-unit) + 4.5px;
  left: 4px;
  width: $inuit-base-spacing-unit - 8;
  height: $inuit-base-spacing-unit - 8;
  background-color: $brand-color;
}

input[type=checkbox]:focus + label.checkbox:before {
  content: "";
  border-color: $focus-border-color;
  box-shadow: 0 0 1px 1px $focus-border-color;
}

input[type=radio]:checked + label.radio:after {
  content: "";
  position: absolute;
  top: quarter($inuit-base-spacing-unit) + 5px;
  left: 4px;
  width: $inuit-base-spacing-unit - 8;
  height: $inuit-base-spacing-unit - 8;
  border-radius: $inuit-base-spacing-unit - 8;
  background-color: $brand-color;
}

input[type=radio]:focus + label.radio:before {
  content: "";
  border-color: $focus-border-color;
  box-shadow: 0 0 1px 1px $focus-border-color;
}

@mixin range-track {
  width: 100%;
  height: quarter($inuit-base-spacing-unit);
  cursor: pointer;
  background: none;
  border: $input-border-width solid $border-color;
  border-radius: $border-radius;
}

@mixin range-thumb {
  border: none;
  height: $inuit-base-spacing-unit;
  width: $inuit-base-spacing-unit;
  border-radius: $inuit-base-spacing-unit;
  background: $brand-color;
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  border-color: transparent;
  padding: 0px;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &::-webkit-slider-runnable-track {
    @include range-track();
  }

  &::-webkit-slider-thumb {
    @include range-thumb();
    -webkit-appearance: none;
    margin-top: - (round($inuit-base-spacing-unit * (3/8)) + 1);
  }

  &::-moz-range-track {
    @include range-track();
  }

  &::-moz-range-thumb {
    @include range-thumb();
  }

  &::-ms-track {
    @include range-track();
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #2a6495;
    border-radius: $border-radius;
  }

  &::-ms-fill-upper {
    background: #3071a9;
    border-radius: $border-radius;
  }

  &::-ms-thumb {
    @include range-thumb();
  }
}
