// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

input,
select,
textarea {
  @include inuit-font-size($inuit-base-font-size);
  // Align overall height with regular text line height, reduce
  // top and bottom padding by an extra 2px.
  padding: (halve($inuit-base-spacing-unit) - $input-border-width)
    ($inuit-base-spacing-unit - $input-border-width);
  border: $input-border-width solid $border-color;
  border-radius: $border-radius;
  outline: none;
  margin-right: halve($inuit-base-spacing-unit);
  background-color: inherit;

  &:focus {
    padding: (halve($inuit-base-spacing-unit) - ($input-border-width + 1))
      ($inuit-base-spacing-unit - ($input-border-width + 1));
    border-width: 2px;
    border-color: $focus-border-color;
    //box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &::-moz-focus-inner {
    border: none;
    outline: none;
  }

  &.error {
    border-color: map-get($brand-status-colors, error);
  }
}

input[type="button"],
input[type="submit"] {
  text-align: center;
  line-height: inherit;
}

$small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAAXNSR0IArs4c6QAAARpJREFUKBVjnDlzJuu/f//cGagAmJiYTjCCzAEaWg+kGkBsCsCG58+fB4MNBBkyY8aMeYyMjIlkGnjy69evjkVFRd+ZYAa8ePEiDcjeBeOTQN/9+fOnL8gwkB64C0Gczs5OXn5+/sNAl+qD+ESAN////7fKyMi4DVOLYiBIcPLkyVKsrKwngIbKwhRho4EGgVzkDDTsOLI83Mswwdzc3GdAxV5A/keYGDoNlP8HFItBNwykDsNAkGBmZuYVIBUIxL9AfCygCGjYOizi2A0EKUxPT98PdEkyFk39QMMmYhEHC2F1IUwxUOMSILsaxgdasAaY1kpgfGw0RqRgUwRMozOB4trApOXS0NDwA5saksRCQ0OZ+/v7BYjRBACZeF+tn9zqUwAAAABJRU5ErkJggg==);

select {
  border-color: $border-color;
  padding-right: $inuit-base-spacing-unit;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $small-drop-caret no-repeat center right halve($inuit-base-spacing-unit);
  cursor: pointer;

  &:hover {
    background-color: $button-hover-background-color;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &.plain {
    border: none;
  }
}

@mixin range-track {
  width: 100%;
  height: halve($inuit-base-spacing-unit);
  cursor: pointer;
  background: none;
  border: $input-border-width solid $border-color;
}

@mixin range-thumb {
  position: relative;
  height: $inuit-base-spacing-unit;
  width: $inuit-base-spacing-unit;
  overflow: visible;
}

input[type=range] {
  position: relative;
  -webkit-appearance: none;
  border-color: transparent;
  height: $inuit-base-spacing-unit;
  padding: 0px;
  overflow-x: hidden;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &::-webkit-slider-runnable-track {
    @include range-track();
  }

  &::-webkit-slider-thumb {
    @include range-thumb();
    -webkit-appearance: none;
    margin-top: - (round($inuit-base-spacing-unit * (1/4)) + 1);
  }

  &::-webkit-slider-thumb:before {
    content: "";
    position: absolute;
    left: -3000px;
    right: halve($inuit-base-spacing-unit);
    top: quarter($inuit-base-spacing-unit);
    bottom: quarter($inuit-base-spacing-unit);
    background-color: $brand-color;
    pointer-events: none;
  }

  &::-webkit-slider-thumb:after {
    content: "";
    position: absolute;
    border: 1px solid $border-color;
    // -3 so we can see the thumb shadow
    height: $inuit-base-spacing-unit - 3;
    width: $inuit-base-spacing-unit - 3;
    border-radius: $inuit-base-spacing-unit;
    background-color: $background-color;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  &::-moz-range-track {
    @include range-track();
  }

  &::-moz-range-thumb {
    @include range-thumb();
    // since the :before doesn't work on the thumb, restyle a bit
    border-radius: $inuit-base-spacing-unit;
    border: none;
    background-color: $brand-color;
  }

  // This isn't working
  //&::-moz-range-thumb:before {
  //	content: "";
  //	position: absolute;
  //	left: -3000px;
  //	right: halve($inuit-base-spacing-unit);
  //	top: quarter($inuit-base-spacing-unit);
  //	bottom: quarter($inuit-base-spacing-unit);
  //	background: $brand-color;
  //}

  &::-ms-track {
    @include range-track();
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: $brand-color;
    border-radius: $border-radius;
  }

  &::-ms-fill-upper {
    background: $background-color;
    border-radius: $border-radius;
  }

  &::-ms-thumb {
    @include range-thumb();
  }
}
