$base-animation-duration: 0.3s;

$fade-in-duration: 0.5s;

@mixin fade-in() {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: $fade-in-duration;
  animation-name: fadein;
  animation-duration: $fade-in-duration;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  animation:         $animations;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform($args...) {
  -webkit-transform: $args;
  transform: $args;
}

$animation-duration: 1s;

@mixin slide-animation($opacity, $transform...) {
  opacity: $opacity;
  transform: $transform;
}

.animate {
  transition: all $animation-duration;
}

.fade--enter,
.fade--leave {
  opacity: 0;
}

.slide-up--enter,
.slide-down--leave {
  @include slide-animation(0, translateY(50%));
}

.slide-up--leave,
.slide-down--enter {
  @include slide-animation(0, translateY(-50%));
}

.slide-left--enter,
.slide-right--leave {
  @include slide-animation(0, translateX(50%));
}

.slide-left--leave,
.slide-right--enter {
  @include slide-animation(0, translateX(-50%));
}
