// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.grommet {
  @include inuit-font-size($content-font-size, $inuit-base-spacing-unit);

  h1 {
    // inuit-font-size sets the line-height to 1 (48px) when the font size is 48px.
    // We want a bit more leading between lines than that. 1.125 (54 = 48 + 6)
    @include inuit-font-size(48px, 1.125);
  }

  h2 {
    @include inuit-font-size(36px);
  }

  h3 {
    // inuit-font-size sets the line-height to 24px when the font size is 24px.
    // We want a bit more leading between lines than that. 1.25 (30 = 24 + 6)
    @include inuit-font-size(24px, 1.25);
  }

  h4 {
    @include inuit-font-size(18px);
  }

  h5 {
    @include inuit-font-size(17px);
  }

  h6 {
    @include inuit-font-size(16px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 100;
    max-width: 100%;

    &.header--strong,
    > strong {
      font-weight: 600;
    }

    a,
    a.anchor {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  p,
  dd,
  li {
    max-width: $readable-text-width;
    margin-left: 0px;
  }

  dd {
    margin-bottom: halve($inuit-base-spacing-unit);
  }

  p {
    margin-top: $inuit-base-spacing-unit;
    margin-bottom: $inuit-base-spacing-unit;
  }

  blockquote {
    @include inuit-font-size(36px);
  }

  b,
  strong {
    font-weight: 600;
  }

  code.hljs {
    border: 1px solid $border-color;
  }

  .large-number-font {
    font-family: $brand-large-number-font-family;
  }

  .secondary {
    color: $secondary-text-color;
  }

  .error {
    color: map-get($brand-status-colors, critical);
  }
}
