// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.grommet {
  input,
  select,
  textarea {
    @include inuit-font-size($inuit-base-font-size);
    // Align overall height with regular text line height, reduce
    // top and bottom padding by an extra 2px.
    padding: (halve($inuit-base-spacing-unit) - $input-border-width)
      ($inuit-base-spacing-unit - $input-border-width);
    border: $input-border-width solid $border-color;
    border-radius: $border-radius;
    outline: none;
    // margin-right: halve($inuit-base-spacing-unit);
    background-color: transparent; // inherit; doesn't work on IE

    .grommet.rtl & {
      margin-right: 0;
      margin-left: halve($inuit-base-spacing-unit);
    }

    &:focus {
      border-width: $input-focus-border-width;
      border-color: $focus-border-color;
      padding: (halve($inuit-base-spacing-unit) - ($input-border-width + 1))
        ($inuit-base-spacing-unit - ($input-border-width + 1));
    }

    &::-moz-focus-inner {
      border: none;
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-text-color;
    }

    &::-moz-placeholder {
      color: $placeholder-text-color;
    }

    &:-ms-input-placeholder {
       color: $placeholder-text-color;
    }

    &.error {
      border-color: map-get($brand-status-colors, critical);
    }
  }

  input[type="button"],
  input[type="submit"] {
    text-align: center;
    line-height: inherit;
  }

  $small-drop-caret: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOhJREFUSA3tksENgzAMRUmrrlApuTAAxxw6QvfojYmYKtw6QpUDI1Rq6o8MStsAMT1UlbAUcMB+33FcFJttHfifDlhrT7QO31YMBlgDZw8HH5RSF3JLY0zrvX8MAZI3F1gT66y17ohz2zGgDSFc6UdF+5oDJWwUidMDXoFFfgtAfwJUjMppX7KI6CQJeOOcu48CcNaKzMFfBNaILME/BCQiOfCkQI5ILhwshceUpUAcG0/LeKEpzqwAEhIiRTSKs3Dk92MKZ8rep4vgR57zRTiYiwIIikVo29HKgiNXZGgXt0yUtwX/tgNPQqatJ1aBLFMAAAAASUVORK5CYII=);

  select {
    border-color: $border-color;
    padding-right: double($inuit-base-spacing-unit);
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $small-drop-caret no-repeat center right halve($inuit-base-spacing-unit);
    cursor: pointer;

    //&:hover {
    //  background-color: $button-hover-background-color;
    //}

    &::-moz-focus-inner {
      border: none;
    }

    &.plain {
      border: none;
    }
  }

  @mixin range-track {
    width: 100%;
    height: $control-border-width;
    background-color: $control-background-color;

    #{$dark-background-context} & {
      background-color: $colored-meter-background-color;
    }
  }

  @mixin range-thumb {
    position: relative;
    height: $control-size;
    width: $control-size;
    overflow: visible;
  }

  input[type=range] {
    position: relative;
    -webkit-appearance: none;
    border-color: transparent;
    height: $control-size;
    padding: 0px;
    cursor: pointer;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      border: none;
    }

    &::-moz-focus-outer {
      border: none;
    }

    &::-webkit-slider-runnable-track {
      @include range-track();
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include range-thumb();
      margin-top: -(round($control-size * 0.45));
      border: $control-border-width solid $brand-color;
      border-radius: $control-size;
      background-color: $background-color;
      cursor: pointer;

      &:hover {
        border-color: $active-icon-color;
      }
    }

    &::-moz-range-track {
      @include range-track();
    }

    &::-moz-range-thumb {
      @include range-thumb();
      // since the :before doesn't work on the thumb, restyle a bit
      border: $control-border-width solid $brand-color;
      height: $control-size - ($control-border-width * 2);
      width: $control-size - ($control-border-width * 2);
      border-radius: $control-size;
      background-color: $background-color;
    }

    &:hover::-moz-range-thumb {
      border-color: $active-icon-color;
    }

    // This isn't working
    //&::-moz-range-thumb:before {
    //	content: "";
    //	position: absolute;
    //	left: -3000px;
    //	right: halve($inuit-base-spacing-unit);
    //	top: quarter($inuit-base-spacing-unit);
    //	bottom: quarter($inuit-base-spacing-unit);
    //	background: $brand-color;
    //}

    &::-ms-track {
      @include range-track();
      //background: transparent;
      border-color: transparent;
      //border-width: 16px 0;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: $brand-color;
      border-color: transparent;

      #{$dark-background-context} & {
        background: #fff;
      }
    }

    &::-ms-fill-upper {
      background: $control-background-color;
      border-color: transparent;

      #{$dark-background-context} & {
        background: $colored-meter-background-color;
      }
    }

    &::-ms-thumb {
      @include range-thumb();
      border: $control-border-width solid $icon-color;
      height: $control-size - ($control-border-width * 2);
      width: $control-size - ($control-border-width * 2);
      border-radius: $control-size;
      background-color: $background-color;

      #{$dark-background-context} & {
        border-color: $active-colored-icon-color;
      }
    }

    &:hover::-ms-thumb {
      border-color: $active-icon-color;

      #{$dark-background-context} & {
        border-color: $active-colored-icon-color;
        background-color: $active-colored-icon-color;
      }
    }
  }

  #{$dark-background-context} input[type=range] {
    &::-webkit-slider-thumb {
      background-color: $active-colored-icon-color;
      border: $control-border-width solid $active-colored-icon-color;
    }
  }

  #{$dark-background-context} {
    input[type=range]::-moz-range-thumb {
      background-color: $active-colored-icon-color;
      border: $control-border-width solid $active-colored-icon-color;
    }
  }
}
