.label {
  @include inuit-font-size($control-font-size);
  margin-bottom: $inuit-base-spacing-unit;

  &--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  @include text-align();
  @include margin();
}
