// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.number-input {
  &__input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      // display: none; <- Crashes Chrome on hover
      -webkit-appearance: none;
      margin: 0; // Apparently some margin are still there even though it's hidden
    }

    -moz-appearance: textfield;
  }
}
