// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}sidebar {
  @include media-query(palm) {
    max-width: 100%;
    width: 100vw;
  }

  @include media-query(lap-and-up) {
    width: $sidebar-width;
  }
}

.#{$grommet-namespace}sidebar--fixed {
  display: flex;
  flex-direction: column;

  > * {
    //flex: 1 does not work with IE11.
    flex: 1 1 auto;
    overflow: auto;

    &.#{$grommet-namespace}header,
    &.#{$grommet-namespace}footer {
      flex: 0 0 auto;
    }
  }
}

.#{$grommet-namespace}sidebar--small {
  @include media-query(lap-and-up) {
    width: $sidebar-small-width;
  }
}

.#{$grommet-namespace}sidebar--large {
  @include media-query(lap-and-up) {
    width: $sidebar-large-width;
  }
}

.#{$grommet-namespace}sidebar--full {
  min-height: 100vh;
}
