// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.control-icon {
  display: inline-block;
  width: double($inuit-base-spacing-unit);
  height: double($inuit-base-spacing-unit);
  vertical-align: middle;
  cursor: pointer;
  fill: $icon-color;
  stroke: $icon-color;
  transition: all $base-animation-duration ease-in-out;

  &:hover {
    fill: $active-icon-color;
    stroke: $active-icon-color;
  }

  &--active {
    fill: $active-icon-color;
    stroke: $active-icon-color;
  }
}

$badge-size: halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit);

.control-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  width: $badge-size;
  height: $badge-size;
  border-radius: $border-radius;
  background-color: $badge-background-color;
  text-align: center;
  @include inuit-font-size($inuit-base-font-size, $badge-size);

  &:after {
    content: '';
    position: absolute;
    right: 0px;
    width: $badge-size;
    height: $badge-size;
    border-radius: $border-radius;
    border: 1px solid $background-color;
  }
}

//.drag-handle {
//  margin-right: $inuit-base-spacing-unit - 10;
//}

.status-icon {
  width: $inuit-base-spacing-unit;
  height: $inuit-base-spacing-unit;
  vertical-align: middle;

  .status-icon__base {
    fill: map-get($brand-status-colors, unknown);
  }

  @each $status, $color in $brand-status-colors {
    &-#{$status} {
      .status-icon__base {
        fill: $color;
      }
    }
  }

  &-label {
    .status-icon__base {
      fill: $icon-color;
    }
  }

  &__detail {
    fill: $background-color;
  }

  &--large {
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
  }

  &--small {
    width: halve($inuit-base-spacing-unit);
    height: halve($inuit-base-spacing-unit);

    .status-icon__detail {
      display: none;
    }
  }
}

@include keyframes(rotate) {
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.icon-changing {
  width: $inuit-base-spacing-unit;
  height: $inuit-base-spacing-unit;
  @include animation('rotate 1.5s linear infinite');

  &--small {
    width: halve($inuit-base-spacing-unit);
    height: halve($inuit-base-spacing-unit);
  }
}

.icon-spinning {
  width: $inuit-base-spacing-unit;
  height: $inuit-base-spacing-unit;
  @include animation('rotate 4s steps(4, end) infinite');

  &--small {
    width: halve($inuit-base-spacing-unit);
    height: halve($inuit-base-spacing-unit);
  }
}
