// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@include keyframes(carousel-reveal) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(carousel-reveal-1) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes(carousel-hide) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@include keyframes(carousel-hide-1) {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.carousel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 280px;

  @include media-query(lap-and-up) {
    &--toggle-0 {
      .carousel__active {
        @include animation('carousel-reveal 1s');
      }

      .carousel__prior {
        @include animation('carousel-hide 1s');
      }
    }

    &--toggle-1 {
      .carousel__active {
        @include animation('carousel-reveal-1 1s');
      }

      .carousel__prior {
        @include animation('carousel-hide-1 1s');
      }
    }
  }

  &__track {
    display: flex;
    max-width: none;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.8s;

    & > * {
      flex: 1;
    }
  }

  &__arrow {
    z-index: 1;
    width: 36px;
    height: 72px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    filter: drop-shadow( 1px 1px 1px rgba(170, 170, 170, 0.5) );
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(170, 170, 170, 0.5) );

    &--next {
      right: 24px;
    }

    &--prev {
      left: 24px;
    }

    line {
      stroke: #fff;
      stroke-width: 2px;
    }
  }

  &__controls {
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: halve($inuit-base-spacing-unit);
    text-align: center;
    z-index: 1;
  }

  &__control {
    display: inline-block;
    width: round($inuit-base-spacing-unit * 1.5);
    height: round($inuit-base-spacing-unit * 1.5);
    stroke: #fff;
    fill: transparent;
    cursor: pointer;
    filter: drop-shadow( 1px 1px 1px rgba(170, 170, 170, 0.5) );
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(170, 170, 170, 0.5) );

    &--active {
      stroke: $brand-color;
      fill: $brand-color;
    }
  }
}
