// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.chart {
  display: inline-block;

  &__grid {
    stroke: $border-color;
  }

  &__lines {
    stroke-width: 3px;

    @for $i from 1 through length($brand-accent-colors) {
      .color-index-accent-#{$i},
      .color-index-accent-#{$i+length($brand-accent-colors)} {
        stroke: nth($brand-accent-colors, $i);
      }
    }
  }
}
