// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.footer {
  min-height: $footer-height;
  line-height: $footer-height;

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;

    @include flexible();

    > * {
      margin-right: double($inuit-base-spacing-unit);

      &:last-child {
        margin-right: 0px;
        text-align: right;

        @include media-query(palm) {
          text-align: left;
        }

        @include media-query(lap) {
          text-align: left;
        }
      }
    }

    button,
    a.button,
    input[type="submit"],
    input[type="button"] {
      @include inuit-font-size($inuit-heading-size-3, inherit);
      min-width: round($inuit-base-spacing-unit * 4);
    }
  }

  &--primary {
    height: auto;
    padding: $inuit-base-spacing-unit;

    .footer {
      &__content {
        position: relative;
        padding: $inuit-base-spacing-unit 0px;
        color: $secondary-text-color;

        img {
          margin: $inuit-base-spacing-unit 0px;
        }

        p {
          padding-top: halve($inuit-base-spacing-unit);
          margin: 0;
          max-width: none;
          text-align: right;
          line-height: $inuit-base-spacing-unit;
        }

        @include media-query(palm) {
          display: block;
        }

        @include media-query(lap) {
          display: block;
        }
      }
    }
  }

  &--centered {
    .footer {
      &__content {
        display: block;
        text-align: center;

        > * {
          margin-right: auto;
          margin-left: auto;
          text-align: center;
        }
      }
    }
  }

  .tile > & {
    border-bottom: 1px solid $border-color;
  }
}
