// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

@mixin flex-dialog-contents {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;

  > *:not(.form) {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: auto;
  }

  > .header,
  > .footer {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: none;
  }

  > .header {
    .header__wrapper {
      background-color: inherit;
      border-bottom: none;
    }

    .header__content {
      padding-left: $inuit-base-spacing-unit;
    }
  }

  > .footer {
    .footer__content {
      //padding-right: $inuit-base-spacing-unit;
    }
  }
}

.dialog {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: none;
  background-color: $layer-overlay-background-color;
  z-index: 10;

  @include media-query(lap-and-up) {
    padding: $inuit-base-spacing-unit;
  }

  &__container {
    min-width: round($inuit-base-spacing-unit * 16);
    min-height: round($inuit-base-spacing-unit * 12);
    max-width: round($inuit-base-spacing-unit * 32); //$center-column-width;
    height: 100vh;
    margin: 0 auto;
    overflow: none;
    background-color: $layer-background-color;
    border-radius: $border-radius;

    > :not(.footer):not(.header):not(.form) {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }

    @include media-query(lap-and-up) {
      max-height: calc(100vh - #{double($inuit-base-spacing-unit)});
    }

    @include media-query(palm) {
      > .form {
        > :not(.header):not(.footer) {
          padding-left: $inuit-base-spacing-unit;
          padding-right: $inuit-base-spacing-unit;
        }
      }
    }

    @include flex-dialog-contents();

    > .form {
      height: 100%;
      @include flex-dialog-contents();
    }
  }

  &--compact {
    .dialog__container {
      max-width: round($inuit-base-spacing-unit * 20);
    }
  }
}
