// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.layer {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: none;
  //background-image: linear-gradient(90deg, $layer-overlay-background-color, $layer-background-color 30%, $layer-background-color 70%, $layer-overlay-background-color); //$layer-overlay-background-color;
  z-index: 10;

  &__container {
    position: absolute;
    background-color: $layer-background-color;
    overflow: none;
    border-radius: $border-radius;
    max-height: 100vh;
    max-width: 100vw;
  }

  &--align {
    &-center {
      background-image: radial-gradient(circle at top, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

      .layer__container {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

    &-left {
      background-image: radial-gradient(circle at left, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

      .layer__container {
        left: 0px;
        @include animation('slide-right 0.2s ease-in-out forwards');
      }
    }

    &-right {
      background-image: radial-gradient(circle at right, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

      .layer__container {
        right: 0px;
      }
    }

    &-top {
      background-image: radial-gradient(circle at top left, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

      .layer__container {
        top: 0px;
        @include animation('slide-down 0.2s ease-in-out forwards');
      }
    }

    &-bottom {
      background-image: radial-gradient(circle at bottom left, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

      .layer__container {
        bottom: 0px;
      }
    }
  }
}

@include keyframes(slide-right) {
  0% {
    left: -100vw;
  }

  100% {
    left: 0px;
  }
}

@include keyframes(slide-down) {
  0% {
    top: -100vh;
  }

  100% {
    top: 0px;
  }
}
