// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.table {

  table {
    width: 100%;
  }

  td,
  th {
    // -1 to accommodate border
    padding: (halve($inuit-base-spacing-unit) - 1) halve($inuit-base-spacing-unit);
    vertical-align: top;
    text-align: left;

    &:first-child {
      padding-left: $inuit-base-spacing-unit;
    }

    &:last-child {
      padding-right: $inuit-base-spacing-unit;
    }
  }

  th {
    font-weight: 100;
    @include inuit-font-size(20px);
    border-bottom: 1px solid $border-color;
  }

  &__mirror {

    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    > thead {
      position: fixed;
      background-color: $header-background-color;

      @include media-query(palm) {
        position: static;
      }
    }
  }

  &__more {
    margin-top: $inuit-base-spacing-unit;
    margin-bottom: $inuit-base-spacing-unit;
    text-align: center;
  }

  &--selectable {
    tbody {
      tr {
        cursor: pointer;

        td {
          transition: background-color 0.2s;
        }

        &.table__row--selected {
          td {
            background-color: $selected-background-color;
            color: $selected-text-color;
          }
        }

        &:hover:not(.table__row--selected) {
          td {
            background-color: $hover-background-color;
            color: $hover-text-color;
          }
        }
      }
    }
  }
}
