// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.radio-button {
  margin-right: $inuit-base-spacing-unit;
  cursor: pointer;

  &:hover {
    .radio-button {
      &__control {
        border-color: $active-icon-color;
      }
    }
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:checked + .radio-button__control:after {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      width: halve($control-size) - 3;
      height: halve($control-size) - 3;
      background-color: $brand-color;
      border-radius: halve($control-size);
    }

    &:focus + .radio-button__control {
      content: "";
      border-color: $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
    }
  }

  &__control {
    position: relative;
    display: inline-block;
    width: $control-size;
    height: $control-size;
    margin-right: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    background-color: inherit;
    color: $brand-color-darker;
    border: $control-border-width solid $icon-color;
    border-radius: $control-size;
  }

  &--small {
    .radio-button {
      &__control {
        top: -1px;
        width: $control-small-size;
        height: $control-small-size;
        border-radius: $control-small-size;
      }

      &__input {

        &:checked + .radio-button__control:after {
          content: "";
          top: 2px;
          left: 2px;
          width: halve($control-small-size) - 2;
          height: halve($control-small-size) - 2;
          border-radius: halve($control-small-size) - 2;
        }
      }
    }
  }
}
