// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.notification {
  padding: $inuit-base-spacing-unit;

  &__status {
    margin-right: halve($inuit-base-spacing-unit);
  }

  &__message {
    @include inuit-font-size($content-font-size);
    margin-bottom: $inuit-base-spacing-unit;
    vertical-align: middle;
  }

  &__state,
  &__timestamp {
    display: block;
    color: $secondary-text-color;
  }

  @each $status, $color in $brand-status-colors {
    &--#{$status} {
      background-color: rgba($color, 0.15);
    }
  }

  &--flush {
    padding-left: 0px;
    padding-right: 0px;
  }
}
