// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.tiles {
  padding: halve($inuit-base-spacing-unit);

  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

  > .tile {
    -webkit-flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex-grow: 1;

    &--wide {
      -webkit-flex-basis: 100%;
      flex-basis: 100%;
    }
  }

  &--moreable {
    position: relative;
    padding-bottom: double($inuit-base-spacing-unit);

    .tiles__more {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &--flush {
    margin: - $inuit-base-spacing-unit;

    > .tile {
      -webkit-flex: 0 0 round($inuit-base-spacing-unit * 7);
      flex: 0 0 round($inuit-base-spacing-unit * 7);
      flex-grow: 1;
    }
  }

  &--small {
    > .tile {
      -webkit-flex-basis: round($inuit-base-spacing-unit * 4);
      flex-basis: round($inuit-base-spacing-unit * 4);
    }
  }

  &--fill {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}

.tile {
  padding: halve($inuit-base-spacing-unit);
  overflow: hidden;

  .status-icon {
    margin-right: quarter($inuit-base-spacing-unit);
  }

  &.box--align-center {
    text-align: center;
  }

  > .chart {
    width: 100%;
  }

  &--selectable {
    cursor: pointer;
    transition: background-color 0.2s;

    &.tile--selected {
      background-color: $selected-background-color;
    }

    &:hover:not(.tile--selected) {
      background-color: $hover-background-color;
    }
  }
}
