// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.tab {

  padding: halve($inuit-base-spacing-unit);

  .tabs--justify-start &:first-of-type,
  .tabs--justify-end &:first-of-type {
    padding-left: 0;
  }

  .tabs--justify-start &:last-of-type,
  .tabs--justify-end &:last-of-type {
    padding-right: 0;
  }

  .tabs--responsive &:first-of-type,
  .tabs--responsive &:last-of-type {
    @include media-query(palm) {
      padding-left: halve($inuit-base-spacing-unit);
      padding-right: halve($inuit-base-spacing-unit);
    }
  }

  a {
    text-decoration: none;

    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }

    &:focus {
      .tab__label {
        border-bottom: 4px solid;
      }
    }
  }

  &__label {
    cursor: pointer;
    padding-bottom: halve($inuit-base-spacing-unit);
    font-weight: 600;
    color: $secondary-text-color;
  }

  &--active {

    .tab__label {
      color: #000;
      border-bottom: 4px solid #000;
    }
  }

  &:hover,
  &:focus {
    .tab__label {
      border-bottom: 4px solid;
    }
  }
}
