// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.menu {
  position: relative;
  @include inuit-font-size($menu-font-size, inherit);

  &:focus {
    outline: none;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      border: 1px solid $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
      pointer-events: none;
    }
  }

  > * {
    flex: 0 0 auto;
  }

  a:not(.button) {
    text-decoration: none;
    margin-bottom: quarter($inuit-base-spacing-unit);

    &:hover {
      color: $text-color;
    }

    &.active {
      color: $brand-color-darker;
    }
  }

  &__control {
    cursor: pointer;

    &-drop-icon {
      width: $inuit-base-spacing-unit;
      height: $inuit-base-spacing-unit;
      //margin-top: - quarter($inuit-base-spacing-unit);
      margin-left: halve($inuit-base-spacing-unit);
      stroke: $icon-color;
    }

    &--labelled {
      @include media-query(palm) {
        .menu__control-label,
        .menu__control-drop-icon {
          display: none;
        }
      }

      @include media-query(lap-and-up) {
        .menu__control-icon {
          display: none;
        }
      }
    }

    &--fixed-label {
      white-space: nowrap;

      .menu__control-icon {
        display: none;
      }
    }
  }

  &__drop {
    @include inuit-font-size($inuit-base-font-size, inherit);
    max-height: 100vh;

    .menu__control {
      &-label {
        padding-left: $inuit-base-spacing-unit;
      }

      &-drop-icon {
        display: none;
      }
    }

    a {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      white-space: nowrap;
      display: block;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $hover-background-color;
      }
    }

    .check-box,
    .radio-button {
      margin-top: halve($inuit-base-spacing-unit);
      margin-bottom: halve($inuit-base-spacing-unit);
    }

    &--align-right {
      .menu__control {
        text-align: right;
      }
    }

    &--large {
      .menu__control {
        //height: quadruple($inuit-base-spacing-unit);
        line-height: quadruple($inuit-base-spacing-unit);
      }
    }
  }

  &--controlled {
    display: inline-block;
    cursor: pointer;

    &.menu--large {
      //height: quadruple($inuit-base-spacing-unit);
      line-height: quadruple($inuit-base-spacing-unit);
    }

    &.menu--small {
      height: $inuit-base-spacing-unit;
    }
  }

  &--labelled {
    padding-left: $inuit-base-spacing-unit;
    //padding-right: $inuit-base-spacing-unit;
  }

  &--inline {
    ///overflow: hidden;

    &.menu {
      &--row,
      &--right { // --right is deprecated
        > *:not(.control-icon):not(.button) {
          margin-left: 0px;
          margin-right: $inuit-base-spacing-unit;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &.box--direction-row.box--responsive {
        @include media-query(palm) {
          > * {
            margin-right: 0;
          }
        }
      }

      &--row.box--justify-end,
      &--left { // --left is deprecated
        > *:not(.control-icon) {
          margin-left: $inuit-base-spacing-unit;
          margin-right: 0px;

          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
  }

  &--small {
    @include inuit-font-size($inuit-base-font-size);

    .menu__control {

      &-drop-icon {
        margin-left: halve(halve($inuit-base-spacing-unit));
      }

      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit);
          height: halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit);
        }
      }
    }
  }

  &--primary {

    > .menu {
      width: 100%;
    }

    > a:not(.button) {
      padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      border-right: quarter($inuit-base-spacing-unit) solid transparent;
      margin-bottom: 0px;
      width: 100%;

      &:hover {
        text-decoration: none;

        &:not(.active) {
          background-color: $hover-background-color;
        }
      }

      &.active {
        border-color: $brand-color;
      }
    }

    @include media-query(palm) {
      &.menu--down {
        display: block;

        > * {
          display: block;
        }
      }
    }
  }

  @include media-query(palm) {
    &.box--responsive {
      //width: 100%;
      //padding: 0px;
    }
  }
}

.menu--inline.menu,
.menu__drop {

  &--small {
    font-size: 1em;

    .menu__control {

      &-label {
        padding: halve($inuit-base-spacing-unit);
      }

      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit / 4);
          height: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit / 4);
        }
      }
    }

    > a {
      padding: quarter($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
    }
  }

  &--large {
    > a {
      padding: $inuit-base-spacing-unit double($inuit-base-spacing-unit);
    }
  }

  &.box--direction-column {
    .menu {
      margin-bottom: round($inuit-base-spacing-unit * 1.5);
    }
  }

  @include media-query(palm) {
    &.box--responsive {

      > * {
        margin-left: 0px;
        margin-right: 0px;
      }

      .button {
        width: 100%;
        margin-bottom: halve($inuit-base-spacing-unit);
      }

      .menu {
        margin-bottom: round($inuit-base-spacing-unit * 1.5);
      }
    }
  }
}

@include media-query(palm) {
  .menu__drop {
    max-width: 100%;
    width: 100vw;

    a,
    .button {
      width: 100%;
    }
  }
}
