// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {
  @include inuit-font-size($header-font-size, inherit);

  @include media-query(palm) {
    height: $small-header-height;
  }

  @include media-query(lap-and-up) {
    height: $header-height;
  }

  &__wrapper {
    background-color: $header-background-color;

    @include media-query(palm) {
      height: $small-header-height;
    }

    @include media-query(lap-and-up) {
      height: $header-height;
    }
  }

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;
    border-bottom: 1px solid $border-color;

    @include media-query(palm) {
      line-height: $small-header-height;
    }

    @include media-query(lap-and-up) {
      line-height: $header-height;
    }

    > * {
      -webkit-flex: 1 0;
      flex: 1 0;

      &:last-child:not(:first-child) {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
      }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    .title {
      margin-bottom: 0px;
      line-height: inherit;

      svg {
        height: $header-height - $inuit-base-spacing-unit;
      }
    }

    > .menu {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    svg {
      vertical-align: middle;
    }

    a {
      color: inherit;
    }
  }

  @include media-query(lap-and-up) {
    &--large {
      height: $large-header-height;

      .header__wrapper {
        height: $large-header-height;
      }

      .header__content {
        line-height: $large-header-height;
      }
    }

    &--small {
      height: $small-header-height;

      .header__wrapper {
        height: $small-header-height;
      }

      .header__content {
        line-height: $small-header-height;

        > h1,
        > h2,
        > h3,
        > h4,
        .title {
          svg {
            height: $small-header-height - $inuit-base-spacing-unit;
          }
        }
      }
    }
  }

  &--fixed {
    .header__wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 3;
    }

    .header__content {
      background-color: $header-background-color;
      border-bottom: 1px solid $border-color;

      @include media-query(lap-and-up) {
        position: fixed;
      }
    }

    &.header--primary {
      .header__wrapper {
        position: fixed;
        background-color: $header-background-color;
      }

      .header__content {
        position: static;
        background-color: transparent;
      }
    }
  }

  &--flush {
    .header__wrapper,
    .header__content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &--primary {
    .header__wrapper,
    .header__content {
      border-bottom: none;
    }

    .header__content {
      //-webkit-justify-content: space-between;
      //justify-content: space-between;
    }
  }
}
