.#{$grommet-namespace}label {
  @include inuit-font-size($control-font-size);

  &--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  @include text-align();
  @include margin();
}
