// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.login-form {
  position: relative;
  width: round($inuit-base-spacing-unit * 16);
  padding: $inuit-base-spacing-unit;
  padding-bottom: double($inuit-base-spacing-unit);
  background-color: $layer-background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $layer-box-shadow;
  text-align: center;
  z-index: 1;
  @include fade-in();

  @include media-query(palm) {
    width: 100%;
    border-radius: 0px;
  }

  &__logo {
    display: inline-block;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    margin-bottom: $inuit-base-spacing-unit;
  }

  fieldset {
    text-align: left;
    border: none;
    margin-bottom: 0px;

    > * {
      width: 100%;
      display: block;
    }
  }

  &__submit {
    margin-top: $inuit-base-spacing-unit;
    width: 100%;
  }

  &__error {
    margin-bottom: halve($inuit-base-spacing-unit);
    color: map-get($brand-status-colors, error);
    text-align: left;
  }

  &__footer {
    margin-top: halve($inuit-base-spacing-unit);
    display: flex;
    justify-content: space-between;
    // align line height with .form-field
    line-height: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
  }
}
