// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.chart {
  position: relative;
  display: block;

  &__grid {
    stroke: $border-color;
  }

  &__graphic {
    width: 100%;
    max-height: calc(100vh - #{double($header-height)});
  }

  &__values {

    &-line {
      stroke-width: 3px;
      @include graph-stroke-color();
    }

    &-area {
      @include graph-fill-color-translucent(0.7);
    }

    &-bar {
      @include graph-fill-color-translucent(0.7);

      &--active {
        @include graph-fill-color();
      }
    }
  }

  &__threshold {
    stroke-width: 1px;
    stroke: $threshold-color;
  }

  &__xaxis {
    &-index {
      text {
        fill: $secondary-text-color;
      }

      &--active {
        text {
          fill: $text-color;
        }
      }
    }
  }

  &__back {
    &-band {
      &-background {
        fill: rgba(0, 0, 0, 0);
      }

      &--active {
        .chart__back-band-background {
          fill: $active-background-color;
        }
      }
    }
  }

  &__front {
    &-band {
      &-background {
        fill: rgba(0, 0, 0, 0);
      }
    }
  }

  &__legend {
    padding: halve($inuit-base-spacing-unit);
    pointer-events: none;

    @include media-query(palm) {
      margin: 0px auto;
    }

    @include media-query(lap-and-up) {
      position: absolute;
      left: 0px;
      margin: 0px;
      background-color: $active-background-color;
    }
  }

  &--small {
    .chart__graphic {
      max-height: double($header-height);
    }
  }
}
