// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.nav-control {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: $inuit-base-spacing-unit;
  transition: background-color $base-animation-duration;
  border-bottom-right-radius: $border-radius;

  @include media-query(palm) {
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
  }

  &__logo {
    display: inline-block;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    vertical-align: middle;
    transition: all $base-animation-duration ease-in-out;
  }

  &__page {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    margin-left: $inuit-base-spacing-unit;

    @include media-query(palm) {
      display: none;
    }
  }

  &__icon {
    width: $inuit-base-spacing-unit;
    margin-left: $inuit-base-spacing-unit;
    vertical-align: middle;
    stroke: $icon-color;
    transition: stroke $base-animation-duration ease-in-out;
  }

  &:hover {

    .nav-control__logo {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }

    .nav-control__page {
      color: $hover-text-color;
    }

    .nav-control__icon g {
      stroke: $active-icon-color;
    }
  }
}

@include keyframes(slide-in) {
  0% { left: -80vw; }
  100% { left: 0px; }
}

.nav-unified {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $layer-overlay-background-color;
  z-index: 10;

  &__container {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    min-width: 80vw;
    //padding: $inuit-base-spacing-unit 0px;
    background-color: $background-color;
    //border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    @include animation('slide-in 0.5s forwards');

    @include media-query(palm) {
      @include animation('none');
      width: 100vw;
    }
  }

  &__header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: quadruple($inuit-base-spacing-unit);
    background-color: $header-background-color;
    z-index: 1;
  }

  &__control {
    position: relative;
    display: inline-block;
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    vertical-align: middle;
    cursor: pointer;
    margin: $inuit-base-spacing-unit;

    @include media-query(palm) {
      display: none;
    }
  }

  &__logo {
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    vertical-align: middle;
  }

  .nav-search {
    display: inline-block;
  }

  &__close {
    position: absolute;
    top: $inuit-base-spacing-unit;
    right: $inuit-base-spacing-unit;

    @include media-query(palm) {
      right: halve($inuit-base-spacing-unit);
    }
  }

  &__sections {
    //margin-left: double($inuit-base-spacing-unit);
    padding: quadruple($inuit-base-spacing-unit) 0px double($inuit-base-spacing-unit);
    height: 100vh;
    overflow: auto;

    h2 {
      font-weight: normal;
      color: #999;
    }

    a {
      text-decoration: none;
      color: #333;

      &:hover {
        color: #000;
      }
    }
  }
}

.nav-search {
  vertical-align: middle;
  border: none;
  padding-left: 0px;

  @include media-query(palm) {
    padding-left: $inuit-base-spacing-unit;
    padding-top: $inuit-base-spacing-unit;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #ddd;
  }

  &::-moz-input-placeholder {
    color: #ddd;
  }

  &::-ms-input-placeholder {
    color: #ddd;
  }

  &::input-placeholder {
    color: #ddd;
  }
}

.nav-pages {
  display: none;
  padding-top: $inuit-base-spacing-unit;
  padding-bottom: $inuit-base-spacing-unit;
  padding-left: quadruple($inuit-base-spacing-unit) - $inuit-base-spacing-unit;
  padding-right: double($inuit-base-spacing-unit) - $inuit-base-spacing-unit;
  background-color: $inverse-background-color;
  color: $inverse-color;

  @include media-query(palm) {
    padding: quarter($inuit-base-spacing-unit) 0px;
  }

  a {
    color: $inverse-color;
  }

  &--active {
    ///display: -webkit-flex;
    ///display: flex;
    display: block;
  }

  &__pages {
    ///-webkit-flex: 1 1 auto;
    ///flex: 1 1 auto;
    -webkit-columns: $panel-width;
    -moz-columns: $panel-width;
    columns: $panel-width;

    @include media-query(palm) {
      -webkit-columns: 90vw 1;
      -moz-columns: 90vw 1;
      columns: 90vw 1;
    }

    > li.nav-pages__page {
      padding: 0px;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  &__page {
    width: $panel-width;
    padding: 0px;
    border-radius: $border-radius;
    text-align: left;

    @include media-query(palm) {
      width: 100%;
    }

    &--first-normal {
      -webkit-column-break-before: always;
      break-before: column;

      @include media-query(palm) {
        -webkit-column-break-before: auto;
        break-before: auto;
        border-top: 1px solid $border-color;
        margin-top: quarter($inuit-base-spacing-unit);
      }
    }

    &--iconic {
      text-align: center;

      .nav-pages__symbol {
        display: none;
      }

      @include media-query(palm) {
        text-align: left;
      }
    }

    a {
      display: block;
      padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    }

    &:hover {
      background-color: $hover-background-color;

      a {
        color: $inverse-color;
      }

      .nav-pages__symbol {
        background-color: nth($brand-neutral-colors, 1);
      }

      .nav-pages__icon {
        background-color: nth($brand-neutral-colors, 1);
      }
    }
  }

  &__symbol,
  &__icon {
    display: block;
    width: quadruple($inuit-base-spacing-unit);
    height: quadruple($inuit-base-spacing-unit);
    margin: 0px auto halve($inuit-base-spacing-unit);
    border-radius: double($inuit-base-spacing-unit);
    color: #fff;
    text-align: center;
    transition: background-color $base-animation-duration;

    @include media-query(palm) {
      display: inline-block;
    }
  }

  &__symbol {
    background-color: nth($brand-neutral-colors, 3);
    @include inuit-font-size(double($inuit-base-spacing-unit), quadruple($inuit-base-spacing-unit));
  }

  &__icon {
    background-color: nth($brand-neutral-colors, 1);
    padding: 0px; ///$inuit-base-spacing-unit;

    svg {
      margin: $inuit-base-spacing-unit;
      width: double($inuit-base-spacing-unit);
      height: double($inuit-base-spacing-unit);
    }

    path {
      fill: $background-color;
    }
  }

  &--small {

    .nav-pages {

      &__page {
        //width: quadruple($inuit-base-spacing-unit) + double($inuit-base-spacing-unit);
        //margin-bottom: halve($inuit-base-spacing-unit);
        @include inuit-font-size($inuit-base-font-size);

        @include media-query(palm) {
          width: 100%;
          @include inuit-font-size($inuit-heading-size-4);
        }

        &--iconic {
          .nav-pages__name {
            @include media-query(palm) {
              line-height: double($inuit-base-spacing-unit);
              vertical-align: top;
            }
          }
        }
      }

      &__symbol,
      &__icon {
        width: double($inuit-base-spacing-unit);
        height: double($inuit-base-spacing-unit);
        border-radius: quadruple($inuit-base-spacing-unit);
        margin: 0px auto quarter($inuit-base-spacing-unit);

        @include media-query(palm) {
          margin: 0px halve($inuit-base-spacing-unit) 0px 0px;
        }
      }

      &__symbol {
        display: none;
        @include inuit-font-size($inuit-base-spacing-unit, double($inuit-base-spacing-unit));
      }

      &__icon {
        padding: halve($inuit-base-spacing-unit);

        svg {
          margin: 0px;
          width: $inuit-base-spacing-unit;
          height: $inuit-base-spacing-unit;
        }
      }
    }
  }
}

.nav-suggestions,
.nav-recents {
  display: none;
  margin-top: halve($inuit-base-spacing-unit);
  padding-left: quadruple($inuit-base-spacing-unit) - $inuit-base-spacing-unit;
  padding-right: double($inuit-base-spacing-unit) - $inuit-base-spacing-unit;

  @include media-query(palm) {
    margin: 0px;
    padding: 0px;
  }

  &--active {
    display: block;
  }

  &__label {
    padding-left: $inuit-base-spacing-unit;
  }

  &__suggestion,
  &__recent {
    a {
      display: block;

      &:hover {
        .nav-suggestions,
        .nav-recents {
          &__suggestion,
          &__recent {
            &-category {
              color: $hover-text-color;
            }
          }
        }
      }
    }

    &-category {
      float: right;
      color: $secondary-text-color;
      @include inuit-font-size($inuit-base-font-size);
    }
  }

  &__list {
    margin-bottom: halve($inuit-base-spacing-unit);

    li.list-item {
      padding: 0px;

      a {
        padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
        cursor: pointer;

        &:hover {
          background-color: $hover-background-color;
          color: $link-color;
        }
      }
    }
  }
}
