// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.panel {
  border-bottom: 1px solid $border-color;
  background-color: $background-color;
  padding: $inuit-base-spacing-unit;

  &:last-of-type {
    border-bottom: none;
  }

  &__title {
    text-transform: uppercase;
    font-weight: normal;
  }

  > a {
    display: block;
  }

  a.call-to-action {
    display: inline-block;
    @include inuit-font-size($inuit-heading-size-4);
    margin-bottom: $inuit-base-spacing-unit;
    text-decoration: none;
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    border-radius: $border-radius;
    color: $colored-text-color;
  }

  &--index-1 {
    .panel__title {
      color: nth($brand-neutral-colors, 1);
    }

    a.call-to-action {
      background-color: nth($brand-neutral-colors, 1);
    }
  }

  &--index-2 {
    .panel__title {
      color: nth($brand-neutral-colors, 2);
    }

    a.call-to-action {
      background-color: nth($brand-neutral-colors, 2);
    }
  }

  @include media-query(palm) {
    padding: $inuit-base-spacing-unit;

    > h2 {
      margin-bottom: halve($inuit-base-spacing-unit);
    }

  }
}
