// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.box {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    &--full {
      max-width: 100%;
      width: 100vw;
    }

    &--full-horizontal {
      max-width: 100%;
      width: 100vw;
    }

    .app--centered & > .box {
      width: 100%;
      max-width: $center-column-width;
      margin-left: auto;
      margin-right: auto;

      @include media-query(palm) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  @include pad();

  &--full {
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    // min-height doesn't work for IE and vertical centering
    // https://connect.microsoft.com/IE/feedback/details/816293/ie11-flexbox-with-min-height-not-vertically-aligning-with-align-items-center
    height: 100%;
  }

  &--full-horizontal {
    max-width: 100%;
    width: 100vw;
  }

  &--full-vertical {
    min-height: 100vh;
  }

  &--direction-row {
    flex-direction: row;

    &.box--reverse {
      flex-direction: row-reverse;
    }

    @include media-query(palm) {
      &.box--responsive {
        flex-direction: column;

        &.box--reverse {
          flex-direction: column-reverse;
        }
      }
    }
  }

  &--direction-column {
    flex-direction: column;

    &.box--reverse {
      flex-direction: column-reverse;
    }

    > .header.box--direction-row,
    > .footer.box--direction-row,
    > .header__container--fixed {
      flex: 0 0 auto;
    }
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--separator {
    &-top {
      border-top: 1px solid $border-color;
    }

    &-bottom {
      border-bottom: 1px solid $border-color;
    }

    &-left {
      border-left: 1px solid $border-color;
    }

    &-right {
      border-right: 1px solid $border-color;
    }

    @include media-query(palm) {
      &-left {
        border-left: none;
        border-bottom: 1px solid $border-color;
        //padding-top: $inuit-base-spacing-unit;
      }

      &-right {
        border-right: none;
        border-bottom: 1px solid $border-color;
        //padding-top: $inuit-base-spacing-unit;
      }
    }
  }

  [class*="background-color-index-"] &[class*="box--separator"] {
    border-color: $colored-border-color;
  }

  &--text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  // temporary flex grow capability
  > .flex-grow-1, // deprecated, remove in 0.4
  > .flex {
    flex-grow: 1;
  }

  // deprecated options

  &--direction-down,
  &--direction-up {
    flex-direction: column;
  }

  &--direction-left {
    justify-content: flex-end;
  }

  &--flush {
    padding: 0px;
  }
}
