// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.tab {

  padding: halve($inuit-base-spacing-unit);

  .tabs--justify-start &:first-of-type {
      padding-left: 0;

      @include media-query(portable) {
        padding-left: auto;
      }
    }

  a {
    text-decoration: none;

    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }

    &:focus {
      .tab__label {
        border-bottom: 4px solid;
      }
    }
  }

  &__label {
    cursor: pointer;
    padding-bottom: halve($inuit-base-spacing-unit);
    font-weight: 600;
    color: $secondary-text-color;
  }

  &--active {

    .tab__label {
      color: #000;
      border-bottom: 4px solid #000;
    }
  }

  &:hover,
  &:focus {
    .tab__label {
      border-bottom: 4px solid;
    }
  }
}
