// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}brick {
  padding: $inuit-base-spacing-unit;
  position: relative;
  float: left;
  margin: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
  max-width: calc(100% - #{halve($inuit-base-spacing-unit)});

  &__label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    span {
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color;
      position: absolute;
      left: $inuit-base-spacing-unit;
      bottom: $inuit-base-spacing-unit;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__container {
    position: absolute;
    top: $inuit-base-spacing-unit;
    bottom: $inuit-base-spacing-unit;
    left: $inuit-base-spacing-unit;
    right: $inuit-base-spacing-unit;
    max-width: calc(100% - #{double($inuit-base-spacing-unit)});
  }

  &--clickable {

    &:hover,
    &:focus {
      z-index: 1;
      transition: transform 0.4s;
      transform: scale(1.05);
      outline: none;
    }
  }

  &[class*="background-color-index-"] span {
    color: #fff;
  }

  &--1-1 {
    width: calc(25% - #{halve($inuit-base-spacing-unit)});

    &:after {
      padding-top: 100%;
      display: block;
      content: '';
    }

    @include media-query(portable) {
      width: calc(50% - #{halve($inuit-base-spacing-unit)});
    }
  }

  &--1-2 {
    width: calc(25% - #{halve($inuit-base-spacing-unit)});

    &:after {
      padding-top: calc(200% + #{halve($inuit-base-spacing-unit) * 5});
      display: block;
      content: '';
    }

    @include media-query(portable) {
      width: calc(50% - #{halve($inuit-base-spacing-unit)});
    }
  }

  &--2-1 {
    width: calc(50% - #{halve($inuit-base-spacing-unit)});

    &:after {
      padding-top: calc(50% - #{quarter($inuit-base-spacing-unit) * 5});
      display: block;
      content: '';
    }

    @include media-query(portable) {
      width: calc(100% - #{halve($inuit-base-spacing-unit)});
    }
  }

  &--2-2 {
    width: calc(50% - #{halve($inuit-base-spacing-unit)});

    &:after {
      padding-top: 100%;
      display: block;
      content: '';
    }

    @include media-query(portable) {
      width: calc(100% - #{halve($inuit-base-spacing-unit)});
    }
  }
}
