// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.footer {
  min-height: $footer-height;
  line-height: $footer-height;
  width: 100%;

  &.box--direction-row {
    > h1,
    > h2,
    > h3,
    > h4 {
      margin-bottom: 0px;
    }
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;

  @include flexible();

  > * {
    margin-right: double($inuit-base-spacing-unit);

    &:last-child {
      margin-right: 0px;
      text-align: left;
    }
  }
}

.footer--primary {
  height: auto;
  padding: $inuit-base-spacing-unit;

  .footer__content {
    position: relative;
    color: $secondary-text-color;
    display: block;

    p {
      padding-top: halve($inuit-base-spacing-unit);
      margin: 0;
      max-width: none;
      text-align: right;
      line-height: $inuit-base-spacing-unit;
    }
  }
}

.footer--centered {
  .footer__content {
    display: block;
    text-align: center;

    > * {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  }
}

.footer--flush {
  .footer__content,
  .footer__wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.footer--large {
  min-height: $large-footer-height;
  line-height: $large-footer-height;
}

.footer--small {
  min-height: $small-footer-height;
  line-height: $small-footer-height;
}

.footer--fixed {
  .footer__wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 3;

    &--fill {
      .footer__wrapper {
        background-color: $footer-background-color;
      }
    }
  }

  &.footer--primary {
    .footer__wrapper {
      position: fixed;

      &--fill {
        .footer__wrapper {
          background-color: $footer-background-color;
        }
      }
    }

    .footer__content {
      position: static;
      background-color: transparent;
    }
  }
}

.footer__container {
  flex-shrink: 0;

  &--float {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  &--fill {
    .footer {
      background-color: $footer-background-color;
    }
  }

  &--fixed {
    position: relative;
    width: 100%;

    .footer__wrapper {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: 3;
    }
  }
}

.footer__wrapper {
  height: $footer-height;

  &--large {
    height: $large-footer-height;
  }

  &--small {
    height: $small-footer-height;
  }
}

*:not(.footer__container--float) > .footer--float {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
