// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.tiles {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
  margin: - $inuit-base-spacing-unit;

  > * {
    -webkit-flex: 0 0 round($inuit-base-spacing-unit * 8);
    flex: 0 0 round($inuit-base-spacing-unit * 8);
  }

  &--small {
    > * {
      -webkit-flex-basis: round($inuit-base-spacing-unit * 4);
      flex-basis: round($inuit-base-spacing-unit * 4);
    }
  }
}

.tile {
  padding: $inuit-base-spacing-unit;

  @include media-query(palm) {
    margin: 0px;
    border-radius: none;
  }

  > a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: $inuit-base-spacing-unit;
  }
}
