// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form {
  fieldset {
    border: none;
    margin: 0px;
    padding-bottom: 1.5rem;

    &:first-child {
      padding-top: 1.5rem;
    }
  }
}
