// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  margin-right: halve($inuit-base-spacing-unit);
  white-space: nowrap;

  @include media-query(palm) {
    @include inuit-font-size(24px, inherit);
  }

  @include media-query(lap-and-up) {
    @include inuit-font-size(24px, inherit);
    font-weight: 600;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    [class*="background-color-index-"] & {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg:not(.control-icon),
  img {
    margin-right: halve($inuit-base-spacing-unit);

    @include media-query(palm) {
      height: halve($small-header-height);
    }

    @include media-query(lap-and-up) {
      height: double($inuit-base-spacing-unit);
    }
  }

  .logo-icon {
    @include media-query(palm) {
      width: halve($small-header-height);
      height: halve($small-header-height);
    }

    @include media-query(lap-and-up) {
      width: double($inuit-base-spacing-unit);
      height: double($inuit-base-spacing-unit);
    }
  }

  &--interactive {
    &:hover {
      color: $brand-color;
      cursor: pointer;

      @include media-query(lap-and-up) {
        transition: color 0.3s;
      }
    }
  }

  &--menu {

    .control-icon {
      margin-left: halve($inuit-base-spacing-unit);
    }

    &:hover {
      cursor: pointer;

      .control-icon {
        stroke: $brand-color;
      }
    }
  }

  &--responsive {
    @include media-query(palm) {
      > *:not(:first-child) {
        display: none;
      }
    }
  }
}
