// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.box {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // img {
  //   max-width: $readable-text-width;
  // }

  &__texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }

  &__container {
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    &--full {
      max-width: 100%;
      width: 100vw;

      .layer__container & {
        width: calc(100vw - #{double($inuit-base-spacing-unit)});
      }
    }

    &--full-horizontal {
      max-width: 100%;
      width: 100vw;

      .layer__container & {
        width: calc(100vw - #{double($inuit-base-spacing-unit)});
      }
    }

    .app--centered & > .box {
      width: 100%;
      max-width: $center-column-width;
      margin-left: auto;
      margin-right: auto;

      @include media-query(palm) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  @include pad();

  &--full {
    position: relative;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    // min-height doesn't work for IE and vertical centering
    // https://connect.microsoft.com/IE/feedback/details/816293/ie11-flexbox-with-min-height-not-vertically-aligning-with-align-items-center
    height: 100%;

    .layer__container & {
      width: calc(100vw - #{double($inuit-base-spacing-unit)});
    }
  }

  &--full-horizontal {
    max-width: 100%;
    width: 100vw;

    .layer__container & {
      width: calc(100vw - #{double($inuit-base-spacing-unit)});
    }
  }

  &--full-vertical {
    min-height: 100vh;
  }

  &--direction-row {
    flex-direction: row;

    &.box--reverse {
      flex-direction: row-reverse;
    }

    &.box--pad-between {
      &-small {
        > *:not(:last-child) {
          margin-right: halve($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: halve($inuit-base-spacing-unit);
          }
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-right: $inuit-base-spacing-unit;

          html.rtl & {
            margin-right: 0;
            margin-left: $inuit-base-spacing-unit;
          }
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-right: double($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: double($inuit-base-spacing-unit);
          }
        }
      }
    }

    @include media-query(palm) {
      &.box--responsive {
        flex-direction: column;

        &:not(.box--justify-center) {
          align-items: stretch;
        }

        &.box--reverse {
          flex-direction: column-reverse;
        }
      }
    }
  }

  &--direction-column {
    flex-direction: column;

    // > *:not(p) {
    //   max-width: 100%;
    // }

    &.box--reverse {
      flex-direction: column-reverse;
    }

    > .header.box--direction-row,
    > .footer.box--direction-row,
    > .header__container--fixed {
      flex: 0 0 auto;
    }

    &.box--pad-between {
      &-small {
        > *:not(:last-child) {
          margin-bottom: halve($inuit-base-spacing-unit);
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-bottom: $inuit-base-spacing-unit;
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-bottom: double($inuit-base-spacing-unit);
        }
      }
    }
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--separator {
    &-top,
    &-horizontal,
    &-all {
      border-top: 1px solid $border-color;
    }

    &-bottom,
    &-horizontal,
    &-all {
      border-bottom: 1px solid $border-color;
    }

    &-left,
    &-vertical,
    &-all {
      border-left: 1px solid $border-color;
    }

    &-right,
    &-vertical,
    &-all {
      border-right: 1px solid $border-color;
    }

    // @include media-query(palm) {
    //   &-left,
    //   &-vertical,
    //   &-all {
    //     // border-left: none;
    //     // border-bottom: 1px solid $border-color;
    //     //padding-top: $inuit-base-spacing-unit;
    //   }
    //
    //   &-right,
    //   &-vertical,
    //   &-all {
    //     // border-right: none;
    //     // border-bottom: 1px solid $border-color;
    //     //padding-top: $inuit-base-spacing-unit;
    //   }
    // }
  }

  [class*="background-color-index-"] &[class*="box--separator"] {
    border-color: $colored-border-color;
  }

  &--text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  // temporary flex grow capability
  > .flex-grow-1, // deprecated, remove in 0.4
  > .flex {
    flex-grow: 1;
  }

  // deprecated options

  &--direction-down,
  &--direction-up {
    flex-direction: column;
  }

  &--direction-left {
    justify-content: flex-end;
  }

  &--flush {
    padding: 0px;
  }

  &--clickable {
    cursor: pointer;
  }

  &:focus {
    outline: $focus-border-color solid 1px;
  }
}
