.#{$grommet-namespace}quote {
  border-width: $inuit-base-spacing-unit;
  border-style: solid;
  max-width: 100%;

  &--small {
    width: $size-medium;
    border-width: halve($inuit-base-spacing-unit);
  }

  &--medium {
    width: $size-large;
  }

  &--large {
    width: $size-xlarge;
  }

  &--emphasize-credit &__credit {
    font-weight: 600;
  }
}
