// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form-field {
  position: relative;
  padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
  border: $input-border-width solid $border-color;
  margin-bottom: - $input-border-width; // so borders overlap
  background-color: $form-field-background-color;

  @include media-query(lap-and-up) {
    width: $form-width;
    max-width: 100%;

    .form--compact & {
      width: $compact-form-width;
    }
  }

  @include media-query(palm) {
    width: 100vw;
  }

  .form--fill & {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  &__label {
    display: block;
    @include inuit-font-size($label-font-size, $inuit-base-spacing-unit);
    color: $secondary-text-color;
  }

  &__contents {
    display: block;

    > input[type=text],
    > input[type=range],
    > input[type=email],
    > input[type=password],
    > input[type=number],
    > select,
    > .search-input input,
    > textarea {
      border: none;
      padding: 0px;
      width: 100%;
      margin-right: 0px;
      border-radius: 0px;
      @include inuit-font-size($content-font-size);

      &:focus {
        border: none;
      }
    }

    > select {
      background-position: center right;
    }

    // Prevent textarea from adding extra bottom margin
    > textarea {
      vertical-align: top;
      height: auto;
    }

    > .check-box,
    > .radio-button {
      @include inuit-font-size($content-font-size);
    }

    > .search-input {
      width: 100%;

      .search-input__control {
        right: - halve($inuit-base-spacing-unit);
      }
    }

    > .table--selectable {
      margin-left: - $inuit-base-spacing-unit;
      margin-right: - $inuit-base-spacing-unit;
      @include inuit-font-size($content-font-size);

      table {
        margin-bottom: 0px;

        td:first-child,
        th:first-child {
          padding-left: $inuit-base-spacing-unit;
        }
      }
    }
  }

  &__help {
    display: block;
    margin-top: quarter($inuit-base-spacing-unit);
    line-height: $inuit-base-spacing-unit;
    color: $secondary-text-color;
  }

  &__error {
    display: block;
    float: right;
    color: map-get($brand-status-colors, error);
    line-height: $inuit-base-spacing-unit;
  }

  &--text {
    cursor: pointer;

    .form-field__label {
      cursor: pointer;
    }
  }

  &--error {
    z-index: 1;
    border-color: map-get($brand-status-colors, error);
  }

  &--focus {
    z-index: 2;
    border-color: $focus-border-color;
  }
}
