// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.drop {
  position: fixed;
  z-index: 20;
  background-color: $background-color;
  border: $drop-border;
  border-radius: $border-radius;
  box-shadow: $drop-box-shadow;
  overflow: auto;
}
