// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$button-vertical-padding: quarter($inuit-base-spacing-unit) - $button-border-width;
$button-horizontal-padding: round($inuit-base-spacing-unit * 1.5) - $button-border-width;

@mixin basic-button {
  padding: $button-vertical-padding $button-horizontal-padding;
  background-color: transparent;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  cursor: pointer;
  text-align: center;
  outline: none;

  @include media-query(lap-and-up) {
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
  }
}

input[type="button"],
input[type="submit"],
button:not(.button) {
  @include basic-button();
}

.button {
  @include basic-button();

  &:hover:not(.button--disabled) {
    border-color: $button-hover-border-color;
    color: $button-hover-text-color;
  }

  &:active:not(.button--disabled) {
    border-color: $button-active-border-color;
    color: $button-active-text-color;
  }

  &:focus:not(.button--disabled) {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--primary {
    border-color: $button-primary-background-color;
    background-color: $button-primary-background-color;
    color: $button-primary-text-color;

    &:hover:not(.button--disabled) {
      border-color: $button-hover-primary-background-color;
      background-color: $button-hover-primary-background-color;
      color: $button-primary-text-color;
    }

    &:active:not(.button--disabled) {
      border-color: $button-active-primary-background-color;
      background-color: $button-active-primary-background-color;
      color: $button-primary-text-color;
    }
  }

  &--accent {
    border-color: $button-accent-background-color;
    background-color: $button-accent-background-color;
    color: $button-accent-text-color;

    &:hover:not(.button--disabled) {
      border-color: $button-hover-accent-background-color;
      background-color: $button-hover-accent-background-color;
      color: $button-accent-text-color;
    }

    &:active:not(.button--disabled) {
      border-color: $button-active-accent-background-color;
      background-color: $button-active-accent-background-color;
      color: $button-accent-text-color;
    }
  }

  [class*="background-color-index-"] & {
    background-color: $colored-button-background-color;
    border-color: $colored-button-border-color;
    color: $colored-button-text-color;

    &:hover {
      border-color: $active-colored-button-border-color;
      color: $active-colored-button-text-color;
    }

    &.button--primary {
      background-color: $colored-button-primary-background-color;
      border-color: $colored-button-primary-border-color;

      &:hover {
        background-color: $active-colored-button-primary-background-color;
        border-color: $active-colored-button-primary-border-color;
      }
    }

    &.button--accent {
      background-color: $colored-button-accent-background-color;
      border-color: $colored-button-accent-border-color;

      &:hover {
        background-color: $active-colored-button-accent-background-color;
        border-color: $active-colored-button-accent-border-color;
      }
    }
  }

  &--large {
    @include inuit-font-size($control-large-font-size, $inuit-base-spacing-unit);
    padding: (round($inuit-base-spacing-unit * 0.75) - $button-border-width) (round($inuit-base-spacing-unit * 3) - $button-border-width);
  }

  &--disabled {
    opacity: 0.3;
    cursor: default;
  }
}
