// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}login {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 100;

  &__background {
    position: absolute;
    max-width: none;

    &--portrait {
      width: auto;
      height: 100%;
    }

    &--landscape {
      height: auto;
      width: 100%;
    }
  }

  &__container {
    position: relative;
    width: round($inuit-base-spacing-unit * 16);
    margin: quadruple($inuit-base-spacing-unit) auto;
    z-index: 1;
    @include fade-in();

    @include media-query(palm) {
      margin: double($inuit-base-spacing-unit) 0px;
      width: 100%;
      border-radius: 0px;
    }
  }

  &__footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: quarter($inuit-base-spacing-unit);
    padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    background-color: $header-background-color;
    text-align: center;
  }
}
