// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.box {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include pad();

  // temporary flex grow capability
  > .flex {
    flex-grow: 1;
  }

  > .no-flex {
    flex: 0 0 auto;
  }
}

.box__texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.box__container {
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;

  .app--centered & > .box {
    width: 100%;
    max-width: $center-column-width;
    margin-left: auto;
    margin-right: auto;

    @include media-query(palm) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.box__container--full {
  max-width: 100%;
  width: 100vw;
}

.box__container--full-horizontal {
  max-width: 100%;
  width: 100vw;
}

.box--wrap {
  flex-wrap: wrap;
}

.box--full {
  position: relative;
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  // min-height doesn't work for IE and vertical centering
  // https://connect.microsoft.com/IE/feedback/details/816293/ie11-flexbox-with-min-height-not-vertically-aligning-with-align-items-center
}

.box--full-horizontal {
  max-width: 100%;
  width: 100vw;
}

.box--full-vertical {
  min-height: 100vh;
}

.box--direction-row {
  flex-direction: row;

  &.box--reverse {
    flex-direction: row-reverse;
  }

  &.box--pad-between {
    &-small {
      > *:not(:last-child) {
        margin-right: halve($inuit-base-spacing-unit);

        html.rtl & {
          margin-right: 0;
          margin-left: halve($inuit-base-spacing-unit);
        }
      }
    }

    &-medium {
      > *:not(:last-child) {
        margin-right: $inuit-base-spacing-unit;

        html.rtl & {
          margin-right: 0;
          margin-left: $inuit-base-spacing-unit;
        }
      }
    }

    &-large {
      > *:not(:last-child) {
        margin-right: double($inuit-base-spacing-unit);

        html.rtl & {
          margin-right: 0;
          margin-left: double($inuit-base-spacing-unit);
        }
      }
    }

    @include media-query(palm) {
      &-small {
        > *:not(:last-child) {
          margin-right: quarter($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: quarter($inuit-base-spacing-unit);
          }
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-right: halve($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: halve($inuit-base-spacing-unit);
          }
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-right: $inuit-base-spacing-unit;

          html.rtl & {
            margin-right: 0;
            margin-left: $inuit-base-spacing-unit;
          }
        }
      }
    }
  }

  @include media-query(palm) {
    &.box--responsive {
      flex-direction: column;

      &:not(.box--justify-center) {
        align-items: stretch;
      }

      &.box--reverse {
        flex-direction: column-reverse;
      }

      &.box--pad-between {
        // make sure between padding switches directions
        // on responsive
        &-small {
          > *:not(:last-child) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: quarter($inuit-base-spacing-unit);
          }
        }

        &-medium {
          > *:not(:last-child) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: halve($inuit-base-spacing-unit);
          }
        }

        &-large {
          > *:not(:last-child) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: $inuit-base-spacing-unit;
          }
        }
      }
    }
  }
}

.box--direction-column {
  flex-direction: column;

  &.box--reverse {
    flex-direction: column-reverse;
  }

  > .header.box--direction-row,
  > .footer.box--direction-row,
  > .header__container--fixed {
    flex: 0 0 auto;
  }

  &.box--pad-between {
    &-small {
      > *:not(:last-child) {
        margin-bottom: halve($inuit-base-spacing-unit);
      }
    }

    &-medium {
      > *:not(:last-child) {
        margin-bottom: $inuit-base-spacing-unit;
      }
    }

    &-large {
      > *:not(:last-child) {
        margin-bottom: double($inuit-base-spacing-unit);
      }
    }

    @include media-query(palm) {
      &-small {
        > *:not(:last-child) {
          margin-bottom: quarter($inuit-base-spacing-unit);
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-bottom: halve($inuit-base-spacing-unit);
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-bottom: $inuit-base-spacing-unit;
        }
      }
    }
  }
}

.box--justify-start {
  justify-content: flex-start;
}

.box--justify-center {
  justify-content: center;
}

.box--justify-between {
  justify-content: space-between;
}

.box--justify-end {
  justify-content: flex-end;
}

.box--align-start {
  align-items: flex-start;
}

.box--align-center {
  align-items: center;
}

.box--align-end {
  align-items: flex-end;
}

.box--align-baseline {
  align-items: baseline;
}

.box--align-content-start {
  align-content: flex-start;
}

.box--align-content-end {
  align-content: flex-end;
}

.box--align-content-center {
  align-content: center;
}

.box--align-content-between {
  align-content: space-between;
}

.box--align-content-around {
  align-content: space-around;
}

.box--separator-top,
.box--separator-horizontal,
.box--separator-all {
  border-top: 1px solid $border-color;
}

.box--separator-bottom,
.box--separator-horizontal,
.box--separator-all {
  border-bottom: 1px solid $border-color;
}

.box--separator-left,
.box--separator-vertical,
.box--separator-all {
  border-left: 1px solid $border-color;
}

.box--separator-right,
.box--separator-vertical,
.box--separator-all {
  border-right: 1px solid $border-color;
}

#{$dark-background-context} .box[class*="box--separator"] {
  border-color: $colored-border-color;
}

.box--text-align {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.box--clickable {
  cursor: pointer;
}
