// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.distribution {
  position: relative;
  display: block;

  &__graphic {
    width: 100%;
    height: $graphic-size;
    max-height: calc(100vh - #{double($header-height)});

    &:focus {
      outline: $focus-border-color solid 1px;
      outline-offset: halve(halve($inuit-base-spacing-unit));
    }
  }

  &__background {
    fill: $secondary-background-color;
  }

  &__item {
    &--clickable {
      cursor: pointer;
    }

    &-box {
      @include graph-fill-color();
    }

    &-icons {
      @include graph-stroke-color();
    }

  }

  &__label {
    position: absolute;
    padding: quarter($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
    font-family: $brand-large-number-font-family;
    overflow: hidden;
    text-align: left;
    pointer-events: none;
    @include filled-text-color();

    &-value {
      display: block;
      @include inuit-font-size($large-number-font-size);
      font-weight: bold;
    }

    &-units {
      @include inuit-font-size($inuit-heading-size-3, inherit);
      margin-left: quarter($inuit-base-spacing-unit);
      font-weight: normal;
    }

    &-label {
      display: block;
    }

    &--active {
      color: $text-color;
    }

    &--thin {
      .distribution__label-value,
      .distribution__label-label {
        display: inline-block;
      }
    }

    &--small {
      // padding: 0 halve($inuit-base-spacing-unit)
      //   halve($inuit-base-spacing-unit) quarter($inuit-base-spacing-unit);

      .distribution__label-value,
      .distribution__label-units {
        @include inuit-font-size($small-large-number-font-size, 1);
        margin-right: 4px;
      }
    }

    &--icons {
      padding: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
      background-color: $active-background-color;
      color: $text-color;

      .label {
        &-value {
          line-height: 1;
        }

        &-units {
          color: $secondary-text-color;
        }

        &-label {
          display: block;
        }
      }
    }
  }

  &__loading-indicator {
    stroke-width: $inuit-base-spacing-unit;
    @include graph-stroke-color();
  }

  &--icons {
    .distribution {
      &__label {
        padding: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;

        &-value {
          line-height: 1;
        }
      }
    }
  }

  &--small {
    .distribution__graphic {
      height: $graphic-small-size;
    }
  }

  &--large {
    .distribution__graphic {
      height: $graphic-large-size;
    }
  }

  &--full {
    height: 100%;

    .distribution__graphic {
      height: 100%;
      max-height: 100%;
    }
  }
}
