// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.article {
  position: relative;

  &--scroll-step {
    text-align: center;
    height: 100vh;
    width: 100vw;
    max-width: 100%;

    > .article__control {
      position: fixed;
      z-index: 10;

      &-up {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &-down {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }

      &-left {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }

      &-right {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
      }
    }

    &.box--direction-column {
      overflow-x: hidden;
      overflow-y: auto;

      // > *:not(.article__controls) {
      //   overflow-x: auto;
      // }

      > .article__control-carousel {
        top: 50%;
        left: $inuit-base-spacing-unit;
        transform: translateY(-50%);
      }
    }

    &.box--direction-row {
      overflow-x: auto;
      overflow-y: hidden;

      > *:not(.article__controls) {
        overflow-y: auto;
      }

      > .article__control-carousel {
        top: $inuit-base-spacing-unit;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  > * {
    flex: 0 0 auto;
  }
}

article:not(.article) {
  width: 100%;
}
