// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.form {
  position: relative;

  @include media-query(lap-and-up) {
    min-width: round($inuit-base-spacing-unit * 20);
  }

  > .header .header__wrapper { // TODO: clean up
    background-color: inherit;
  }

  > .footer {
    margin-top: $inuit-base-spacing-unit;
  }

  fieldset {
    border: none;
    margin: 0px;
    margin-bottom: 2rem;
    margin-top: $inuit-base-spacing-unit;

    legend {
      @include inuit-font-size(24px);
      font-weight: 100;
      margin-bottom: halve($inuit-base-spacing-unit);
      color: $secondary-text-color;
    }
  }

  .layer & {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - #{double($inuit-base-spacing-unit)});
    max-width: calc(100vw - #{double($inuit-base-spacing-unit)});

    > .header,
    > .footer {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    > .form-fields {
      overflow: auto;
    }

    @include media-query(palm) {
      > .form-fields {
        margin-left: - $inuit-base-spacing-unit;
        margin-right: - $inuit-base-spacing-unit;

        > fieldset > *:not(.form-field) {
          margin-left: $inuit-base-spacing-unit;
          margin-right: $inuit-base-spacing-unit;
        }
      }
    }
  }

  &--compact {
    min-width: round($inuit-base-spacing-unit * 10);
  }
}
