// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.layer {
  position: relative;
  z-index: 10; // stay above app header

  @include media-query(lap-and-up) {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: none;
  }

  &__overlay {
    @include media-query(palm) {
      &:not(.layer__overlay--hidden) + * {
        display: none;
      }
    }
  }

  &__container {
    background-color: $layer-background-color;

    @include media-query(palm) {
      padding: $inuit-base-spacing-unit;
      border-bottom: 1px solid $border-color;
      box-shadow: $layer-box-shadow;
    }

    @include media-query(lap-and-up) {
      position: absolute;
      max-height: 100vh;
      max-width: 100vw;
      padding: round($inuit-base-spacing-unit * 0.75) double($inuit-base-spacing-unit) double($inuit-base-spacing-unit);
      border-radius: $border-radius;
      box-shadow: $layer-box-shadow;
      overflow: none;
    }
  }

  &__closer {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
  }

  &--closeable {
    @include media-query(lap-and-up) {
      .layer__container {
        padding-top: round($inuit-base-spacing-unit * 3);
        padding-bottom: round($inuit-base-spacing-unit * 3);
      }
    }
  }

  &--flush {
    .layer__container {
      padding: 0px;
    }
  }

  &--align {
    &-center:not(.layer--hidden) {

      @include media-query(lap-and-up) {
        background-image: radial-gradient(circle at top, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

        .layer__container {
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }

    &-left:not(.layer--hidden) {
      @include media-query(lap-and-up) {
        background-image: radial-gradient(circle at left, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;
      }

      .layer__container {
        top: 0px;
        bottom: 0px;
        left: 0px;

        @include media-query(lap-and-up) {
          @include animation('slide-right 0.2s ease-in-out forwards');
        }
      }
    }

    &-right:not(.layer--hidden) {
      @include media-query(lap-and-up) {
        background-image: radial-gradient(circle at right, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;
      }

      .layer__container {
        top: 0px;
        bottom: 0px;
        right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-query(lap-and-up) {
          @include animation('slide-left 0.2s ease-in-out forwards');
        }
      }
    }

    &-top:not(.layer--hidden) {
      @include media-query(lap-and-up) {
        background-image: radial-gradient(circle at top, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;

        .layer__container {
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);

          @include media-query(lap-and-up) {
            @include animation('slide-down 0.2s ease-in-out forwards');
          }
        }
      }
    }

    &-bottom:not(.layer--hidden) {
      @include media-query(lap-and-up) {
        background-image: radial-gradient(circle at bottom, $layer-background-color, $layer-background-color 20%, $layer-overlay-background-color); //$layer-overlay-background-color;
      }

      .layer__container {
        bottom: 0px;
      }
    }
  }

  &--hidden {

    left: -10000px;
    z-index: -1;

    &.layer--align {

      &-left {
        right: auto;

        .layer__container {
          left: -100vw;
        }
      }
    }

    @include media-query(palm) {
      display: none;
    }

    @include media-query(lap-and-up) {
      &.layer--peek {

        left: 0;
        z-index: 10;

        &.layer--align {

          &-left {
            right: auto;

            .layer__container {
              left: auto;
              right: - halve($inuit-base-spacing-unit);
              border-right: 10px solid $brand-color;
              @include animation('peek-right 0.5s ease-in-out alternate 5');
            }
          }
        }
      }
    }
  }
}

@include keyframes(peek-right) {
  0% {
    right: - quarter($inuit-base-spacing-unit);
  }

  100% {
    right: - halve($inuit-base-spacing-unit);
  }
}

@include keyframes(slide-right) {
  0% {
    left: -100vw;
  }

  100% {
    left: 0px;
  }
}

@include keyframes(slide-left) {
  0% {
    right: -100vw;
  }

  100% {
    right: 0px;
  }
}

@include keyframes(slide-down) {
  0% {
    top: -100vh;
  }

  100% {
    top: 0px;
  }
}
