.#{$grommet-namespace}-dropzone {
  border-width: 2px;
  border-color: #333;
  border-style: dashed;
  border-radius: 4px;
  transition: all 0.5s;
}

.#{$grommet-namespace}-dropzone__input {
  display: none;
}

.#{$grommet-namespace}-dropzone__preview-tile {
  position: relative;
}

.#{$grommet-namespace}-dropzone__closer-button {
  position: absolute;
  top: 0;
  right: 0;
  
  span {
    padding: 1px;
  }

}

.#{$grommet-namespace}-dropzone__closer-icon {
  vertical-align: top;
  width: 12px;
  stroke: white;
  fill: white;
  height: 12px;
}

.#{$grommet-namespace}-dropzone--active {
  border-color: #8cc800;
  border-style: solid;
}

.#{$grommet-namespace}-dropzone__file-preview {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
}
