// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.tiles {
  width: 100%;
  padding: halve($inuit-base-spacing-unit);

  display: flex;
  flex-wrap: wrap;

  > .tile {
    flex: 1 0 $tile-size;
    // don't count padding for flex basis
    // this makes it easier to align tiles with graphic components
    box-sizing: content-box;

    &--wide {
      flex-basis: 100%;
      box-sizing: border-box;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    max-width: 100%;

    .tiles__left,
    .tiles__right {
      flex: 0 0 auto;
    }

    .tiles {
      flex: 1;
      margin: 0px;

      &--direction-row {
        width: 100%;
        overflow-x: hidden;
        overflow-y: visible;
      }
    }
  }

  &--fill {
    justify-content: space-around;
  }

  &--flush {
    //margin: - $inuit-base-spacing-unit;
    //width: calc(100% + #{double($inuit-base-spacing-unit)});
    padding: 0px;
  }

  &--direction {
    &-row {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    &-column {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &--moreable {
    position: relative;
    padding-bottom: double($inuit-base-spacing-unit);

    .tiles__more {
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &--small {
    > .tile {
      flex-basis: $tile-small-size;
    }
  }

  &--large {
    > .tile {
      flex-basis: $tile-large-size;
    }
  }
}

.tile {
  overflow: hidden;

  .status-icon {
    margin-right: quarter($inuit-base-spacing-unit);
  }

  &.box--align-center {
    text-align: center;
  }

  > .chart {
    width: 100%;
  }

  &--selectable {
    cursor: pointer;
    transition: background-color 0.2s;

    &.tile--selected {
      background-color: $selected-background-color;
    }

    &:hover:not(.tile--selected) {
      background-color: $hover-background-color;
    }
  }

  &--eclipsed {
    opacity: 0.2;
  }
}
