// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.footer {
  min-height: $footer-height;
  line-height: $footer-height;

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    @include flexible();

    > * {
      margin-right: double($inuit-base-spacing-unit);

      &:last-child {
        margin-right: 0px;
        text-align: left;
      }
    }
  }

  &--primary {
    height: auto;
    padding: $inuit-base-spacing-unit;

    .footer {
      &__content {
        position: relative;
        color: $secondary-text-color;
        display: block;

        p {
          padding-top: halve($inuit-base-spacing-unit);
          margin: 0;
          max-width: none;
          text-align: right;
          line-height: $inuit-base-spacing-unit;
        }
      }
    }
  }

  &--centered {
    .footer {
      &__content {
        display: block;
        text-align: center;

        > * {
          margin-right: auto;
          margin-left: auto;
          text-align: center;
        }
      }
    }
  }

  &--flush {
    .footer__content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &--large {
    .footer__content {
      padding-top: $inuit-base-spacing-unit;
      padding-bottom: $inuit-base-spacing-unit;
    }
  }

  &__container {
    &--float {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }
  }

  *:not(.footer__container--float) > &--float {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;
  }
}
