// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.paragraph {

  &--small {
    @include inuit-font-size($paragraph-small-font-size);

    a {
      text-decoration: none;
    }
  }

  &--large {
    // inuit-font-size sets the line-height to 24px when the font size is 24px.
    // We want a bit more leading between lines than that.
    // See also base.text h3
    @if $paragraph-large-font-size == 24px {
      @include inuit-font-size($paragraph-large-font-size, 28px);
    } @else {
      @include inuit-font-size($paragraph-large-font-size);
    }

    a {
      color: $brand-color;
      font-weight: 600;
    }
  }
}
