// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.image {

  max-width: 100%;

  &--medium {
    width: $image-width;
  }

  &--large {
    width: $image-large-width;
  }

  &--small {
    width: $image-small-width;
  }

  &--thumb {
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    flex: 0 0 auto;
    object-fit: cover;
  }

  &--full {
    width: 100%;
    height: 100%;
  }

  &--full-horizontal {
    width: 100%;
  }

  &--full-vertical {
    height: 100%;
  }

  &__image {
    width: 100%;
  }

  &__caption {
    text-align: center;
    padding: halve($inuit-base-spacing-unit);
  }
}
