// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
  color: #ccc;
  font-style: italic;
}

@mixin centered-content {
  width: 100%;
  max-width: $center-column-width;
  margin-left: auto;
  margin-right: auto;
}

.app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;

  &--centered {

    > .header,
    > div > .header {
      .header__content {
        @include centered-content();
      }
    }

    > .footer,
    > div > .footer {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;

      .footer__content {
        @include centered-content();
      }
    }

    .document,
    .section {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;

      &__content {
        @include centered-content();
      }
    }

    .section .document {
      padding-left: 0px;
      padding-right: 0px;

      &__content {
        width: auto;
        max-width: none;
      }
    }
  }
}
