// (C) Copyright 2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.#{$grommet-namespace}columns__column {
  flex: 0 0 $tile-size;
  display: flex;
  flex-direction: column;
}


.#{$grommet-namespace}columns--small {
  > .#{$grommet-namespace}columns__column {
    flex-basis: $tile-small-size;
  }
}

.#{$grommet-namespace}columns--large {
  > .#{$grommet-namespace}__column {
    flex-basis: $tile-large-size;
  }
}
