// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.notifications-control {
  &__icon {
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    vertical-align: middle;
  }
}

.notifications {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: $layer-overlay-background-color;
  z-index: 10;

  &__container {
    position: absolute;
    top: 0px;
    right: 0px;
    min-width: 300px;
    padding: $inuit-base-spacing-unit;
    padding-top: quadruple($inuit-base-spacing-unit);
    background-color: $background-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-bottom-left-radius: $border-radius;
  }

  &__icon {
    position: absolute;
    top: $inuit-base-spacing-unit;
    right: quadruple($inuit-base-spacing-unit) - halve($inuit-base-spacing-unit);
    width: double($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);
    vertical-align: middle;
  }
}
