.heading {
  margin-bottom: halve($inuit-base-spacing-unit);

  &--large span {
    font-size: 125%;
    line-height: 60px;
  }

  &--small span {
    font-size: 75%;
    line-height: 34px;
  }

  &--strong {
    font-weight: 600;
  }
}
