// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.grommet a:not(.anchor),
.anchor {
  color: $link-color;
  text-decoration: $brand-link-text-decoration;
  cursor: pointer;

  &.plain
  &.button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:visited {
    color: $link-color;
  }

  &.active {
    color: $text-color;
  }

  // While it's tempting to use :not(.anchor--disabled) here, that makes it
  // messier for things like Menu to adjust styling in its context.
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  @include dark-background-context-icon();
}

.anchor__icon {
  display: inline-block;
  padding: halve($inuit-base-spacing-unit);

  &:hover {
    .control-icon {
      @include icon-color($active-icon-color);
    }
  }
}

&.anchor--primary,
&.anchor--icon-label {
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: 600;
  text-decoration: none;

  .control-icon {
    vertical-align: middle;
    margin-right: halve($inuit-base-spacing-unit);
    @include icon-color($control-brand-color);

    html.rtl & {
      margin-right: 0;
      margin-left: halve($inuit-base-spacing-unit);
    }
  }

  > span {
    vertical-align: middle;
  }

  &:hover:not(.anchor--disabled) {
    .control-icon {
      @include icon-hover-grow($control-brand-color);
    }
  }
}

.anchor--reverse {
  .control-icon {
    margin-right: 0;
    margin-left: halve($inuit-base-spacing-unit);
  }
}

.anchor--primary {
  color: $control-brand-color;

  // Only animate icon when it's a primary anchor
  &.anchor--animate-icon:not(.anchor--disabled) {
    &:hover {
      .control-icon {
        transform: translateX(round($inuit-base-spacing-unit * 0.125));
      }
    }
  }
}

.anchor--disabled {
  opacity: 0.3;
  cursor: default;

  .control-icon {
    cursor: default;
  }

  &:hover {
    color: $link-color;
    text-decoration: none;
  }
}

.anchor--icon {
  display: inline-block;
}

.grommet #{$dark-background-context} a {
  color: $colored-text-color;

  &:hover {
    color: $active-colored-text-color;
  }
}

#{$dark-background-context} .anchor {
  &.anchor--disabled:hover {
    color: $colored-text-color;

    .control-icon {
      @include icon-color($colored-icon-color);
    }
  }
}
