// (C) Copyright 2015 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}timestamp {

  &--center {
    text-align: center;
  }

  &--end {
    text-align: right;
  }

  &__time {
    text-transform: lowercase;
    white-space: nowrap;
  }
}
