// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.tab {
  padding: 0 halve($inuit-base-spacing-unit);

  .tabs--justify-start &:first-of-type,
  .tabs--justify-end &:first-of-type {
    padding-left: 0;
  }

  .tabs--justify-start &:last-of-type,
  .tabs--justify-end &:last-of-type {
    padding-right: 0;
  }

  .tabs--responsive &:first-of-type,
  .tabs--responsive &:last-of-type {
    @include media-query(palm) {
      padding-left: halve($inuit-base-spacing-unit);
      padding-right: halve($inuit-base-spacing-unit);
    }
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }

    &:focus:not(tab--active .tab__link) {
      .tab__label {
        border-color: $border-color;
      }
    }
  }

  &__label {
    display: inline-block;
    cursor: pointer;
    padding-bottom: quarter($inuit-base-spacing-unit) + $active-border-width;
    color: $secondary-text-color;
    border-bottom: $active-border-width solid transparent;
  }

  &--active,
  &--active .tab__link:hover {
    .tab__label {
      color: $hover-text-color;
      border-color: $hover-text-color;
    }
  }

  &:hover {
    .tab__label {
      border-color: $border-color;
    }
  }
}
