// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.search {
  display: inline-block;

  &:focus {
    outline: none;
    margin: -1px;
    border: 1px solid $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--controlled {
    cursor: pointer;
  }

  &__input {
    margin-right: 0px;

    .header & {
      font-size: inherit;
    }
  }

  &__drop {
    @include inuit-font-size($inuit-heading-size-4, inherit);

    @include media-query(palm) {
      max-width: 100%;
      width: 100vw;
    }

    &--inline {
      margin-left: -1px;

      .search__drop-contents {
        display: block;
      }
    }

    &--controlled {
      .search__drop-contents {
        display: inline-block;
      }
    }

    input {
      margin-right: 0px;
      box-sizing: border-box;
      width: 100%;

      @include media-query(palm) {
        width: calc(100vw - #{round($inuit-base-spacing-unit * 3)});
      }
    }

    &-control {
      vertical-align: top;
      height: double($inuit-base-spacing-unit);
    }

    .search__suggestion {
      padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      cursor: pointer;

      &:hover,
      &--active {
        background-color: $hover-background-color;
      }
    }

    &--large {
      line-height: quadruple($inuit-base-spacing-unit);
    }
  }

  &--inline {
    position: relative;

    .search__input {
      width: 100%;
      box-sizing:  border-box;
      padding-right: (double($inuit-base-spacing-unit) - $input-border-width);

      &:focus {
        padding-right: (double($inuit-base-spacing-unit) - ($input-border-width + 1));
      }

      html.rtl & {
        padding-right: ($inuit-base-spacing-unit - $input-border-width);
        padding-left: (double($inuit-base-spacing-unit) - $input-border-width);

        &:focus {
          padding-right: ($inuit-base-spacing-unit - ($input-border-width + 1));
          padding-left: (double($inuit-base-spacing-unit) - ($input-border-width + 1));
        }
      }

      .header &:not(:focus) {
        border-color: transparent;
      }
    }

    .control-icon-search {
      position: absolute;
      right: halve($inuit-base-spacing-unit);
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      html.rtl & {
        right: auto;
        left: halve($inuit-base-spacing-unit);
      }
    }
  }

  &--small {
    line-height: $inuit-base-spacing-unit;

    .search__input {
      @include inuit-font-size($label-font-size, $label-font-size);
      padding: (halve($inuit-base-spacing-unit - $label-font-size) - $input-border-width)
        ($label-font-size - $input-border-width);
      padding-right: ($inuit-base-spacing-unit - $input-border-width);

      &:focus {
        padding: (halve($inuit-base-spacing-unit - $label-font-size) - $input-focus-border-width)
          ($label-font-size - $input-focus-border-width);
        padding-right: ($inuit-base-spacing-unit - $input-focus-border-width);
      }
    }

    .control-icon-search {
      height: halve($inuit-base-spacing-unit);
      width: halve($inuit-base-spacing-unit);
    }
  }

  &--large {
    .search__input {
      @include inuit-font-size($large-input-font-size, normal);
      padding: halve($inuit-base-spacing-unit) ($inuit-base-spacing-unit);
      padding-right: ($inuit-base-spacing-unit * 3);

      &:focus {
        padding: (halve($inuit-base-spacing-unit) - $input-border-width)
          ($inuit-base-spacing-unit * 3 - $input-border-width);
        padding-left: ($inuit-base-spacing-unit - $input-border-width);

        @include media-query(palm) {
          padding: (halve($inuit-base-spacing-unit) - ($input-border-width + 1))
            ($inuit-base-spacing-unit - ($input-border-width + 1));
          padding-right: (double($inuit-base-spacing-unit) - ($input-border-width + 1));
        }
      }

      @include media-query(palm) {
        font-size: inherit;
        padding: (halve($inuit-base-spacing-unit) - ($input-border-width))
          ($inuit-base-spacing-unit - $input-border-width);
        padding-right: (double($inuit-base-spacing-unit) - $input-border-width);
        line-height: 1.5;
      }
    }

    .control-icon-search {
      right: $inuit-base-spacing-unit;
      width: double($inuit-base-spacing-unit);
      height: double($inuit-base-spacing-unit);

      @include media-query(palm) {
        right: halve($inuit-base-spacing-unit);
        width: $inuit-base-spacing-unit;
        height: $inuit-base-spacing-unit;
      }

      @include media-query(lap-and-up) {
        // prevent icon from growing on resize from 719px
        transition: none;
      }
    }
  }

  &--icon-align-start {
    &.search--inline {
      .search__input {
        padding-left: (double($inuit-base-spacing-unit) - $input-border-width);
        padding-right: ($inuit-base-spacing-unit - $input-border-width);

        &:focus {
          padding-left: (double($inuit-base-spacing-unit) - ($input-border-width + 1));
          padding-right: ($inuit-base-spacing-unit - $input-border-width);
        }
      }

      .control-icon-search {
        left: halve($inuit-base-spacing-unit);
      }
    }

    &.search--large {
      .search__input {
        padding-left: ($inuit-base-spacing-unit * 3);
        padding-right: $inuit-base-spacing-unit;

        &:focus {
          padding-left: ($inuit-base-spacing-unit * 3 - $input-border-width);
          padding-right: ($inuit-base-spacing-unit - $input-border-width);

          @include media-query(palm) {
            padding: (halve($inuit-base-spacing-unit) - ($input-border-width + 1))
              ($inuit-base-spacing-unit - ($input-border-width + 1));
            padding-left: (double($inuit-base-spacing-unit) - ($input-border-width + 1));
          }
        }

        @include media-query(palm) {
          padding: (halve($inuit-base-spacing-unit) - $input-border-width)
          ($inuit-base-spacing-unit - $input-border-width);
          padding-left: (double($inuit-base-spacing-unit) - $input-border-width);
        }
      }
    }
  }
}
