// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

a,
.anchor {
  color: $link-color;
  text-decoration: $brand-link-text-decoration;
  cursor: pointer;

  &:visited {
    color: $link-color;
  }

  &.active {
    color: $text-color;
  }

  &:hover:not(.anchor--disabled) {
    text-decoration: underline;
    color: $link-hover-color;
  }

  &__icon {
    display: inline-block;
    padding: halve($inuit-base-spacing-unit);
  }

  [class*="background-color-index-"]:not([class*="background-color-index-light"]) &,
  [class*="background-color-index-"]:not([class*="background-color-index-light"]) .menu &:not(.button) {
    color: $colored-text-color;

    .control-icon {
      fill: $colored-icon-color;
      stroke: $colored-icon-color;
    }

    &:hover:not(.anchor--disabled) {
      color: $active-colored-text-color;

     .control-icon {
        fill: $active-colored-icon-color;
        stroke: $active-colored-icon-color;
      }
    }
  }

  &.anchor {
    &--primary {
      @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
      font-weight: 600;
      color: $control-brand-color;
      text-decoration: none;

      .control-icon {
        stroke: $control-brand-color;
        margin-right: halve($inuit-base-spacing-unit);

        html.rtl & {
          margin-right: 0;
          margin-left: halve($inuit-base-spacing-unit);
        }
      }

      > span {
        vertical-align: middle;
      }

      &:hover:not(.anchor--disabled) {
        > .control-icon {
          transform: translateX(round($inuit-base-spacing-unit * 0.125));
          stroke: $control-brand-color;

          path,
          polyline {
            stroke-width: 3px;
          }
        }
      }

      [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
        color: $colored-text-color;

        .control-icon {
          fill: $colored-text-color;
          stroke: $colored-text-color;
        }

        &:hover:not(.anchor--disabled) {
          color: $active-colored-text-color;

          .control-icon {
            fill: $active-colored-text-color;
            stroke: $active-colored-text-color;
          }
        }
      }
    }
  }

  &--disabled {
    opacity: 0.3;
    cursor: default;

    .control-icon {
      cursor: default;
    }
  }

  &--icon {
    display: inline-block;
  }

  &:focus {
    outline: $focus-border-color solid 1px;
  }
}
