// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {
  width: 100%;

  &.box {
    > *:not(:last-child) {
      margin-right: halve($inuit-base-spacing-unit);
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

h1 {
  @include inuit-font-size(48px);
}

h2 {
  @include inuit-font-size(36px);
}

h3 {
  @include inuit-font-size(24px);
}

h4 {
  @include inuit-font-size(18px);
}

h5 {
  @include inuit-font-size(18px);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 100;
  max-width: 100%;

  &.header--strong,
  > strong {
    font-weight: 600;
  }
}

header.header {
  @include inuit-font-size($header-font-size, inherit);
  height: $header-height;

  *:not(.header__container--float) > &--float {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  &--primary {
    .header__wrapper {
      border-bottom: none;
    }
  }

  &--large {
    height: $large-header-height;
  }

  &--small {
    height: $small-header-height;
  }

  @include transform(translate(0, 0));
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;

  &.header--splash {
    @include transform(translate(0, 40vh));
  }

  &.box--direction-row {
    > * {
      margin-bottom: 0px;
    }
  }
}

.header:not(header) {
  &.box--separator {
    &-top {
      padding-top: quarter($inuit-base-spacing-unit);
    }

    &-bottom {
      padding-bottom: quarter($inuit-base-spacing-unit);
    }
  }
}

// header with container and wrapper elements
div.header {

  &__container {
    flex-shrink: 0;

    &--fixed {
      position: relative;

      .header__wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 3;

        .header {
          @include media-query(lap-and-up) {
            background-color: $header-background-color;
            position: fixed;
          }
        }
      }
    }

    &--float {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }
  }

  &__wrapper {
    height: $header-height;
  }

  &--large {
    .header__wrapper {
      height: $large-header-height;
    }

    .header__content {
      line-height: $large-header-height;
    }
  }

  &--small {
    .header__wrapper {
      height: $small-header-height;
    }

    .header__content {
      line-height: $small-header-height;
    }
  }

  &--fixed {
    .header__wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      background-color: $header-background-color;
      z-index: 3;
    }

    &.header--primary {
      .header__wrapper {
        position: fixed;
        background-color: $header-background-color;
      }

      .header__content {
        position: static;
        background-color: transparent;
      }
    }
  }

  &--flush {
    .header__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
