// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.grommet a:not(.anchor),
.anchor {
  color: $link-color;
  text-decoration: $brand-link-text-decoration;
  cursor: pointer;

  &.plain
  &.button {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &:visited {
    color: $link-color;
  }

  &.active {
    color: $text-color;
  }

  // While it's tempting to use :not(.anchor--disabled) here, that makes it
  // messier for things like Menu to adjust styling in its context.
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.anchor--disabled:hover {
  color: $link-color;
}

.anchor__icon {
  display: inline-block;
  padding: halve($inuit-base-spacing-unit);
}

&.anchor--primary,
&.anchor--icon-label {
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
  font-weight: 600;
  text-decoration: none;

  .control-icon {
    vertical-align: middle;
    margin-right: halve($inuit-base-spacing-unit);

    html.rtl & {
      margin-right: 0;
      margin-left: halve($inuit-base-spacing-unit);
    }
  }

  > span {
    vertical-align: middle;
  }
}

.anchor--reverse {
  .control-icon {
    margin-right: 0;
    margin-left: halve($inuit-base-spacing-unit);
  }
}

.anchor--primary {
  color: $control-brand-color;

  .control-icon {
    stroke: $control-brand-color;
  }

  &:hover {
    .control-icon {
      stroke: $control-brand-color;
      transform: translateX(round($inuit-base-spacing-unit * 0.125));

      path,
      polyline {
        stroke-width: 3px;
      }
    }
  }

  &.anchor--disabled {
    .control-icon {
      transform: none;
    }
  }
}

.anchor--disabled {
  opacity: 0.3;
  cursor: default;

  .control-icon {
    cursor: default;
  }
}

.anchor--icon {
  display: inline-block;
}

.grommet #{$dark-background-context} a {
  color: $colored-text-color;

  &:hover {
    color: $active-colored-text-color;
  }
}

#{$dark-background-context} .anchor {
  color: $colored-text-color;

  .control-icon {
    fill: $colored-icon-color;
    stroke: $colored-icon-color;
  }

  &:hover {
    color: $active-colored-text-color;

   .control-icon {
      fill: $active-colored-icon-color;
      stroke: $active-colored-icon-color;
    }
  }

  &.anchor--disabled:hover {
    color: $colored-text-color;

    .control-icon {
      fill: $colored-icon-color;
      stroke: $colored-icon-color;
    }
  }
}
