// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.date-time {
  position: relative;
  display: inline-block;
  min-width: round($inuit-base-spacing-unit * 12);
}

.date-time__input {
  width: 100%;
  height: 100%;
  display: block;
  padding-right: round($inuit-base-spacing-unit * 2.5);

  &:focus {
    padding-right: round($inuit-base-spacing-unit * 2.5) - 1;
  }

  // Disable IE's clear icon
  &::-ms-clear {
    display: none;
  }
}

.date-time__control {
  position: absolute;
  top: 50%;
  right: halve($inuit-base-spacing-unit);
  transform: translateY(-50%);
}

.date-time-drop {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.date-time-drop__title {
  text-align: center;
}

.date-time-drop__grid {
  width: 100%;
  padding: halve($inuit-base-spacing-unit);

  table {
    width: 100%;
    margin-bottom: 0;
  }

  th,
  td {
    text-align: center;
  }

  th {
    color: $secondary-text-color;
    font-weight: normal;
    padding: quarter($inuit-base-spacing-unit);
  }
}

.date-time-drop__day {
  display: inline-block;
  cursor: pointer;
  width: round($inuit-base-spacing-unit * 1.5);
  height: round($inuit-base-spacing-unit * 1.5);
  padding: quarter($inuit-base-spacing-unit);
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-background-color;
    color: $hover-text-color;
  }
}

.date-time-drop__day--other-month {
  color: $secondary-text-color;
}

.date-time-drop__day--active {
  background-color: $brand-color;
  color: $colored-text-color;
  font-weight: 700;
}

.date-time-drop__time {
  @include inuit-font-size(18px);
  font-weight: 700;
}

// .date-time__item--active {
//   color: $link-hover-color;
// }
//
// .date-time__cursor {
//   position: absolute;
//   z-index: -1;
//   top: round(3.25 * $inuit-base-spacing-unit);
//   left: 0px;
//   right: 0px;
//   height: round(1.5 * $inuit-base-spacing-unit);
//   background-color: $hover-background-color;
// }
