// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}calendar {
  position: relative;
  display: inline-block;
  min-width: round($inuit-base-spacing-unit * 12);

  &__input {
    width: 100%;
    height: 100%;
    display: block;
    padding-right: round($inuit-base-spacing-unit * 2.5);

    &:focus {
      padding-right: round($inuit-base-spacing-unit * 2.5) - 1;
    }

    // Disable IE's clear icon
    &::-ms-clear {
      display: none;
    }
  }

  &__control {
    position: absolute;
    top: 50%;
    right: halve($inuit-base-spacing-unit);
    transform: translateY(-50%);
  }

  &__drop {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  &__title {
    text-align: center;
  }

  &__grid {
    width: 100%;
    padding: halve($inuit-base-spacing-unit);

    table {
      width: 100%;
    }

    th,
    td {
      text-align: center;
      padding: quarter($inuit-base-spacing-unit);
    }

    th {
      color: $secondary-text-color;
      font-weight: normal;
    }
  }

  &__day {
    display: inline-block;
    cursor: pointer;
    width: $inuit-base-spacing-unit;
    height: $inuit-base-spacing-unit;
    transition: background-color 0.3s;

    &:hover {
      background-color: $hover-background-color;
    }
  }

  &__day--other-month {
    color: $secondary-text-color;
  }

  &__day--active {
    background-color: $brand-color;
    color: $colored-text-color;
  }

  &--active {
    .#{$grommet-namespace}calendar__input {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
