// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.split {
  position: relative;
  overflow: visible;

  // Used by Split.js to determine when to break.
  // Align with responsive settings used for $breakpoints.
  &:after {
    position: absolute;
    left: 0px;
    content: ' ';
    display: block;
    width: $break-lap-and-up-min-width;
    height: 0px;
    z-index: -10;
  }

  @include media-query(lap-and-up) {
    display: flex;

    &--fixed {
      > * {
        position: relative;
        height: 100vh;
        overflow: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
    }

    &--flex-right {
      > *:first-child:not(:last-child) {
        flex: 0 0 auto;
      }

      > *:last-child {
        flex: 1;
      }
    }

    &--flex-left {
      > *:last-child:not(:first-child),
      > .object {
        flex: 0 0 auto;
      }

      > *:first-child {
        flex: 1;
      }
    }

    &--flex-both {
      > * {
        flex: 1;
      }
    }

    &--separator {
      > * {
        border-right: 1px solid $strong-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  @include media-query(palm) {

    &--separator {
      > * {
        border-bottom: 1px solid $strong-border-color;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
