.brick {
  padding: $inuit-base-spacing-unit;
  position: relative;
  margin: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
  float: left;
  max-width: calc(100% - #{halve($inuit-base-spacing-unit)});

  // &:hover {
  //   margin: -1px (halve($inuit-base-spacing-unit) - 1) (halve($inuit-base-spacing-unit) - 1) -1px;
  //   max-width: calc(100% - #{halve($inuit-base-spacing-unit) - 2});
  // }

  .brick--label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    span {
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color;
      position: absolute;
      left: $inuit-base-spacing-unit;
      bottom: $inuit-base-spacing-unit;
    }
  }

  &[class*="background-color-index-"] span {
    color: #fff;
  }
}

.brick--1-1 {
  width: calc(25% - #{halve($inuit-base-spacing-unit)});

  &:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  // &:hover {
  //   width: calc(25% - #{halve($inuit-base-spacing-unit) - 2});
  // }

  @include media-query(portable) {
    width: calc(50% - #{halve($inuit-base-spacing-unit)});

    // &:hover {
    //   width: calc(50% - #{halve($inuit-base-spacing-unit) - 2});
    // }
  }
}

.brick--1-2 {
  width: calc(25% - #{halve($inuit-base-spacing-unit)});

  &:after {
    padding-top: calc(200% + #{halve($inuit-base-spacing-unit) * 5});
    display: block;
    content: '';
  }

  // &:hover {
  //   width: calc(25% - #{halve($inuit-base-spacing-unit) - 2});
  //   margin: -2px (halve($inuit-base-spacing-unit) - 1) (halve($inuit-base-spacing-unit) - 2) -1px;
  // }

  @include media-query(portable) {
    width: calc(50% - #{halve($inuit-base-spacing-unit)});

    // &:hover {
    //   width: calc(50% - #{halve($inuit-base-spacing-unit) - 2});
    // }
  }
}

.brick--2-1 {
  width: calc(50% - #{halve($inuit-base-spacing-unit)});

  &:after {
    padding-top: calc(50% - #{quarter($inuit-base-spacing-unit) * 5});
    display: block;
    content: '';
  }

  // &:hover {
  //   width: calc(50% - #{halve($inuit-base-spacing-unit) - 2});
  //   margin: -1px (halve($inuit-base-spacing-unit) - 1) halve($inuit-base-spacing-unit) -1px;
  // }

  @include media-query(portable) {
    width: calc(100% - #{halve($inuit-base-spacing-unit)});

    // &:hover {
    //   width: calc(100% - #{halve($inuit-base-spacing-unit) - 2});
    // }
  }
}

.brick--2-2 {
  width: calc(50% - #{halve($inuit-base-spacing-unit)});

  &:after {
    padding-top: 100%;
    display: block;
    content: '';
  }

  // &:hover {
  //   width: calc(50% - #{halve($inuit-base-spacing-unit) - 2});
  // }

  @include media-query(portable) {
    width: calc(100% - #{halve($inuit-base-spacing-unit)});

    // &:hover {
    //   width: calc(100% - #{halve($inuit-base-spacing-unit) - 2});
    // }
  }
}

.brick--content-wrapper {
  position: absolute;
  top: $inuit-base-spacing-unit;
  bottom: $inuit-base-spacing-unit;
  left: $inuit-base-spacing-unit;
  right: $inuit-base-spacing-unit;
  max-width: calc(100% - #{double($inuit-base-spacing-unit)});
}
