// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}box {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include pad();

  // temporary flex grow capability
  > .flex {
    flex-grow: 1;
  }

  > .no-flex {
    flex: 0 0 auto;
  }

  &__texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }

  &__container {
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    .#{$grommet-namespace}app--centered & > .#{$grommet-namespace}box {
      width: 100%;
      max-width: $center-column-width;
      margin-left: auto;
      margin-right: auto;

      @include media-query(palm) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    &--full {
      max-width: 100%;
      width: 100vw;
    }

    &--full-horizontal {
      max-width: 100%;
      width: 100vw;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--full {
    position: relative;
    max-width: 100%;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    // IE11 specific fix for aligning content vertically centered
    // height gets over written by the > min-height
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      min-height: 100vh;
      height: 50vh;
    }

    &-horizontal {
      max-width: 100%;
      width: 100vw;
    }

    &-vertical {
      min-height: 100vh;

      // IE11 specific fix for aligning content vertically centered
      // height gets over written by the > min-height
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        min-height: 100vh;
        height: 50vh;
      }
    }
  }

  &--direction-row {
    flex-direction: row;

    &.#{$grommet-namespace}box--reverse {
      flex-direction: row-reverse;
    }

    &.#{$grommet-namespace}box--pad-between {
      &-small {
        > *:not(:last-child) {
          margin-right: halve($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: halve($inuit-base-spacing-unit);
          }
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-right: $inuit-base-spacing-unit;

          html.rtl & {
            margin-right: 0;
            margin-left: $inuit-base-spacing-unit;
          }
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-right: double($inuit-base-spacing-unit);

          html.rtl & {
            margin-right: 0;
            margin-left: double($inuit-base-spacing-unit);
          }
        }
      }

      @include media-query(palm) {
        &-small {
          > *:not(:last-child) {
            margin-right: quarter($inuit-base-spacing-unit);

            html.rtl & {
              margin-right: 0;
              margin-left: quarter($inuit-base-spacing-unit);
            }
          }
        }

        &-medium {
          > *:not(:last-child) {
            margin-right: halve($inuit-base-spacing-unit);

            html.rtl & {
              margin-right: 0;
              margin-left: halve($inuit-base-spacing-unit);
            }
          }
        }

        &-large {
          > *:not(:last-child) {
            margin-right: $inuit-base-spacing-unit;

            html.rtl & {
              margin-right: 0;
              margin-left: $inuit-base-spacing-unit;
            }
          }
        }
      }
    }

    @include media-query(palm) {
      &.#{$grommet-namespace}box--responsive {
        flex-direction: column;

        &:not(.#{$grommet-namespace}box--justify-center) {
          align-items: stretch;
        }

        &.#{$grommet-namespace}box--reverse {
          flex-direction: column-reverse;
        }

        &.#{$grommet-namespace}box--pad-between {
          // make sure between padding switches directions
          // on responsive
          &-small {
            > *:not(:last-child) {
              margin-left: 0;
              margin-right: 0;
              margin-bottom: quarter($inuit-base-spacing-unit);
            }
          }

          &-medium {
            > *:not(:last-child) {
              margin-left: 0;
              margin-right: 0;
              margin-bottom: halve($inuit-base-spacing-unit);
            }
          }

          &-large {
            > *:not(:last-child) {
              margin-left: 0;
              margin-right: 0;
              margin-bottom: $inuit-base-spacing-unit;
            }
          }
        }
      }
    }
  }

  &--direction-column {
    flex-direction: column;

    &.#{$grommet-namespace}box--reverse {
      flex-direction: column-reverse;
    }

    > .#{$grommet-namespace}header.#{$grommet-namespace}box--direction-row,
    > .#{$grommet-namespace}footer.#{$grommet-namespace}box--direction-row,
    > .#{$grommet-namespace}header__container--fixed {
      flex: 0 0 auto;
    }

    &.#{$grommet-namespace}box--pad-between {
      &-small {
        > *:not(:last-child) {
          margin-bottom: halve($inuit-base-spacing-unit);
        }
      }

      &-medium {
        > *:not(:last-child) {
          margin-bottom: $inuit-base-spacing-unit;
        }
      }

      &-large {
        > *:not(:last-child) {
          margin-bottom: double($inuit-base-spacing-unit);
        }
      }

      @include media-query(palm) {
        &-small {
          > *:not(:last-child) {
            margin-bottom: quarter($inuit-base-spacing-unit);
          }
        }

        &-medium {
          > *:not(:last-child) {
            margin-bottom: halve($inuit-base-spacing-unit);
          }
        }

        &-large {
          > *:not(:last-child) {
            margin-bottom: $inuit-base-spacing-unit;
          }
        }
      }
    }
  }

  &--justify-start {
    justify-content: flex-start;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--align-baseline {
    align-items: baseline;
  }

  &--align-content-start {
    align-content: flex-start;
  }

  &--align-content-end {
    align-content: flex-end;
  }

  &--align-content-center {
    align-content: center;
  }

  &--align-content-between {
    align-content: space-between;
  }

  &--align-content-around {
    align-content: space-around;
  }

  &--separator-top,
  &--separator-horizontal,
  &--separator-all {
    border-top: 1px solid $border-color;
  }

  &--separator-bottom,
  &--separator-horizontal,
  &--separator-all {
    border-bottom: 1px solid $border-color;
  }

  &--separator-left,
  &--separator-vertical,
  &--separator-all {
    border-left: 1px solid $border-color;
  }

  &--separator-right,
  &--separator-vertical,
  &--separator-all {
    border-right: 1px solid $border-color;
  }

  &--text-align {
    &-left {
      text-align: left;
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--size {
    max-width: 100%;

    .#{grommet-namespace}paragraph {
      width: 100%;
      max-width: 100%;
      flex: 0 0 auto;
    }

    &-xsmall {
      width: $size-xsmall;
    }

    &-small {
      width: $size-small;
    }

    &-medium {
      width: $size-medium;
    }

    &-large {
      width: $size-large;
    }
  }
}

#{$dark-background-context} .#{$grommet-namespace}box[class*="#{$grommet-namespace}box--separator"] {
  border-color: $colored-border-color;
}
