// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.check-box {
  margin-right: halve($inuit-base-spacing-unit);
  white-space: nowrap;

  &:not(.check-box--disabled) {
    cursor: pointer;
  }

  &:hover:not(.check-box--disabled) {
    .check-box {
      &__control {
        border-color: $active-icon-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          border-color: $active-colored-icon-color;
        }
      }

      &__input:checked + .check-box__control {
        border-color: $active-icon-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          border-color: $active-colored-icon-color;
        }
      }

      &__label {
        color: $hover-text-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          color: $active-colored-text-color;
        }
      }
    }
  }

  &__input {
    opacity: 0;
    position: absolute;

    &:checked + .check-box__control {
      border-color: $brand-color;

      [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
        border-color: $active-colored-icon-color;
      }

      .check-box__control-check {
        display: block;
      }

      + .check-box__label {
        color: $text-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          color: $active-colored-text-color;
        }
      }
    }

    &:focus + .check-box__control {
      border-color: $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
    }
  }

  &__control {
    position: relative;
    top: -1px;
  	display: inline-block;
    width: $control-size;
    height: $control-size;
    margin-right: halve($inuit-base-spacing-unit);
    vertical-align: middle;
    background-color: inherit;
    border: $control-border-width solid $icon-color;
    border-radius: $border-radius;

    [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
      border-color: $colored-icon-color;
    }

    &-check {
      position: absolute;
      top: -2px;
      left: -2px;
      display: none;
      width: $control-size;
      height: $control-size;
      stroke-width: round($control-border-width * 2);
      stroke: $brand-color;

      [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
        stroke: $active-colored-icon-color;
      }
    }
  }

  &__label {
    color: $secondary-text-color;

    [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
      color: $colored-text-color;
    }
  }

  &--disabled {
    .check-box__control {
      opacity: 0.5;
    }
  }

  &--toggle {

    &:hover:not(.check-box--disabled) {
      .check-box__control:after {
        content: "";
        border-color: $active-icon-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          background-color: $active-colored-icon-color;
          border-color: $active-colored-icon-color;
        }
      }

      .check-box__input:checked + .check-box__control:after {
        content: "";
        border-color: $active-icon-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          background-color: $active-colored-icon-color;
          border-color: $active-colored-icon-color;
        }
      }
    }

    .check-box__control {
      width: double($control-size);
      height: $control-size;
      border-radius: $control-size;
      background-color: $meter-background-color;
      border: none;
      transition: background-color 0.3s;

      [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
        background-color: $colored-meter-background-color;
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: - $control-border-width;
        left: 0px;
        width: $control-size + double($control-border-width);
        height: $control-size + double($control-border-width);
        background-color: #fff;
        border: $control-border-width solid $icon-color;
        border-radius: $control-size;
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: margin-left 0.3s;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          background-color: transparent;
          border-color: $colored-icon-color;
        }
      }
    }

    .check-box__input {

      &:checked + .check-box__control {
        background-color: $brand-color;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          background-color: $colored-meter-background-color;

          .check-box__control-check {
            stroke: transparent;
          }
        }
      }

      &:checked + .check-box__control:after {
        content: "";
        background-color: #fff;
        border-color: $brand-color;
        margin-left: $control-size;

        [class*="background-color-index-"]:not([class*="background-color-index-light"]) & {
          border-color: $colored-icon-color;
        }
      }
    }
  }
}
