.heading {
  margin-bottom: halve($inuit-base-spacing-unit);
  line-height: 1.2;

  &--large span {
    font-size: 125%;
  }

  &--small span {
    font-size: 75%;
  }

  &--strong {
    font-weight: 600;
  }

  &--align {
    &-start {
      text-align: left;

      html.rtl & {
        text-align: right;
      }
    }

    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;

      html.rtl & {
        text-align: left;
      }
    }
  }
}
