// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.menu {
  position: relative;
  display: inline-block;
  //@include inuit-font-size($inuit-heading-size-4, inherit);

  a:not(.button) {
    color: lighten($text-color, 30%);

    &:hover {
      color: $text-color;
    }

    &.active {
      color: $brand-color-darker;
    }
  }

  &:focus {
    outline: none;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      border: 1px solid $focus-border-color;
      box-shadow: 0 0 1px 1px $focus-border-color;
      pointer-events: none;
    }
  }

  &__control {
    cursor: pointer;

    &-drop-icon {
      width: $inuit-base-spacing-unit;
      height: $inuit-base-spacing-unit;
      //margin-top: - quarter($inuit-base-spacing-unit);
      margin-left: halve($inuit-base-spacing-unit);
      stroke: $icon-color;
    }

    &--labelled {
      @include media-query(palm) {
        .menu__control-label,
        .menu__control-drop-icon {
          display: none;
        }
      }

      @include media-query(lap-and-up) {
        .menu__control-icon {
          display: none;
        }
      }
    }

    &--fixed-label {
      .menu__control-icon {
        display: none;
      }
    }
  }

  &__layer {
    position: fixed;
    z-index: 5;
    @include inuit-font-size($inuit-heading-size-3, inherit);
    background-color: $background-color;
    border: $layer-border;
    border-radius: $border-radius;
    box-shadow: $layer-box-shadow;
    overflow: auto;

    .menu__control {
      &-label {
        padding-left: $inuit-base-spacing-unit;
      }

      &-drop-icon {
        display: none;
      }
    }

    a {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      white-space: nowrap;
      display: block;

      &:hover {
        text-decoration: none;
        background-color: $hover-background-color;
      }
    }

    //&--down {
    //  .menu__control:not(.menu__control--fixed-label) {
    //    margin-top: -3px;
    //  }
    //
    //  &.menu__layer--small {
    //    .menu__control:not(.menu__control--fixed-label) {
    //      margin-top: -1px;
    //    }
    //  }
    //}

    &--align-right {
      .menu__control {
        text-align: right;
      }
    }
  }

  &--controlled {
    display: inline-block;
    cursor: pointer;
  }

  &--labelled {
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;
  }

  &--inline {
    &.menu {
      &--left {
        > * {
          margin-left: $inuit-base-spacing-unit;
          margin-right: 0px;

          &:first-child {
            margin-left: 0px;
          }
        }
      }

      &--right {
        > * {
          margin-left: 0px;
          margin-right: $inuit-base-spacing-unit;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      &--down {
        ///@include media-query(lap-and-up) {
          ///-webkit-flex: 0 0 auto;
          ///flex: 0 0 auto;
          ///width: $nav-width;
        ///}

        @include media-query(palm) {
          ///width: auto;

          &:empty {
            width: 0;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    [class*="background-color-index-"] & {

      a,
      a:hover,
      a.active {
        color: inherit;
      }

      &.menu--left,
      &.menu--right {
        a {
          text-decoration: none;

          &:hover:not(.active):not(.button) {
            text-decoration: underline;
          }
        }
      }

      &.menu--down {
        a {
          padding: halve($inuit-base-spacing-unit);
          border: 1px solid transparent;

          &:hover {
            text-decoration: none;

            &:not(.active) {
              border-color: $colored-active-background-color;
            }
          }

          &.active {
            background-color: $colored-active-background-color;
          }
        }
      }
    }
  }

  &--small {
    @include inuit-font-size($inuit-base-font-size);

    .menu__control {

      &-drop-icon {
        margin-left: halve(halve($inuit-base-spacing-unit));
      }

      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit);
          height: halve($inuit-base-spacing-unit) + quarter($inuit-base-spacing-unit);
        }
      }
    }
  }

  &--primary {
    display: block;
    max-height: 100vh;
    overflow: auto;

    > .header:first-child {
      margin-left: - $inuit-base-spacing-unit;
      margin-right: - $inuit-base-spacing-unit;
      margin-bottom: $inuit-base-spacing-unit;
    }

    > a:not(.button) {
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;

      &:hover {
        text-decoration: none;

        &:not(.active) {
          background-color: $hover-background-color;
        }
      }

      &.active {
        color: $text-color;
        background-color: $selected-background-color;
      }
    }
  }
}

.menu--inline.menu,
.menu__layer {

  &--left {
    text-align: right;

    > * {
      display: inline-block;
    }
  }

  &--right {
    text-align: left;

    > * {
      display: inline-block;
    }
  }

  &--small {
    font-size: 1em;

    .menu__control {

      &-label {
        padding: halve($inuit-base-spacing-unit);
      }

      &-icon {
        svg {
          width: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
          height: halve($inuit-base-spacing-unit) + ($inuit-base-spacing-unit/4);
        }
      }
    }

    a {
      padding: halve(halve($inuit-base-spacing-unit)) halve($inuit-base-spacing-unit);
    }
  }

  &--down,
  &--up {
    > * {
      display: block;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
      padding: halve($inuit-base-spacing-unit) 0px;
      margin-top: $inuit-base-spacing-unit;
      border-top: 1px solid $border-color;
      min-width: $nav-width;

      &:first-child {
        margin-top: 0px;
      }
    }
  }
}
