// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

@mixin small-table {

  thead {
    display: none;
  }

  td {
    display: block;

    &:before {
      font-weight: 100;
      @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
      content: attr(data-th);
      display: block;

      padding-right: halve($inuit-base-spacing-unit);
    }
  }

  tr {
    border-bottom: 1px solid $border-color;
  }

  td,
  th {
    padding-left: $inuit-base-spacing-unit;
  }
}

.#{$grommet-namespace}table {

  table {
    width: 100%;
  }

  td,
  th {
    // -1 to accommodate border
    padding: (halve($inuit-base-spacing-unit) - 1) halve($inuit-base-spacing-unit);
    text-align: left;

    &:first-child {
      padding-left: $inuit-base-spacing-unit;
    }

    &:last-child {
      padding-right: $inuit-base-spacing-unit;
    }
  }

  th {
    font-weight: 100;
    @include inuit-font-size(20px);
    border-bottom: 1px solid $border-color;
  }

  &__mirror {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

    > thead {
      position: fixed;
      background-color: $header-background-color;
    }
  }

  &__more {
    margin-top: $inuit-base-spacing-unit;
    text-align: center;
  }

  &--scrollable {
    position: relative;

    .#{$grommet-namespace}table__table {
      thead {
        visibility: hidden;
      }

      th {
        border-bottom: none;
      }
    }
  }

  &--selectable {
    tbody {
      tr {
        cursor: pointer;

        td {
          transition: background-color 0.2s;
        }

        &.#{$grommet-namespace}table-row--selected {
          td {
            background-color: $selected-background-color;
            color: $selected-text-color;

            #{$dark-background-context} & {
              background-color: $colored-active-background-color;
              color: $active-colored-text-color;
            }
          }
        }

        &:hover:not(.#{$grommet-namespace}table-row--selected) {
          td {
            background-color: $hover-background-color;
            color: $hover-text-color;

            #{$dark-background-context} & {
              color: $active-colored-text-color;
            }
          }
        }
      }
    }
  }

  &--small {
    @include small-table();
  }
}
