// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$button-height: round($inuit-base-spacing-unit * 1.5);

@mixin basic-button {
  height: $button-height;
  padding-left: $button-height;
  padding-right: $button-height;
  background-color: transparent;
  border: $button-border-width solid $button-border-color;
  border-radius: $border-radius;
  color: $button-text-color;
  @include inuit-font-size(16px, $inuit-base-spacing-unit);
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  //text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;
}

input[type="button"],
input[type="submit"],
button,
a.button {
  @include basic-button();
}

.button {
  @include basic-button();

  &:hover:not(.button--disabled) {
    border-color: darken($button-border-color, 15%);
    color: darken($button-text-color, 15%);
  }

  &:active:not(.button--disabled) {
    border-color: darken($button-border-color, 25%);
    color: darken($button-text-color, 25%);
  }

  &:focus:not(.button--disabled) {
    border-color: $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--primary {
    border-color: $button-primary-background-color;
    background-color: $button-primary-background-color;
    color: $button-primary-text-color;

    &:hover:not(.button--disabled) {
      border-color: darken($button-primary-background-color, 5%);
      background-color: darken($button-primary-background-color, 5%);
      color: $button-primary-text-color;
    }

    &:active:not(.button--disabled) {
      border-color: darken($button-primary-background-color, 10%);
      background-color: darken($button-primary-background-color, 10%);
      color: $button-primary-text-color;
    }
  }

  &--accent {
    border-color: $button-accent-background-color;
    background-color: $button-accent-background-color;
    color: $button-primary-text-color;

    &:hover:not(.button--disabled) {
      border-color: darken($button-accent-background-color, 5%);
      background-color: darken($button-accent-background-color, 5%);
      color: $button-primary-text-color;
    }

    &:active:not(.button--disabled) {
      border-color: darken($button-accent-background-color, 10%);
      background-color: darken($button-accent-background-color, 10%);
      color: $button-primary-text-color;
    }
  }

  &--disabled {
    opacity: 0.2;
    cursor: default;
  }
}
