// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.chart {
  display: block;

  &__grid {
    stroke: $border-color;
  }

  &__graphic {
    width: 100%;
  }

  &__values {

    &-line {
      stroke-width: 3px;
      @include graph-stroke-color();
    }

    &-area {
      @include graph-fill-color-translucent();
    }

    &-bar {
      @include graph-fill-color-translucent();

      &--active {
        @include graph-fill-color();
      }
    }
  }

  &__threshold {
    stroke-width: 1px;
    stroke: $threshold-color;
  }

  &__xaxis {
    &-index {
      fill: $secondary-text-color;

      &-background {
        fill: rgba(0, 0, 0, 0);
        transition: fill 0.3s;
      }

      &--active {
        text {
          fill: $text-color;
        }

        .chart__xaxis-index {
          &-background {
            fill: rgba(128, 128, 128, 0.1);
          }
        }
      }
    }
  }

  &__legend {
    position: relative;
    left: 0px;
    margin: 0px;
    display: inline-block;
    text-align: left;
    list-style-type: none;

    &-label {
      text-align: right;
      @include inuit-font-size($inuit-heading-size-4);
      margin-bottom: halve($inuit-base-spacing-unit);
    }
  }

  &__legend-item,
  &__legend-total {
    white-space: nowrap;

    > * {
      vertical-align: top;
    }

    &-label {
      display: inline-block;
      width: quadruple($inuit-base-spacing-unit);
      color: $secondary-text-color;
    }

    &-value {
      display: inline-block;
      width: double($inuit-base-spacing-unit);
      text-align: right;
      @include inuit-font-size($inuit-heading-size-4);
    }

    &-units {
      margin-left: quarter($inuit-base-spacing-unit);
      @include inuit-font-size($inuit-heading-size-4);
    }

    &--unset {
      color: $secondary-text-color;
    }
  }

  &__legend-item {

    svg.chart__legend-item-swatch {
      width: halve($inuit-base-spacing-unit);
      height: halve($inuit-base-spacing-unit);
      margin-top: quarter($inuit-base-spacing-unit);
      margin-right: halve($inuit-base-spacing-unit);
      overflow: visible;

      @include graph-stroke-color();

      path {
        stroke-width: halve($inuit-base-spacing-unit);
        transition-property: stroke-width;
        transition-duration: $base-animation-duration;
        transition-timing-function: ease-in-out;
      }
    }
  }

  &__legend-total {
    margin-top: quarter($inuit-base-spacing-unit);
    border-top: 1px dotted $border-color;
    padding-top: quarter($inuit-base-spacing-unit);
    margin-left: $inuit-base-spacing-unit;
    color: $secondary-text-color;
  }
}
