// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$meter-width: round($inuit-base-spacing-unit * 8);

@include keyframes(draw-meter) {
  0% {
    stroke-dashoffset: $meter-width;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.meter {
  display: inline-block;

  &__graphic {
    width: round($inuit-base-spacing-unit * 8);
    height: $inuit-base-spacing-unit;
    //background-color: $meter-background-color;
  }

  &__value {
    stroke: $meter-color;
    stroke-width: $inuit-base-spacing-unit;
    stroke-dasharray: $meter-width $meter-width;
    stroke-dashoffset: 0;

    @include media-query(lap-and-up) {
      @include animation('draw-meter 1.5s');
    }
  }

  &__threshold {
    stroke: $threshold-color;
    stroke-width: 1px;
  }

  &__bar {
    stroke-width: $inuit-base-spacing-unit;
    stroke-linecap: butt;
    stroke-dasharray: quadruple($panel-width) quadruple($panel-width);
    stroke-dashoffset: 0;

    @include graph-stroke-color();

    @include media-query(lap-and-up) {
      @include animation('draw-meter 1.5s');
    }
  }

  &__label {
    display: inline-block;
    vertical-align: top;
    margin-left: halve($inuit-base-spacing-unit);

    &-units {
      color: $secondary-text-color;
      margin-left: 0.5em;
    }
  }

  &__legend {
    vertical-align: top;
  }
}
