// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index {
  overflow: auto;
  border-right: 1px solid $strong-border-color;

  &__container {
    position: relative;
    //padding-bottom: $inuit-base-spacing-unit;
  }

  &__items {
    position: relative;
    width: 100%;
  }

  &__more {
    padding-top: $inuit-base-spacing-unit;
  }

  &__error {
    color: map-get($brand-status-colors, error);
  }
}

.index-header {

  .index-header__count {
    margin-left: $inuit-base-spacing-unit;
    color: $secondary-text-color;
    text-align: right;
    white-space: nowrap;

    @include media-query(lap-and-up) {
      //min-width: round($inuit-base-spacing-unit * 6);
    }
  }

  &__out-of {
    margin-left: halve($inuit-base-spacing-unit);
    @include inuit-font-size($inuit-base-font-size);
    display: none;

    @include media-query(lap-and-up) {
      &--active {
        display: inline;
      }
    }
  }
}

.index-filters {
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;

  &__menu {
    margin-left: $inuit-base-spacing-unit;
  }

  &__filter {
    //display: block;
    margin-bottom: $inuit-base-spacing-unit;

    //&-label {
    //  display: block;
    //  color: $secondary-text-color;
    //}

    //&-value {
    //  display: block;
    //}
  }
}

.index-table {
  table {
    margin-bottom: 0px;
  }

  &__header {
    &--small {
      width: double($inuit-base-spacing-unit);
    }

    &--medium {
      width: round($inuit-base-spacing-unit * 8);
    }
  }
}

.index-tiles.tiles--flush {
  margin-top: 0px;

  .tile {

    > .header {
      border-top: 1px solid $border-color;

      svg {
        margin-right: halve($inuit-base-spacing-unit);
      }
    }

    > *:not(.header) {
      display: block;
    }

    > *:not(.index-attribute--medium):not(.header):not(.footer) {
      -webkit-flex: 1;
      flex: 1;
    }
  }
}

.index-attribute {
  &--secondary {
    color: $secondary-text-color;
  }
}
