// (C) Copyright 2014 Hewlett-Packard Development Company, L.P.

.search {
  display: inline-block;

  &:focus {
    outline: none;
    margin: -1px;
    border: 1px solid $focus-border-color;
    box-shadow: 0 0 1px 1px $focus-border-color;
  }

  &--controlled {
    cursor: pointer;
  }

  &__control {
    cursor: pointer;
  }

  &__input {
    margin-right: 0px;

    .header & {
      padding: 0px halve($inuit-base-spacing-unit);
      font-size: inherit;

      &:focus {
        padding: 0px (halve($inuit-base-spacing-unit) - 1px);
      }
    }
  }

  &__layer {
    position: fixed;
    // This element will be positioned by the Overlay mixin.
    z-index: 10;
    @include inuit-font-size($inuit-heading-size-4, inherit);
    background-color: $background-color;
    border: $layer-border;
    border-radius: $border-radius;
    box-shadow: $layer-box-shadow;

    &--inline {
      margin-left: -1px;
    }

    &-header {
      white-space: nowrap;
    }

    &-contents {
      display: inline-block;
    }

    input {
      margin-right: 0px;
      box-sizing: border-box;
    }

    .search__control {
      display: inline-block;
      vertical-align: top;
      //margin-top: -3px;
    }

    .search__suggestion {
      padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      cursor: pointer;

      &:hover,
      &--active {
        background-color: $hover-background-color;
      }
    }
  }

  &--inline {
    .search__input {
      width: 100%;
      box-sizing:  border-box;

      .header & {
        padding: 0px;
        border: none;
      }
    }
  }
}
