// (C) Copyright 2014 Hewlett Packard Enterprise Development LP

.notification {
  @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);

  &__message {
    @include inuit-font-size($control-large-font-size, $inuit-base-spacing-unit);

    + * {
      margin-top: $inuit-base-spacing-unit;
    }
  }

  &__status {
    flex: 0 0 auto;
    margin-right: $inuit-base-spacing-unit;

    html.rtl & {
      margin-right: 0;
      margin-left: $inuit-base-spacing-unit;
    }
  }

  &--small {
    .notification {
      &__message {
        @include inuit-font-size($control-font-size, $inuit-base-spacing-unit);
      }
    }
  }

  &:not(.notification--disabled) {
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 0px 2px $brand-color;
    }
  }

  @each $status, $color in $brand-status-colors {
    &--#{$status} {
      // background-color comes from background-color-index

      .notification__status {
        .status-icon__base {
          fill: $active-colored-text-color;
        }

        .status-icon__detail {
          stroke: $color;
          fill: $color;
        }

        &.status-icon-unknown {
          .status-icon__detail {
            stroke: $active-colored-text-color;
            fill: $active-colored-text-color;
          }
        }
      }

      &:not(.notification--disabled) {
        &:hover {
          box-shadow: 0px 0px 0px 2px $color;
        }
      }

      // @if lightness($color) < $colored-text-color-lightness-threshold {
      //   color: $active-colored-text-color;
      // }
    }
  }
}
