// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}video {
  position: relative;
  height: auto;

  @include media-query(palm) {
    max-width: 100%;
    width: 100vw;

    &__title {
      visibility: hidden;
    }

    &__timeline {
      visibility: hidden;
    }

    &__progress,
    &--has-timeline {
      bottom: 0px;
    }
  }

  @include media-query(lap-and-up) {
    // width: $video-width;

    &--small {
      width: $video-small-width;
    }

    &--large {
      width: $video-large-width;
    }

    &--has-timeline {
      bottom: round($inuit-base-spacing-unit * 3);
    }
  }

  &--full {
    width: 100%;
  }

  video {
    width: 100%;
    display: block;
  }

  &__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: $inuit-base-spacing-unit;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__controls-primary {
    height: round($inuit-base-spacing-unit * 3);
    background-color: rgba(nth($brand-grey-colors, 1), 0.7);
  }

  &__play.#{$grommet-namespace}button--primary {
    flex: 0 0 auto;
    width: quadruple($inuit-base-spacing-unit);
    height: quadruple($inuit-base-spacing-unit);
    border-radius: double($inuit-base-spacing-unit);
    background-color: none;
  }

  &__progress {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: round($inuit-base-spacing-unit * 3);
    height: quarter($inuit-base-spacing-unit);
    background-color: lighten(rgba(nth($brand-grey-colors, 3), 0.7), 20%);
    transition: height 0.3s;

    &:hover {
      height: halve($inuit-base-spacing-unit);

      .#{$grommet-namespace}video__progress-bar-fill:after {
        opacity: 1;
      }
    }

    input[type=range] {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
      cursor: pointer;
      outline: none;
    }
  }

  &__progress-bar-fill {
    width: 100%;
    height: 100%;
    background-color: $brand-color;
    position: absolute;
    bottom: 0;
    left: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -1 * halve($inuit-base-spacing-unit);
      top: -1 * quarter($inuit-base-spacing-unit);
      width: $inuit-base-spacing-unit;
      height: $inuit-base-spacing-unit;
      background-color: $brand-color;
      border-radius: double($inuit-base-spacing-unit);
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  &--video-header {
    .#{$grommet-namespace}video__overlay {
      padding: 0;
    }
  }

  &--playing {
    &:not(.#{$grommet-namespace}video--interacting) {
      .#{$grommet-namespace}video__controls-primary,
      .#{$grommet-namespace}video__overlay {
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

      .#{$grommet-namespace}video__progress {
        bottom: 0px;
        transition: ease-in-out 1s;
      }
    }
  }
}
