// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {

  @include media-query(palm) {
    height: $small-header-height;
  }

  @include media-query(lap-and-up) {
    height: $header-height;
  }

  &__wrapper {
    background-color: $header-background-color;
    ///border-bottom: 1px solid $border-color;
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;

    @include media-query(palm) {
      height: $small-header-height;
    }

    @include media-query(lap-and-up) {
      height: $header-height;
    }
  }

  &__content {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;

    @include media-query(palm) {
      line-height: $small-header-height;
    }

    @include media-query(lap-and-up) {
      line-height: $header-height;
    }

    > * {
      -webkit-flex: 1 0;
      flex: 1 0;

      &:last-child {
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        text-align: right;
      }

      &:first-child {
        -webkit-flex: 1 0;
        flex: 1 0;
        text-align: left;
      }
    }

    > h1,
    > h2,
    > h3,
    > h4,
    .title {
      margin-bottom: 0px;
      line-height: inherit;

      svg {
        height: $header-height - $inuit-base-spacing-unit;
      }
    }

    svg {
      vertical-align: middle;
    }

    a {
      color: inherit;
    }
  }

  @include media-query(lap-and-up) {
    &--large {
      height: $large-header-height;

      .header__wrapper {
        height: $large-header-height;
      }

      .header__content {
        line-height: $large-header-height;
      }
    }

    &--small {
      height: $small-header-height;

      .header__wrapper {
        height: $small-header-height;
      }

      .header__content {
        line-height: $small-header-height;

        > h1,
        > h2,
        > h3,
        > h4,
        .title {
          svg {
            height: $small-header-height - $inuit-base-spacing-unit;
          }
        }
      }
    }
  }

  &--primary {
    padding: 0px;

    @include media-query(lap-and-up) {
      height: $large-header-height;
      line-height: $large-header-height;
    }

    .header__wrapper {
      //padding: 0px $inuit-base-spacing-unit;
      border-bottom: none;

      @include media-query(lap-and-up) {
        height: $large-header-height;
        line-height: $large-header-height;
      }
    }

    .header__content {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      white-space: nowrap;

      @include media-query(lap-and-up) {
        line-height: $large-header-height;
      }

      > * {
        -webkit-flex: auto;
        flex: auto;

        &:last-child {
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
        }
      }
    }

    @include media-query(lap-and-up) {
      .header__wrapper {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 3;
      }
    }
  }

  .tile > & {
    height: double($inuit-base-spacing-unit);

    .header__wrapper {
      height: double($inuit-base-spacing-unit);
      border-bottom: none;
      border-top: 1px solid $border-color;
    }

    .header__content {
      line-height: double($inuit-base-spacing-unit);
    }
  }
}
