// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.index {
  min-width: $sidebar-width;
  max-width: 100%;
  overflow: auto;
  border-right: 1px solid $strong-border-color;

  &__container {
    position: relative;
    //padding-bottom: $inuit-base-spacing-unit;
  }

  &__items {
    position: relative;
    width: 100%;
  }

  &__more {
    padding-top: $inuit-base-spacing-unit;
  }

  &__error {
    padding: quarter($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    color: map-get($brand-status-colors, error);
    border-bottom: 1px solid $border-color;
  }
}

.index-header {
  position: relative;

  &__count {
    color: $secondary-text-color;
    @include inuit-font-size($label-font-size, inherit);

    @include media-query(palm) {
      display: none;
      //margin-left: halve($inuit-base-spacing-unit);
    }

    @include media-query(lap-and-up) {
      position: absolute;
      right: $inuit-base-spacing-unit;
      bottom: 0px; //- $inuit-base-spacing-unit - 1; //- round($inuit-base-spacing-unit * 3/4);
      padding-left: quarter($inuit-base-spacing-unit);
      padding-right: quarter($inuit-base-spacing-unit);
      @include inuit-font-size($label-font-size);
      background-color: $background-color;
      text-align: right;
      white-space: nowrap;
    }
  }

  &__out-of {
    display: none;

    @include media-query(lap-and-up) {
      &--active {
        display: inline;
        margin-left: quarter($inuit-base-spacing-unit);
      }
    }
  }
}

.index-filters {
  padding-left: $inuit-base-spacing-unit;
  padding-right: $inuit-base-spacing-unit;
  border: 0px;

  &__menu {
    margin-left: $inuit-base-spacing-unit;
  }

  &__filter {
    margin-bottom: $inuit-base-spacing-unit;

    &-value {
      display: block;
      margin-bottom: quarter($inuit-base-spacing-unit);
    }

    &-legend {
      @include inuit-font-size(18px);
      font-weight: 100;
    }
  }
}

.index-table {
  table {
    margin-bottom: 0px;
  }

  &__header {
    &--small {
      width: double($inuit-base-spacing-unit);
    }

    &--medium {
      width: round($inuit-base-spacing-unit * 8);
    }
  }
}

.index-tiles.tiles--flush {
  margin-top: 0px;

  .tile {

    > .header {
      border-top: 1px solid $border-color;

      svg {
        margin-right: halve($inuit-base-spacing-unit);
      }
    }

    > *:not(.header) {
      display: block;
    }
  }
}

.index-attribute {
  &--secondary {
    color: $secondary-text-color;
  }
}
