// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.tabs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid $border-color;

  &__content {
    padding: $inuit-base-spacing-unit 0;
  }

  &--justify {
    &-center {
      justify-content: center;
    }

    &-start {
      justify-content: flex-start;
    }

    &-end {
      justify-content: flex-end;
    }

    &-start,
    &-end {
      &.tabs--responsive {
        @include media-query(palm) {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }

  + div:focus {
    outline: none;
  }
}
