// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

header.header {
  @include inuit-font-size($header-font-size, inherit);

  @include media-query(palm) {
    height: $small-header-height;
  }

  @include media-query(lap-and-up) {
    height: $header-height;
  }
}

.header {
  width: 100%;

  &__container {

    &--fixed {
      position: relative;

      .header__wrapper {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 3;

        .header {
          @include media-query(lap-and-up) {
            background-color: $header-background-color;
            position: fixed;
          }
        }
      }
    }

    &--float {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }
  }

  &__wrapper {
    @include media-query(palm) {
      height: $small-header-height;
    }

    @include media-query(lap-and-up) {
      height: $header-height;
    }
  }

  &.box--direction-row {
    > h1,
    > h2,
    > h3,
    > h4 {
      margin-bottom: 0px;
    }
  }

  @include media-query(lap-and-up) {
    &--large {
      height: $large-header-height;

      .header__wrapper {
        height: $large-header-height;
      }

      .header__content {
        line-height: $large-header-height;
      }
    }

    &--small {
      height: $small-header-height;

      .header__wrapper {
        height: $small-header-height;
      }

      .header__content {
        line-height: $small-header-height;

        > h1,
        > h2,
        > h3,
        > h4,
        .title {
          svg {
            height: $small-header-height - $inuit-base-spacing-unit;
          }
        }
      }
    }
  }

  &--fixed {
    .header__wrapper {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      background-color: $header-background-color;
      z-index: 3;
    }

    &.header--primary {
      .header__wrapper {
        position: fixed;
        background-color: $header-background-color;
      }

      .header__content {
        position: static;
        background-color: transparent;
      }
    }
  }

  &--flush {
    .header__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  *:not(.header__container--float) > &--float {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding-left: $inuit-base-spacing-unit;
    padding-right: $inuit-base-spacing-unit;
  }

  &--primary {
    .header__wrapper {
      border-bottom: none;
    }
  }

  &--separator {
    &-top {
      border-top: 1px solid $border-color;
    }

    &-bottom {
      border-bottom: 1px solid $border-color;
    }
  }

  @include transform(translate(0, 0));
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;

  &.header--splash {
    @include transform(translate(0, 40vh));
  }
}
