// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}split {
  position: relative;
  overflow: visible;

  &--hidden {
    display: none;
  }

  &--full {
    > * {
      width: 100%;
    }
  }

  @include media-query(lap-and-up) {
    display: flex;

    &--fixed {
      > * {
        position: relative;
        height: 100vh;
        overflow: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
    }

    &--separator {
      > * {
        border-right: 1px solid $strong-border-color;

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  @include media-query(palm) {

    &--separator {
      > * {
        border-bottom: 1px solid $strong-border-color;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
