// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

.#{$grommet-namespace}distribution {
  position: relative;
}

.#{$grommet-namespace}distribution__graphic {
  width: 100%;
  height: $graphic-size;
  max-height: calc(100vh - #{double($header-height)});
}

.#{$grommet-namespace}distribution__background {
  fill: $secondary-background-color;
}

.#{$grommet-namespace}distribution__item--clickable {
  cursor: pointer;
}

.#{$grommet-namespace}distribution__item-box {
  @include graph-fill-color();
}

.#{$grommet-namespace}distribution__item-icons {
  @include graph-stroke-color();
}

.#{$grommet-namespace}distribution__label {
  position: absolute;
  // padding: quarter($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
  font-family: $brand-large-number-font-family;
  overflow: hidden;
  text-align: left;
  pointer-events: none;
  @include filled-text-color();
}

.#{$grommet-namespace}distribution__label-value {
  display: block;
  @include inuit-font-size($large-number-font-size);
  font-weight: bold;
}

.#{$grommet-namespace}distribution__label-units {
  @include inuit-font-size($inuit-heading-size-3, inherit);
  margin-left: quarter($inuit-base-spacing-unit);
  font-weight: normal;
}

.#{$grommet-namespace}distribution__label-label {
  display: block;
}

.#{$grommet-namespace}distribution__label--active {
  color: $text-color;
}

.#{$grommet-namespace}distribution__label--thin {
  .#{$grommet-namespace}distribution__label-value,
  .#{$grommet-namespace}distribution__label-label {
    display: inline-block;
  }
}

.#{$grommet-namespace}distribution__label--small {
  // padding: 0 halve($inuit-base-spacing-unit)
  //   halve($inuit-base-spacing-unit) quarter($inuit-base-spacing-unit);

  .#{$grommet-namespace}distribution__label-value,
  .#{$grommet-namespace}distribution__label-units {
    @include inuit-font-size($small-large-number-font-size, 1);
    margin-right: 4px;
  }
}

.#{$grommet-namespace}distribution__label--icons {
  padding: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
  background-color: $active-background-color;
  color: $text-color;

  .label-value {
    line-height: 1;
  }

  .label-units {
    color: $secondary-text-color;
  }

  .label-label {
    display: block;
  }
}

.#{$grommet-namespace}distribution__loading-indicator {
  stroke-width: $inuit-base-spacing-unit;
  @include graph-stroke-color();
}

.#{$grommet-namespace}distribution--icons {
  .#{$grommet-namespace}distribution__label {
    padding: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
  }

  .#{$grommet-namespace}distribution__label-value {
    line-height: 1;
  }
}

.#{$grommet-namespace}distribution--small {
  .#{$grommet-namespace}distribution__graphic {
    height: $graphic-small-size;
  }
}

.#{$grommet-namespace}distribution--large {
  .#{$grommet-namespace}distribution__graphic {
    height: $graphic-large-size;
  }
}

.#{$grommet-namespace}distribution--full {
  height: 100%;

  .#{$grommet-namespace}distribution__graphic {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
}
