// (C) Copyright 2014-2015 Hewlett Packard Enterprise Development LP

.label {
  @include media-query(palm) {
    &__text {
      display: none;
    }
  }

  @include media-query(lap-and-up) {
    &__icon {
      display: none;
    }
  }

  a.active > & {
    .label__icon.control-icon {
      svg {
        fill: $active-icon-color;
        stroke: $active-icon-color;
      }
    }
  }
}
