$card-hover-color: #EBEBEB;
$social-twitter-color: #1DA1F2;
$social-facebook-color: #3B5998;
$social-linkedin-color: #0077B5;

@mixin social-icon-color($social-color) {
  fill: $social-color;
  stroke: $social-color;
}

.content-card {
  @include media-query(palm) {
    padding: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__social-icon {
    .#{$grommet-namespace}control-icon-social-twitter {
      @include social-icon-color($social-twitter-color);
    }

    .#{$grommet-namespace}control-icon-social-facebook {
      @include social-icon-color($social-facebook-color);
    }

    .#{$grommet-namespace}control-icon-social-linkedin {
      @include social-icon-color($social-linkedin-color);
    }
  }

  .#{$grommet-namespace}control-icon-watch,
  .#{$grommet-namespace}anchor:hover .#{$grommet-namespace}control-icon-watch {
    stroke: none;
    fill: $control-brand-color;
  }

  &__thumbnail {
    width: 100%;
    height: $inuit-base-spacing-unit * 11;
    flex-shrink: 1;

    .#{$grommet-namespace}anchor & {
      @include media-query(lap-and-up) {
        height: 100%;
      }
    }

    .#{$grommet-namespace}control-icon-watch {
      @include media-query(palm) {
        // don't shrink video WatchIcon when in mobile
        width: round($inuit-base-spacing-unit * 6);
        height: round($inuit-base-spacing-unit * 6);
      }
    }
  }

  &__content {
    // truncate description paragraph after 8 lines
    .#{$grommet-namespace}paragraph {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      max-height: 176px; // 22 * 8 (p line-height * # lines)
      text-overflow: ellipsis;
      position: relative;

      // fallback for -webkit-line-clamp
      &::after {
        content: '...';
        text-align: right;
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        margin-top: 154px; // 22 * 7 (p line-height * (# lines - 1))
        background: linear-gradient(to right, transparent, $background-color 50%);
        width: $inuit-base-spacing-unit;
      }

      @supports(-webkit-line-clamp: 1) {
        &::after {
          display: none;
        }
      }

      @include media-query(palm) {
        -webkit-line-clamp: 4;
        max-height: 110px; // 22 * 5 (p line-height * # lines)

        &::after {
          margin-top: 88px; // 22 * 4 (p line-height * (# lines - 1))
        }
      }
    }
  }

  div:focus,
  a:focus {
    outline: none;
  }

  &--direction-row {
    max-width: $size-large;

    .content-card__thumbnail {
      height: auto;
      width: $inuit-base-spacing-unit * 13; // 312px

      @include media-query(palm) {
        width: 100%;
        height: $inuit-base-spacing-unit * 11;
      }
    }

    .content-card__content {
      min-width: $inuit-base-spacing-unit * 11;

      @include media-query(palm) {
        flex: 0 1 auto;
      }
    }
  }

  &--direction-column {
    // allow column ContentCards not wrapped in Tiles to have
    // large Tile dimensions
    width: $tile-large-size;

    @include media-query(palm) {
      padding-left: 0px;
      padding-right: 0px;
      flex: 0 1 auto;
      width: auto;
    }
  }

  &--selectable {
    &:hover:not(.#{$grommet-namespace}tile--selected) {
      // hide Tile hover border style (gets set by onClick prop)
      background-color: transparent;
    }

    &:hover > div {
      background-color: $card-hover-color;
      color: $hover-text-color;
      cursor: pointer;

      .content-card__content {
        .#{$grommet-namespace}paragraph::after {
          background: linear-gradient(to right, transparent, $card-hover-color 50%);
        }
      }
    }
  }
}
