.tag {
  @include basic-button();
  border-color: $button-secondary-color;
  margin: 0 halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit) 0;
  position: relative;
  opacity: 0.7;

  @include media-query(palm) {
    max-width: inherit;
  }

  a,
  a:hover,
  .anchor:hover:not(.anchor--disabled) {
    color: $button-text-color;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0px 0px 0px 2px $button-secondary-color;
    opacity: 1;
  }
}
