// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  @include inuit-font-size(40px, $primary-header-height);
  font-weight: normal;

  @include media-query(palm) {
    @include inuit-font-size(32px, $palm-header-height);
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }

    [class*="background-color-index-"] & {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  svg,
  img {
    margin-right: halve($inuit-base-spacing-unit);
    height: double($inuit-base-spacing-unit);

    @include media-query(palm) {
      height: halve($palm-header-height);
    }
  }

  &--menu {
    &:hover {
      cursor: pointer;
    }
  }
}
