// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$border-radius: 4px !default;

$header-height: round($inuit-base-spacing-unit * 3);
$large-header-height: round($inuit-base-spacing-unit * 4);
$small-header-height: round($inuit-base-spacing-unit * 2);
$footer-height: round($inuit-base-spacing-unit * 2);

$center-column-width: round($inuit-base-spacing-unit * 40); // 960px;
$sidebar-width: round($inuit-base-spacing-unit * 16); // 384px
$nav-width: round($inuit-base-spacing-unit * 8); // 192px
$form-width: round($inuit-base-spacing-unit * 20); // 480px
$compact-form-width: round($inuit-base-spacing-unit * 10); // 240px
$readable-text-width: round($inuit-base-spacing-unit * 24); // 576px
$panel-width: round($inuit-base-spacing-unit * 8);

$inuit-namespace: 'i-';
