// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-font-family: 'Source Sans Pro', Arial, sans-serif !default;
$brand-large-number-font-family: 'Source Sans Pro', Arial, sans-serif !default;

$fonts-path: "https://fonts.gstatic.com/s/sourcesanspro/v9" !default;

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'),
    local('SourceSansPro-Light'),
    url("#{$fonts-path}/toadOcfmlt9b38dHJxOBGPS42wKzre0cxmO5m5GyTsY.ttf") format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
    local('SourceSansPro-Regular'),
    url("#{$fonts-path}/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf") format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'),
    local('SourceSansPro-Bold'),
    url("#{$fonts-path}/toadOcfmlt9b38dHJxOBGLlcMrNrsnL9dgADnXgYJjs.ttf") format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'),
    local('SourceSansPro-It'),
    url("#{$fonts-path}/M2Jd71oPJhLKp0zdtTvoMzpKUtbt71woJ25xl7KOGD0.ttf") format('truetype');
}

$label-font-size: 14px !default;
$content-font-size: 16px !default;
$control-font-size: 19px !default;
$control-large-font-size: 24px !default;
$menu-font-size: 19px !default;
$header-font-size: 24px !default;
$number-font-size: 24px !default;
$number-units-font-size: 20px !default;
$large-number-font-size: 48px !default;
$large-number-units-font-size: 24px !default;
$small-large-number-font-size: 20px !default;
$small-large-number-units-font-size: 16px !default;
$large-large-number-font-size: 64px !default;
$large-large-number-units-font-size: 48px !default;
