// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$border-radius: 4px !default;

$header-height: round($inuit-base-spacing-unit * 3) !default;
$large-header-height: round($inuit-base-spacing-unit * 4) !default;
$small-header-height: round($inuit-base-spacing-unit * 2) !default;
$footer-height: round($inuit-base-spacing-unit * 1.5) !default;
$sparkline-height: $inuit-base-spacing-unit !default; // 24px

$center-column-width: round($inuit-base-spacing-unit * 40) !default; // 960px;
$sidebar-width: round($inuit-base-spacing-unit * 16) !default; // 384px
$nav-width: round($inuit-base-spacing-unit * 8) !default; // 192px
$form-width: round($inuit-base-spacing-unit * 20) !default; // 480px
$compact-form-width: round($inuit-base-spacing-unit * 12) !default; // 288px
$readable-text-width: round($inuit-base-spacing-unit * 24) !default; // 576px
$panel-width: round($inuit-base-spacing-unit * 8) !default;
$small-panel-width: round($inuit-base-spacing-unit * 6) !default;
$large-panel-width: round($inuit-base-spacing-unit * 12) !default;

$graphic-size: round($inuit-base-spacing-unit * 8) !default; // 192px
$graphic-small-size: round($inuit-base-spacing-unit * 4) !default; // 96px
$graphic-large-size: round($inuit-base-spacing-unit * 12) !default; // 288px

// tile sizes allow for graphic + legend + padding
$tile-size: round($inuit-base-spacing-unit * 8) !default;
$tile-small-size: round($inuit-base-spacing-unit * 4) !default;
$tile-large-size: round($inuit-base-spacing-unit * 16) !default;
$tile-extra-large-size: round($inuit-base-spacing-unit * 24) !default;

$control-size: $inuit-base-spacing-unit !default; // 24px

$input-border-width: 1px !default;
$control-border-width: 2px !default;
$button-border-width: 2px !default;
$button-hover-border-width: 3px !default;
$range-border-radius: 3px !default;

$break-palm-max-width: 44.9375em !default;
$break-lap-and-up-min-width: 45em !default;

$breakpoints: (
    "palm"          "screen and (max-width: #{$break-palm-max-width})",
    "lap-and-up"    "screen and (min-width: #{$break-lap-and-up-min-width})"
) !default;

$button-text-transform: none !default;
$button-font-weight: inherit !default;

$inuit-namespace: 'i-';
