// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$border-radius: 4px !default;

$header-height: round($inuit-base-spacing-unit * 3);
$primary-header-height: round($inuit-base-spacing-unit * 4);
$footer-height: round($inuit-base-spacing-unit * 2);

$center-column-width: round($inuit-base-spacing-unit * 40); // 960px;
$nav-width: round($inuit-base-spacing-unit * 8); // 240px
$readable-text-width: round($inuit-base-spacing-unit * 24); // 576px
$panel-width: round($inuit-base-spacing-unit * 8);

$inuit-namespace: 'i-';

$inuit-enable-layout--center: true;
$inuit-enable-box--small: true;
$inuit-enable-table--cosy: true;
$inuit-enable-list-block--small: true;
$inuit-enable-list-block--tiny: true;
$inuit-enable-list-inline--delimited: true;
