// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// Brand

$brand-color: #0080ff !default;
$brand-neutral-colors: (#5b3eff, #cc9933, #d55af2, #79a2bc, #877b75) !default;
$brand-accent-colors: (#ff9e2c, #00cee4) !default;
$brand-link-color: #ff9e2c !default;
$brand-status-colors: (
  error: #dc442f,
  warning: #f4b51e,
  ok: #42a425,
  unknown: #848484,
  disabled: #848484
) !default;
$brand-grey-colors: (#333333, #3B3B3B, #434343, #666666) !default;
@if not variable-exists(brand-graph-colors) {
  $brand-graph-colors: ();
  $brand-graph-colors: join($brand-graph-colors, $brand-accent-colors);
  $brand-graph-colors: join($brand-graph-colors, $brand-neutral-colors);
};
