// (C) Copyright 2014-2016 Hewlett Packard Enterprise Development LP

$grommet-namespace: "grommetux-";

$border-radius: 4px !default;

$header-height: round($inuit-base-spacing-unit * 3) !default;
$large-header-height: round($inuit-base-spacing-unit * 4) !default;
$small-header-height: round($inuit-base-spacing-unit * 2) !default;
$footer-height: round($inuit-base-spacing-unit * 1.5) !default;
$small-footer-height: round($inuit-base-spacing-unit) !default;
$large-footer-height: round($inuit-base-spacing-unit * 4) !default;
$sparkline-height: $inuit-base-spacing-unit !default; // 24px

$size-xsmall: round($inuit-base-spacing-unit * 20) !default; // 480px
$size-small: round($inuit-base-spacing-unit * 24) !default; // 576px
$size-medium: round($inuit-base-spacing-unit * 30) !default; // 720px
$size-large: round($inuit-base-spacing-unit * 40) !default; // 960px

$center-column-width: round($inuit-base-spacing-unit * 40) !default; // 960px;
$sidebar-width: round($inuit-base-spacing-unit * 14) !default; // 336px
$sidebar-small-width: round($inuit-base-spacing-unit * 10) !default; // 240px
$sidebar-large-width: round($inuit-base-spacing-unit * 20) !default; // 480px
$nav-width: round($inuit-base-spacing-unit * 8) !default; // 192px
$form-width: round($inuit-base-spacing-unit * 20) !default; // 480px
$compact-form-width: round($inuit-base-spacing-unit * 12) !default; // 288px
$readable-text-width: round($inuit-base-spacing-unit * 24) !default; // 576px
$panel-width: round($inuit-base-spacing-unit * 8) !default;
$small-panel-width: round($inuit-base-spacing-unit * 6) !default;
$large-panel-width: round($inuit-base-spacing-unit * 12) !default;
$video-width: round($inuit-base-spacing-unit * 24) !default; // 576px
$video-small-width: round($inuit-base-spacing-unit * 10) !default; // 240px
$video-large-width: $size-large; // 960px
$image-width: round($inuit-base-spacing-unit * 24) !default; // 576px
$image-small-width: round($inuit-base-spacing-unit * 10) !default; // 240px
$image-large-width: $size-large; // 960px

$graphic-size: round($inuit-base-spacing-unit * 8) !default; // 192px
$graphic-small-size: round($inuit-base-spacing-unit * 4) !default; // 96px
$graphic-large-size: round($inuit-base-spacing-unit * 12) !default; // 288px
$graphic-xlarge-size: round($inuit-base-spacing-unit * 16) !default; // 384px

// tile sizes allow for graphic + legend + padding
$tile-size: round($inuit-base-spacing-unit * 8) !default; // 192px
$tile-small-size: round($inuit-base-spacing-unit * 4) !default; // 96px
$tile-large-size: round($inuit-base-spacing-unit * 16) !default; // 384px
$tile-extra-large-size: round($inuit-base-spacing-unit * 24) !default; // 576px

$control-size: $inuit-base-spacing-unit !default; // 24px

$button-min-width: round($inuit-base-spacing-unit * 5) !default;
$button-max-width: round($inuit-base-spacing-unit * 16) !default;

$input-border-width: 1px !default;
$input-focus-border-width: 2px !default;
$control-border-width: 2px !default;
$button-border-width: 2px !default;
$button-hover-border-width: 3px !default;
$range-border-radius: 3px !default;
$active-border-width: 4px !default;

$break-palm-max-width: 44.9375em !default;
$break-lap-and-up-min-width: 45em !default;
$break-portable-max-width: 63.9375em !default;

$breakpoints: (
    "palm"          "screen and (max-width: #{$break-palm-max-width})",
    "lap-and-up"    "screen and (min-width: #{$break-lap-and-up-min-width})",
    "portable"      "screen and (max-width: #{$break-portable-max-width})"
) !default;

$brand-link-text-decoration: none !default;

$button-text-transform: none !default;
$button-font-weight: 600 !default;

$inuit-namespace: 'i-';
