// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// Settings
@import "inuit-defaults/settings.defaults";
@import "settings.defaults";
@import "settings.color";
@import "settings.font";
@import "inuit-responsive-settings/settings.responsive";

// Tools
@import "inuit-functions/tools.functions";
@import "inuit-mixins/tools.mixins";
@import "inuit-responsive-tools/tools.responsive";
@import "tools.page";
@import "tools.flexible";
@import "tools.color-index";
@import "tools.pad";

// Generic
@import "inuit-normalize/generic.normalize";
@import "inuit-reset/generic.reset";
@import "inuit-box-sizing/generic.box-sizing";
@import "inuit-shared/generic.shared";

// Base
@import "base";

// Objects
@import "objects";

// Trumps
@import "inuit-clearfix/trumps.clearfix";
