// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// turn off webkit elastic scrolling
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

$document-width: round($inuit-base-spacing-unit * 40); // 960px;
$content-width: round($inuit-base-spacing-unit * 24); // 576px;
$header-height: quadruple($inuit-base-spacing-unit);
$outline-width: round($inuit-base-spacing-unit * 12);
