// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.document {
  position: relative;
  max-width: $document-width;
  margin: 0px auto;

  &__contents {
    position: absolute;
    top: $header-height;
    left: 0px;
    width: $contents-width;

    a {
      display: inline-block;
      height: 100%;
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $hover-text-color;
      }
    }

    &-section {
      margin: halve($inuit-base-spacing-unit) 0px;
    }

    &-page {
      padding-left: $inuit-base-spacing-unit;
    }
  }

  &__content {
    padding-top: $header-height;
    padding-left: $contents-width;
  }

  &--no-contents {
    .document {
      &__content {
        padding-left: 0px;
      }
    }
  }
}
