// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

@mixin document-content {
  width: 100%;
  max-width: $document-width;
  margin-left: auto;
  margin-right: auto;
}

$chapter-header-height: round($inuit-base-spacing-unit * 13);

.document {
  position: relative;

  &__chapters {
    position: absolute;
    top: $header-height + $inuit-base-spacing-unit;
    left: double($inuit-base-spacing-unit);
    right: double($inuit-base-spacing-unit);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    @include media-query(palm) {
      margin-left: $inuit-base-spacing-unit;
      width: $contents-width - quadruple($inuit-base-spacing-unit);
    }

    &-items {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      width: $document-width;
      max-width: 100vw;
    }
  }

  &__chapter {
    @include inuit-font-size($inuit-heading-size-2);
    width: $contents-width - double($inuit-base-spacing-unit);
    margin: 0px;

    a {
      position: relative;
      display: block;
      padding: halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
      color: $accent-inactive-color;
      text-decoration: none;

      &:hover, &.active {
        background-color: $accent-active-background-color;
        color: $accent-active-color;
      }
    }
  }

  &__pages {
    position: absolute;
    top: $header-height + $inuit-base-spacing-unit +
      double($inuit-base-spacing-unit) + halve($inuit-base-spacing-unit);
    left: double($inuit-base-spacing-unit);
    right: double($inuit-base-spacing-unit);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    @include media-query(palm) {
      margin-left: $inuit-base-spacing-unit;
      width: $contents-width - quadruple($inuit-base-spacing-unit);
    }

    &-items {
      -webkit-flex: 0 1 auto;
      flex: 0 1 auto;
      width: $document-width;
      max-width: 100vw;
    }
  }

  &__page {
    @include inuit-font-size($inuit-heading-size-3);
    width: $contents-width - double($inuit-base-spacing-unit);
    margin: 0px;

    a {
      position: relative;
      display: block;
      padding: halve($inuit-base-spacing-unit) halve($inuit-base-spacing-unit);
      text-decoration: none;
    }
  }

  &__chapter-title {
    position: fixed;
    top: $header-height;
    left: 0px;
    right: 0px;
    height: double($inuit-base-spacing-unit);
    @include inuit-font-size($inuit-heading-size-2, double($inuit-base-spacing-unit));
    z-index: 1;

    a {
      display: block;
      @include document-content();
      padding-left: $contents-width;
      text-decoration: none;
      color: $accent-color;
    }
  }

  @for $i from 1 through 5 {
    &.document--active-chapter-#{$i} {
      .document__chapter-title {
        background-color: nth($accent-background-colors, $i);
      }
    }
  }

  &__content {
    padding-top: $header-height + double($inuit-base-spacing-unit);

    header {
      padding-top: double($inuit-base-spacing-unit);
      padding-bottom: double($inuit-base-spacing-unit);
      height: $chapter-header-height;
      overflow: hidden;

      > * {
        @include document-content();
        padding-left: $contents-width;
      }
    }

    section {
      margin-top: $inuit-base-spacing-unit;
      margin-bottom: $inuit-base-spacing-unit;
      padding-top: $inuit-base-spacing-unit;

      > * {
        @include document-content();
        padding-left: $contents-width;
      }

      > img {
        margin-top: $inuit-base-spacing-unit;
        margin-bottom: $inuit-base-spacing-unit;
        display: block;
        width: auto;
      }

      h2 {
        position: relative;
        padding-top: $inuit-base-spacing-unit;

        &:after {
          position: absolute;
          content: '';
          top: 0px;
          left: $contents-width;
          right: 0px;
          border-top: 1px solid $border-color;
        }
      }

      &:first-of-type {
        h2 {
          position: static;

          &:after {
            content: '';
            border: none;
          }
        }
      }
    }
  }

  &--chapter {

    .document__pages {
      top: $header-height + $chapter-header-height +
        double($inuit-base-spacing-unit) + halve($inuit-base-spacing-unit);
    }

    .document__content {
      padding-top: $header-height;
    }

    @for $i from 1 through 5 {
      &.document--active-chapter-#{$i} {
        header {
          background-color: nth($accent-background-colors, $i);
          color: $accent-color;
        }
      }
    }
  }

  &--no-contents {
    .document {
      &__content {
        padding-left: 0px;

        > * {
          max-width: none;
        }
      }
    }
  }

  &__footer {
    position: relative;
    height: quadruple($inuit-base-spacing-unit);
    @include inuit-font-size($inuit-heading-size-2, quadruple($inuit-base-spacing-unit));
    border-width: 1px;
    border-color: $border-color;
    border-style: solid none;
  }

  &__next {
    position: relative;
    @include document-content();
    padding-left: $contents-width;

    a {
      text-decoration: none;
      margin-right: halve($inuit-base-spacing-unit);
    }
  }

  &__top {
    position: absolute;
    right: double($inuit-base-spacing-unit);
    top: 0px;
    display: none;

    &--active {
      display: block;
    }
  }
}

.tbd {
  text-align: center;
  margin: 20vh auto;
  padding: double($inuit-base-spacing-unit);
  @include inuit-font-size(quadruple($inuit-base-spacing-unit));
  font-style: italic;
  background-color: #ccc;
  color: #fff;
}
