// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.panel {
  margin-top: $inuit-base-spacing-unit;
  margin-bottom: $inuit-base-spacing-unit;
  border-bottom: 1px solid $border-color;
  background-color: $background-color;

  &:first-of-type {
    margin-top: 0px;
  }

  &:last-of-type {
    margin-bottom: 0px;
    border-bottom: 0;
  }

  &__title {
    text-transform: uppercase;
    font-weight: normal;
  }

  > a {
    display: block;
  }

  a.call-to-action {
    display: inline-block;
    margin-bottom: $inuit-base-spacing-unit;
    text-decoration: none;
    padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
    border-radius: $brand-round;
    color: $accent-color;
  }

  &--index-1 {
    .panel__title {
      color: nth($accent-background-colors, 1);
    }

    a.call-to-action {
      background-color: nth($accent-background-colors, 1);
    }
  }

  &--index-2 {
    .panel__title {
      color: nth($accent-background-colors, 2);
    }

    a.call-to-action {
      background-color: nth($accent-background-colors, 2);
    }
  }
}
