// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  @include inuit-font-size($inuit-heading-size-4, $header-height);
  white-space: nowrap;
  z-index: 10;
  background-color: $header-background-color;
  transition: all $transition-duration;

  @include media-query(palm) {
    position: absolute;
  }

  &__container {
    max-width: $app-width;
    margin: 0px auto;
  }

  a {
    display: inline-block;
    height: 100%;
    color: $text-color;
    text-decoration: none;
  }

  &__logo {
    display: inline-block;
    vertical-align: top;
    width: halve($header-height);
    height: halve($header-height);
    margin: $inuit-base-spacing-unit;

    g {
      fill: $brand-color;
    }
  }

  &__name {
    display: inline-block;
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__brand {
    @include inuit-font-size($inuit-heading-size-3, $header-height);

    a {
      color: $text-color;
    }
  }

  &--home {
    background-color: transparent;
    color: $primary-text-color;

    .header {

      a {
        color: $primary-text-color;

        &:hover {
          color: $primary-text-color;
        }
      }

      &__logo {
        g {
          fill: $primary-text-color;
        }
      }

      &__brand {
        a {
          color: $primary-text-color;
        }
      }
    }
  }
}
