// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.menu {
  position: relative;
  text-align: right;
  vertical-align: top;

  @include media-query(palm) {
    width: $header-height;
    text-align: left;
  }

  a {
    position: relative;
    color: $secondary-color;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 5px;
      background-color: transparent;
      transition: background-color $transition-duration;

      @include media-query(palm) {
        transition: none;
      }
    }

    &:hover, &.active {
      color: $text-color;

      &:after {
        content: '';
        background-color: $brand-color;
      }
    }
  }

  &__items {
    display: inline-block;

    @include media-query(palm) {
      position: absolute;
      top: $header-height;
      right: 0px;
      background-color: $primary-active-background-color;
      @include inuit-font-size($inuit-heading-size-1);
      display: none;
    }
  }

  &__item {
    display: inline-block;
    margin-right: $inuit-base-spacing-unit;

    @include media-query(palm) {
      display: block;

      a {
        width: 100vw;
        padding: $inuit-base-spacing-unit;

        &:after {
          content: '';
          bottom: 0px;
          width: 5px;
          height: auto;
        }
      }
    }
  }

  &--home {
    a {
      color: $primary-text-color;

      &:hover, &.active {
        color: $primary-text-color;

        &:after {
          content: '';
          background-color: $primary-text-color;
        }
      }
    }
  }

  &--active {
    .menu {
      &__items {
        display: block;
      }
    }

    a {
      color: $primary-text-color;

      &:hover, &.active {
        color: $primary-text-color;
      }
    }
  }
}

.menu_control {

  svg {
    width: $inuit-base-spacing-unit;
    height: $inuit-base-spacing-unit;
  }

  @include media-query(lap-and-up) {
    display: none;
  }

  @include media-query(palm) {
    padding-left: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
    padding-right: $inuit-base-spacing-unit + halve($inuit-base-spacing-unit);
  }
}
