// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.hero {
  display: -webkit-flex;
  display: flex;
  margin-top: quadruple($inuit-base-spacing-unit);

  @include media-query(palm) {
    display: block;
  }

  > * {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    border-right: 1px dashed $border-color;
    padding: double($inuit-base-spacing-unit);

    &:last-child {
      border-right: none;
    }

    img {
      display: inline-block;
      min-width: round($inuit-base-spacing-unit * 8);
      min-height: round($inuit-base-spacing-unit * 8);
      background-color: #eee;
      border: none;
      margin-bottom: $inuit-base-spacing-unit;
    }

    a.call-to-action {
      text-decoration: none;
      padding: halve($inuit-base-spacing-unit) $inuit-base-spacing-unit;
      border-radius: $brand-round;
      color: $background-color;
    }

    &:nth-child(1) {
      a.call-to-action {
        background-color: nth($accent-colors, 1);
      }
    }

    &:nth-child(2) {
      a.call-to-action {
        background-color: nth($accent-colors, 2);
      }
    }
  }
}
