// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

.document {
  position: relative;
  max-width: $document-width + quadruple($inuit-base-spacing-unit);
  margin: 0px auto;

  &__contents {
    position: absolute;
    top: $header-height + $inuit-base-spacing-unit;
    left: 0px;
    margin-left: double($inuit-base-spacing-unit);
    width: $contents-width;

    @include media-query(palm) {
      margin-left: $inuit-base-spacing-unit;
      width: $contents-width - quadruple($inuit-base-spacing-unit);
    }

    a {
      display: inline-block;
      height: 100%;
      color: $text-color;
      text-decoration: none;

      &:hover {
        color: $hover-text-color;
      }
    }

    &-section {
      margin: $inuit-base-spacing-unit 0px quarter($inuit-base-spacing-unit) 0px;

      a {
        font-weight: normal;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          a.active {
            color: nth($accent-colors, $i);
          }
        }
      }
    }

    &-page {
      padding-left: $inuit-base-spacing-unit;
      margin: quarter($inuit-base-spacing-unit) 0px;
    }
  }

  &__content {
    margin-right: double($inuit-base-spacing-unit);
    padding-top: $header-height + double($inuit-base-spacing-unit);
    padding-left: $contents-width;
    padding-bottom: quadruple($inuit-base-spacing-unit);

    @include media-query(palm) {
      padding-left: $contents-width - double($inuit-base-spacing-unit);
      margin-right: $inuit-base-spacing-unit;
    }

    > * {
      max-width: $content-width;
    }

    section {
      border-top: 1px solid $border-color;
      margin-top: $inuit-base-spacing-unit;
      padding-top: $inuit-base-spacing-unit;
    }

    h1, h2, h3, h4, h5 {
      text-transform: uppercase
    }

    img {
      margin: $inuit-base-spacing-unit 0px;
    }
  }

  @for $i from 1 through 5 {
    &--active-section-#{$i} {
      h1, h2, h3, h4, h5 {
        color: nth($accent-colors, $i);
      }
    }
  }

  &--no-contents {
    .document {
      &__content {
        padding-left: 0px;

        > * {
          max-width: none;
        }
      }
    }
  }
}

.tbd {
  text-align: center;
  margin: 20vh auto;
  padding: double($inuit-base-spacing-unit);
  @include inuit-font-size(quadruple($inuit-base-spacing-unit));
  font-style: italic;
  background-color: #ccc;
  color: #fff;
}
