// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  text-align: center;
  padding-top: 100px;
  font-size: 48px;
  color: $text-color;
  font-style: italic;
  z-index: -1;
}

.site {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  //background-color: $background-color;
  color: $text-color;

  @include media-query(palm) {
    position: relative;
  }
}

.site-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: $header-height;
  @include inuit-font-size($inuit-heading-size-2, $header-height);
  //white-space: nowrap;
  z-index: 10;
  background-color: $header-background-color;
  color: $header-color;
  transition: all $transition-duration;

  @include media-query(palm) {
    position: absolute;
  }

  &__container {
    max-width: $document-width + quadruple($inuit-base-spacing-unit);
    margin: 0px auto;
    padding-left: double($inuit-base-spacing-unit);
    padding-right: double($inuit-base-spacing-unit);
    display: -webkit-flex;
    display: flex;

    @include media-query(palm) {
      padding-left: $inuit-base-spacing-unit;
      padding-right: $inuit-base-spacing-unit;
    }
  }

  a {
    display: inline;
    color: $header-color;
    text-decoration: none;
  }

  &__title {
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    @include inuit-font-size(40px, $header-height);
    font-weight: normal;
  }

  &__nav {
    -webkit-flex: 2;
    flex: 2;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;

    > * {
      margin-left: $inuit-base-spacing-unit;
    }

    a {
      white-space: nowrap;

      &:hover {
        border-top: 5px solid #474747;
      }

      &.active {
        border-top: 5px solid #676767;
      }

      @include media-query(lap) {
        @include inuit-font-size($inuit-heading-size-3, $header-height);
      }
      
      @include media-query(palm) {
        @include inuit-font-size($inuit-heading-size-4, $header-height);

        max-width: 20vw;
        overflow: hidden;
        text-overflow: ellipsis;

        &.hide-palm {
          display: none;
        }
      }
    }
  }
}

.site-footer {
  max-width: $document-width + quadruple($inuit-base-spacing-unit);
  margin: 0px auto;
  padding: double($inuit-base-spacing-unit);
  color: $secondary-color;

  @include media-query(palm) {
    padding: $inuit-base-spacing-unit;
  }
}
