// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

$brand-color: #f00;
$background-color: #fff;
$border-color: #ddd;
$text-color: #333;
$hover-text-color: #000;
$secondary-color: #999;
$link-color: #007DBA;

$header-background-color: rgba(255, 255, 255, 0.9);

$accent-colors: (#009865, #0095D5, #FF7932, #CB3265, #9832CB);
