// (C) Copyright 2014-2015 Hewlett-Packard Development Company, L.P.

// Settings
@import 'inuit-defaults/settings.defaults';
@import 'settings.defaults';
@import 'settings.color';
@import 'inuit-responsive-settings/settings.responsive';

// Tools
@import 'inuit-functions/tools.functions';
@import 'inuit-mixins/tools.mixins';
@import 'inuit-responsive-tools/tools.responsive';

// Generic
@import 'inuit-normalize/generic.normalize';
@import 'inuit-reset/generic.reset';
@import 'inuit-box-sizing/generic.box-sizing';
@import 'inuit-shared/generic.shared';

// Base
@import 'inuit-page/base.page';
$inuit-heading-size-1:  24px;
$inuit-heading-size-2:  20px;
$inuit-heading-size-3:  18px;
$inuit-heading-size-4:  16px;
$inuit-heading-size-5:  14px;
$inuit-heading-size-6:  12px;
@import 'inuit-headings/base.headings';
@import 'inuit-lists/base.lists';
@import 'inuit-images/base.images';
@import 'inuit-paragraphs/base.paragraphs';

@import 'base.font';
@import 'base.icon';
@import 'base.animation';

// Objects
$inuit-enable-table--cosy: true;
@import 'inuit-tables/objects.tables';
@import 'inuit-block/objects.block';
@import 'inuit-buttons/objects.buttons';
@import 'inuit-flag/objects.flag';
@import 'inuit-media/objects.media';

@import 'objects.site';
@import 'objects.details';

// Trumps
@import 'inuit-clearfix/trumps.clearfix';
@import 'inuit-headings-trumps/trumps.headings';
@import 'inuit-print/trumps.print';
